﻿@{
       ViewBag.Title = "CurrentAvailability";
}

<div id="report_display" style="">
    <h2>Current Availability Report</h2>

    <div id="filters_display">


        <a id="get_report_button" class="action_buttons">Run Report</a>

    </div>
    <div style="float:right;padding-right:50px">
        <a id="export_button" style="float:right" class="action_buttons">Export</a>
    </div>
    <div id="report_table_div">
        <table id="reportTable" class="reportdata_table" border="0">
            <tbody>
                <tr>
                    <td>Report Results will appear here.</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

@section scripts {
    <script src="~/Scripts/jquery.tabletoCSV.js"></script>
    <script src="~/ViewModels/Reports/CurrentAvailability1.js"></script>
   <script>
    
        $(document).ready(function () {
            viewModel.Init();
            //Set Breadcrumbs:
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Current Availability", Href: "CurrentAvailability", Title: "Availability", State: "Active" });
            //breadCrumbs.push({ Id: "", Type: "span", Text: response.CategoryName + ' ' + response.FormName, Href: "", Title: "You are here!", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "Download", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);
                    //alert("crumb" + model.state.queryString.category() + model.state.queryString.form());
        });
    </script>
}
@section styles {
    <link href="~/Content/styles/Reports.css" rel="stylesheet" />
    <link href="~/Content/styles/Availability2.css" rel="stylesheet" />
    @*<link href="~/Content/styles/eps_tools.css" rel="stylesheet" />*@
}






