﻿@{
    ViewBag.Title = "CurrentAvailability2";
}

@using (Ajax.BeginForm("RunCurrentAvailabilityReport", "Availability2",
     new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "xViewer", OnBegin = "reportRunStart()", OnComplete = "reportRunEnd()", OnFailure = "reportRunEnd()" },
    //  new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "xViewer" },
    new { @class = "form-horizontal" }))
{

    <div id="report_display" style="">
        <h2>Current Availability Report</h2>

        <div id="filters_display">


            <label for="cboSupplier">Supplier:</label>
            <select id="cboSupplier" name="cboSupplier" style="width:250px">
                <option value="00000000-0000-0000-0000-000000000000" selected>All</option>
                <option value="71D07E12-7928-4A4F-9FFC-1AA3406A8E5F">Innovaplant</option>
                <option value="F4B5BD13-D6CE-44A4-8DD0-21BD2346CF1B">Santa Paula</option>
                
            </select>

            <label for="cboProductForm">Product Form:</label>
            <select id="cboProductForm" name="cboProductForm" style="width:250px">
                <option value="00000000-0000-0000-0000-000000000000" selected>All</option>
                <option value="4100D28E-FFAE-4771-B332-F0F012A48A97">Unrooted</option>
                <option value="DA1F58C6-D803-470F-8ADA-925CEA482192">Autostix</option>

            </select>

           

            <button class="action_buttons" type="submit" id="RunReport" name="RunReport">Run Report</button>
        </div>


        <div class="h_iframe" style="margin: 10px auto !important;" id="xViewer">
            
        </div>
    </div>
}




@section scripts {
    <script src="~/Scripts/jquery.tabletoCSV.js"></script>
    <script src="~/Scripts/eps_tools.js"></script>
    <script src="~/ViewModels/Reports/CurrentAvailability2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script>

        $(document).ready(function () {
            viewModel.Init();
            //Set Breadcrumbs:
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Current Availability", Href: "CurrentAvailability", Title: "Availability", State: "Active" });
            //breadCrumbs.push({ Id: "", Type: "span", Text: response.CategoryName + ' ' + response.FormName, Href: "", Title: "You are here!", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "Download", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);
            //alert("crumb" + model.state.queryString.category() + model.state.queryString.form());
        });
    </script>
}
@section styles {
    <link href="~/Content/styles/Reports.css" rel="stylesheet" />
    <link href="~/Content/styles/Availability2.css" rel="stylesheet" />
    @*<link href="~/Content/styles/eps_tools.css" rel="stylesheet" />*@
}






