﻿
#reset_password_request_form  {
    margin:0;
    padding:0;

    font-family: Helvetica;
    /*font-weight: 400;*/
    font-size: 16px;
    color: #9bc718;
    /*letter-spacing: .08em;*/

    background: transparent;
    /*border:2px solid #444;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;*/

}

    #reset_password_request_form .form_status_display {
        width: 500px;
        height: 80px;
        overflow:hidden;
        margin: 0;
        padding:0 0 15px 0;
        font-family: Helvetica;
        font-size: 16px;
        color: #9bc718;
        letter-spacing: .08em;
        text-align: center;
        vertical-align: middle;
        background: transparent;

    }

    #reset_password_request_form label {
            display: inline;
            color: #fff;
            font-family: Helvetica;
            font-size: 16px;
            font-weight: 400;
        }

    #reset_password_request_form input[type=text] {
            width:350px;
            border:none;
            color: #fff;
            font-family: Helvetica;
            font-size: 14px;
            font-weight: 400;
            background:transparent;
            border-bottom: 1px solid #9bc718;
        }



#reset_password_request_form_cancel {
    width:80px;
    height: 25px;
    padding: 0;
    color: #ccc;
    font-family: 'ProximaNovaLtLight', sans-serif;
    font-size: 14px;
    font-weight: normal;
    border: none;
    background: #666;

}

#reset_password_request_form_cancel:hover {
    background:#287d87;
}

#reset_password_request_form_submit {
    position: absolute;
    width:120px;
    height: 35px;
    padding: 0;
    color: #fff;
    font-family: 'ProximaNovaLtLight', sans-serif;
    font-size: 16px;
    font-weight: normal;
    bottom: 2px;
    border: none;
    background: #9bc718 url('/images/layout/green_pointer.png') no-repeat 90% 50%;
    
}

#reset_password_request_form_submit:hover {
    background-color:#287d87;
}

#reset_password_request_form_ok {
    display:none;
    position: absolute;
    width:80px;
    height: 35px;
    padding: 0;
    color: #fff;
    font-family: 'ProximaNovaLtLight', sans-serif;
    font-size: 16px;
    font-weight: normal;
    bottom: 2px;
    border: none;
    background: #9bc718 url('/images/layout/green_pointer.png') no-repeat 90% 50%;

}

#reset_password_request_form_ok:hover {
    background-color:#287d87;
}
