﻿@charset "UTF-8";

body {
	font: 90%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
	color: #646563;
}

a {
    text-decoration: none;
    color: #888;
}

a#add_to_cart_button {
	float:right;
	width:auto;
}
a#add_to_cart_button2 {
	float:right;
	width:auto;
}
a#add_to_cart_button3 {
	float:right;
	width:auto;
}

a#view_cart_button {
	float:right;
	width:auto;
}
a#view_cart_button2 {
	float:right;
	width:auto;
}
a#view_cart_button3 {
	float:right;
	width:auto;
}

.action_buttons {
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
    padding: 6px 22px;
    color: #4c9466 !important;
    text-decoration: none;
    background-color: #bbcfd6;
    border: 1px solid #4c9466;
    cursor: pointer;
	
}

.menu {
	z-index: 1000000 !important;
	position: relative !important;
	}

a.action_buttons:hover {
    color: #bbcfd6 !important;
	background-color: #4c9466;
	border: 1px solid #bbcfd6;
}

#stayVisibleHeader {
	width: 100%;
	position: relative;
	z-index:1000;
	margin-top: 1em;
}

.greyBox {
    background-color: #e8e8e8;
    text-align: right;
    width: auto;
    float: right;
    padding: 1em 1.5em;
    font-size: .6em;
    margin-right: 1em;
}

#weekSelector {
	width:auto;
	float:right;
	padding: 0 1em;
	font-size: .8em;
	line-height: 2.5em;
}


.arrow {
    float: right;
	margin-left: 8px;
}

.arrow img {
    padding: 0 5px;
}


#clear{
	clear:both;
}

#greenHeaderRow {
	width:100%;
	height: 40px;
	margin-top: 10px;
}

#greenHeaderRow.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}

.resultsBar{
	padding: .45em 0;
	width: 56.2%;
	float:left;
	margin: 0 .3% 0 0;
    background: #efe1f3;
    color: #FFFFFF !important;
}

.resultsNumber {
    color: #fff;
    font-size: .6em;
    float: left;
    padding: 1em 1.5em;
}

.dropdown {
    float: right;
    color: #fff;
    font-size: .8em;
    padding: .6em;
}

select#cbo_Add_To_Order {
    padding: 5px;
    margin: 0px 0px 0px 5px;
}


.weekBox {
   padding: 5px 0;
   float: left;
   width: 10%;
   margin: 0 .3%;
   font-weight: bold;
   font-size: 1.5em;
   text-align: center;
   background-color:#d3d3d3;
    color: #FFFFFF !important;
}

.weekColumn {
   width: 12.5%;
   float: left;
   margin: 0 .3%;
   text-align: center;
}

#results_main {
	position: relative;
	z-index:0;
	
}

#refineSearchColumn {
    width: 15%;
	float: left;
    border-right: 1px solid #ededed;
    padding: 0 1%;
	font-size: .8em;
	min-height: 600px;
}

#refineSearchColumn h3 {
    font-size: 1.2em;
    font-weight: normal;
    color: #888;
}

#searchSupplier h2, #searchSpecies h2 {
    color: #3c7f87;
    font-weight: bold;
    font-size: 2em;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 5px 0;
    background-image: none;
}

.select {
    text-decoration: none;
    color: #888;
}

#refine_supplier_list,
#refine_species_list {
	padding: .5% 0;
}

a.greyButton {
    background-color: #ededed;
    padding: .5em 2em;
	line-height: 5em;
}

#resultsRow {
    float: right;
    width: 81%;
    border-bottom: 1px solid #ededed;
	padding: .5em 0;
}

.productInfoColumn1 {
    float: left;
    width: 30%;
}

.productInfoColumn2 {
	float: left;
    width: 16%;
	margin: 0 .3% 0 0;
}

.title {
    color: #3c7f87;
}



.week_order_input {
    width: 70px;
    padding: 2px;
    text-align: center;
    color: #aaa;
}

.order_quantity_inputs {
    width:70px;
    height:15px;
    margin: 0;
    padding: 2px;
    font: 100% / 1.5 Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #aaa;
    text-align:center;
    border: 1px solid #33848D;
}


#resultsFooterRow {
	float: right;
    width: 81%;
	margin-left: 1em;
}

a#load_more_results_button {
    background-color: #9bcb3d;
    padding: 1em;
    color: #fff;
    line-height: 5em;
	/*visibility:hidden;*/
}

a#load_more_results_button:hover {
    color: #222;
}

.column_footer_left {
    width: 46%;
    float: left;
	margin: 0 .3% 0 0;
}

.column_footer {
    padding: .5% 0;
width: 12.5%;
float: left;
margin: 0 .3%;
text-align: center;
}

.column_footer .greyBox {
    text-align: center;
    width: 50px;
    float: none;
    padding: .5em 1.5em;
    font-size: .6em;
    margin: 0 auto;
}

.column_footer .dropdown {
    float: none;
    color: #222;
	font-size: .6em;
}

#stayVisibleFooter {
    clear: both;
    border-top: 1px solid #93bec3;
    margin: 1em 0;
    padding: 1em 0;
}

a.blueButton {
    background-color: #bbcfd6;
    color: #fff;
    padding: .4em .8em;
    font-size: .8em;
}

a.blueButton:hover {
    background-color:  #3c7f87;
}

#back_to_top_button {
	
}

#view_volume_levels_button {
	
}

a#add_to_cart_button {
	
}

a#view_cart_button {
	
}




/* Mobile Layout: 480px and below. Displays 1 week column*/

	#stayVisibleHeader #add_to_cart_button,
	#stayVisibleHeader #view_cart_button,
	#stayVisibleHeader .greyBox{
		display:none;
	}
	
	#results_main {
    width: 98%;
    margin: 0 1%;
}
  
#weekCol2,
#weekCol3,
#weekCol4 {
	display:none;
 }
 
 .resultsBar {
    width: 78%;
}

 .weekBox {
    width: 21%;
 }
 .column_footer {
    width: 28%;
 }
 
 #refineSearchColumn {
    width: 100%;
    float: none;
    border-right: none;
    padding: 0;
    font-size: .6em;
    min-height: 10px;
    margin: 0;
}
 
 #refineSearchColumn h3 {
    display: none;
}

#refine_search_expanded {
   /*display:none;*/	
}

#searchSupplier h2, #searchSpecies h2 {
    color: #3c7f87;
    font-size: 1.5em;
    border-top: none;
    border-bottom: none;
    padding: 8px 12px;
    background-image: none;
}

  #resultsRow {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ededed;
    padding: .8em 0;
}

.productInfoColumn1, .productInfoColumn2 {
    float: none;
    width: 70%;
}

.weekColumn {
    width: 25%;
    float: right;
    margin: -80px 5% 0 0;
    text-align: center;
}


#resultsFooterRow {
    float: none;
    width: 100%;
    margin-left: 0;
}

.column_footer_left {
    width: 70%;
    float: left;
    margin: 0;
}

.greyBox {
    width: 100%;
    float: none;
    padding: 1em 0;
    font-size: .6em;
    margin-right: 1em;
    margin-bottom: 5px;
    clear: both;
}

#checkout_display_mobile{
   display:block;	
}
#checkout_display_desktop{
   display:none;	
}

a.blueButton {
    line-height: 4em;
}


/* Tablet Layout: 481px to 780px. Inherits styles from: Mobile Layout. Displays 2 week columns */

@media only screen and (min-width: 481px) {
	
	#weekCol1,
    #weekCol2 {
	display:block;
 }
 
    #weekCol3,
    #weekCol4 {
	display:none;
 }
 
 .resultsBar {
    width: 60%;
}

 .weekBox, .column_footer {
    width: 21%;
 }

.weekColumn {
    width: 19.8%;
    margin: 0;
    float: left;
}
 
 .weekBox {
	 width: 19%;
 }
 
 .productInfoColumn1 {
    float: left;
    width: 35%;
}

.productInfoColumn2 {
	float: left;
    width: 25%;
	margin: 0 .3% 0 0;
}

}

@media only screen and (max-width: 781px) {
         #searchSupplier h2, #searchSpecies h2 {
              background: url("/Images/Availability/plus.png");   
              background-repeat: no-repeat;
              background-position: right; 
          }
}

/* Desktop Layout: 781px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout.Displays 4 week columns*/

@media only screen and (min-width: 781px) {

	#stayVisibleHeader #add_to_cart_button,
	#stayVisibleHeader #view_cart_button,
	#stayVisibleHeader .greyBox{
		display:block;
	}

    #weekCol1,
	#weekCol2,
    #weekCol3,
    #weekCol4 {
	display:block;
 }
 
 .weekBox {
   width: 10%;
}

.weekColumn {
   width: 12.5%;
}

#refineSearchColumn h3 {
    display: block;
}

a#add_to_cart_button {
	float:right;
	width:auto;
}

a#view_cart_button {
	float:right;
	width:auto;
}

.action_buttons {
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
    padding: 6px 22px;
    color: #4c9466 !important;
    text-decoration: none;
    background-color: #bbcfd6;
    border: 1px solid #4c9466;
    cursor: pointer;
}

#stayVisibleHeader {
	width: 100%;
	position: relative;
	z-index:1000;
	margin-top: 1em;
}

.greyBox {
    background-color: #e8e8e8;
    text-align: right;
    width: auto;
    float: right;
    padding: 1em 1.5em;
    font-size: .6em;
    margin-right: 1em;
	clear: none;
}

#weekSelector {
	width:auto;
	float:right;
	padding: 0 1em;
	font-size: .8em;
	line-height: 2.5em;
}


.arrow {
    float: right;
	margin-left: 8px;
}

.arrow img {
    padding: 0 5px;
}


#clear{
	clear:both;
}

#greenHeaderRow {
	width:100%;
	height: 40px;
	margin-top: 10px;
}

.resultsBar{
	background-color: #d3d3d3;
	padding: .45em 0;
	width: 56.2%;
	float:left;
	margin: 0 .3% 0 0;
}

.resultsNumber {
    color: #fff;
    font-size: .6em;
    float: left;
    padding: 1em 1.5em;
}

.dropdown {
    float: right;
    color: #fff;
    font-size: .8em;
    padding: .6em;
}


.weekBox {
   background-color: #d3d3d3;
   padding: 5px 0;
   float: left;
   width: 10%;
   margin: 0 .3%;
   color: #fff;
   font-weight: bold;
   font-size: 1.5em;
   text-align: center;
}

.weekColumn {
   width: 12.8%;
   float: left;
   margin: 0 .3%;
   text-align: center;
}

#results_main {
	position: relative;
	z-index:0;
	
}

#refineSearchColumn {
    width: 15%;
	float: left;
    border-right: 1px solid #ededed;
    padding: 0 1%;
	font-size: .6em;
	min-height: 600px;
}

#refineSearchColumn h3 {
    font-size: 1.2em;
    font-weight: normal;
    color: #888;
}

#refine_search_expanded {
   display:block;	
}

#searchSupplier h2, #searchSpecies h2 {
    color: #3c7f87;
    font-weight: normal;
    font-size: 1.2em;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 5px 0;
    background-image: none;
}

.select {
    text-decoration: none;
    color: #888;
}



a.greyButton {
    background-color: #ededed;
    padding: .5em 2em;
	line-height: 5em;
}

#resultsRow {
    float: right;
    width: 81%;
    border-bottom: 1px solid #ededed;
	padding: .5em 0;
}

.productInfoColumn1 {
    float: left;
    width: 30%;
}

.productInfoColumn2 {
	float: left;
    width: 16%;
	margin: 0 .3% 0 0;
}

.title {
    color: #3c7f87;
}

.week_order_input {
    width: 70px;
    padding: 2px;
    text-align: center;
    color: #aaa;
}
.order_quantity_inputs {
    width:70px;
    height:15px;
    margin: 0;
    padding: 2px;
    font: 100% / 1.5 Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #aaa;
    text-align:center;
    border: 1px solid #4c9466;
}

#resultsFooterRow {
	float: right;
    width: 81%;
	margin-left: 1em;
}

a#load_more_results_button {
    background-color: #4c9466;
    padding: 1em;
    color: #fff;
    line-height: 5em;
}

a#load_more_results_button:hover {
    color: #222;
}

.column_footer_left {
    width: 46%;
    float: left;
	margin: 0 .3% 0 0;
}

.column_footer {
    padding: .5% 0;
width: 12.5%;
float: left;
margin: 0 .3%;
text-align: center;
}

.column_footer .greyBox {
    text-align: center;
    width: 50px;
    float: none;
    padding: .5em 1.5em;
    font-size: .6em;
    margin: 0 auto;
}

a.blueButton {
    line-height: 1em;
}

#checkout_display_mobile{
   display:none;	
}
#checkout_display_desktop{
   display:block;	
}

}

#refine_supplier_list,
#refine_species_list {
	padding: .5% 0;
}


/*Michaels way of doing checkboxes*/
 .selection_available {
            background: transparent url('/Images/layout/checkbox_bg.png') 0 6px no-repeat;
            cursor:pointer;
        }
        .selection_selected {
            background: transparent url('/Images/layout/checkbox_checked_bg.png') 0 1px no-repeat;
            cursor:pointer;
        }
        .selection_disabled {
            font-weight:bold;
            color:#888;
            background: transparent;
            letter-spacing:.08em;
            cursor:text;
        }

#refine_supplier_list {
    /*height: 200px;
    max-height:153px;
    overflow-y: scroll;*/

}
#refine_supplier_list ul {
    /*list-style: none;
    background: transparent;
    margin: 0 0 20px 15px;
    padding: 0;
    vertical-align: baseline;*/
}

#refine_supplier_list ul li {
    /*display: list-item;
    margin: 0 0 2px 0;*/
    padding: 3px 0 2px 20px;
    list-style: none;
    /*vertical-align: baseline;
    
    color: #737474;
    font: 100% / 1.5 Helvetica, Arial, sans-serif;*/
    font-size: 12px;
    text-transform: uppercase;

}
#refine_species_list {
    /*max-height:450px;
    overflow-y: scroll*/;

}
#refine_species_list ul {
    /*list-style: none;
    background: transparent;
    margin: 0 0 20px 15px;
    padding: 0;
    vertical-align: baseline;*/
}

#refine_species_list ul li {
    /*display: list-item;
    margin: 0 0 2px 0;*/
    padding: 3px 0 2px 20px;
    list-style: none;
    /*vertical-align: baseline;
    
    color: #737474;
    font: 100% / 1.5 Helvetica, Arial, sans-serif;*/
    font-size: 12px;
    text-transform: uppercase;

}

#refine_search_dialog_header {
     height:31px;
     margin:5px 0px;
     border-bottom: 0px solid #f00;
        }

p#refine_search {
    float: left;
    width: 50%;
    text-align: left;
}

a#refine_search_go {
    float: right;
    text-align: center;
}
a#refine_search_go2 {
    float: right;
    text-align: center;
}
		
#refine_search_dialog_header p {
            display: block;
            height:30px;
            width:45%;
            margin:0;
            padding: 8px 0 0 0;
            font: 100% / 1.5 Helvetica, Arial, sans-serif;
            font-size:12px;
            text-transform: uppercase;
            cursor: pointer;
        }
        #refine_search_dialog_header p:hover {
            color: #fff;
            text-decoration: none;
            border-left: 0px solid #ccc;
        }


#ship_week_list_container {
    position:absolute;
    z-index: 10000;
    left:800px;
    top:350px;
    width:125px;
    height:200px;
    display:none;
    border:solid 1px #999;
    background: #fff;
}

#ship_week_list_display {
    height: 185px;
    max-height:185px;
    overflow-y: scroll;

}

#ship_week_list_display ul {
    list-style:none;
    margin: 0;
    padding: 0 0 0 6px;

}

#ship_week_list_display ul li {
    cursor: pointer;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 3px 0 2px 2px;
    font: 100% / 1.5 Helvetica, Arial, sans-serif;
    font-weight:normal;
    font-size: 11px;
    color: #287d87;
    vertical-align: baseline;
}

#ship_week_list_display ul li:hover {
    text-decoration:underline;
}

#ship_week_list_footer {
height: 15px;
text-align: center;
background: #287d87;

}
#ship_week_list_footer img {
width:12px;
height:8px;
padding-bottom:5px;
}
 #ship_week_selector {
            display: inline-block;
            margin:0;
            padding:0 5px 10px 8px ;
            vertical-align: baseline;
            /*color:#fff;*/
            cursor: pointer;
        }

 
#filter_availability_display {
    height: 25px;
    margin: 0;
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #4c9466;
}

#filter_availability_display span {
    display: list-item;
    margin: 0 0 2px 0;
    padding: 3px 0 2px 20px;
    list-style: none;
    vertical-align: baseline;
    color: #737474;
    font: 80% / 1.5 Helvetica, Arial, sans-serif;
    font-size: 12px;
    /*text-transform: uppercase;*/
}

#filter_organic_display {
    height: 25px;
    margin: 0;
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #4c9466;
}

#filter_organic_display span {
    display: list-item;
    margin: 0 0 2px 0;
    padding: 3px 0 2px 20px;
    list-style: none;
    vertical-align: baseline;
    color: #737474;
    font: 80% / 1.5 Helvetica, Arial, sans-serif;
    font-size: 12px;
    /*text-transform: uppercase;*/
}
.beta_link {
    text-decoration: underline;
    cursor: pointer;  
    color: white;
}

#add_to_order_link1, #add_to_order_link2, #add_to_order_link3, #add_to_order_link4 {
    font: 13px / 1.5 Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #646563;
    padding-right: 22px;
    padding-left: 20px;
    /*padding-bottom: 2px;*/
    cursor: pointer;
    /*background: url(/images/layout/green_pointer.png) right center no-repeat;*/
    border: 1px solid #4c9466;
}

#gflinks p {
    display:inline-block;
    float:left;
    margin:5px;
    padding:10px;
    text-decoration:underline;
    color:#4c9466;
}