﻿

/*light green 9bc718*/

/*dark green 287d87*/

#beta_link_div {
    display: inline-block;
    margin: 0 0 0 50px ;
    padding: 10px 0 0 0;  
    font-family: 'ProximaNovaLtLight',sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: transparent;
    text-decoration: none;
    /*letter-spacing: .02em;*/
    color: #737474;
}

.beta_volume_link {
    text-decoration: underline;
    cursor: pointer;  
color: #9bc718;
}












#ship_week_list_container {
    position:absolute;
    z-index: 100;
    left:800px;
    top:350px;
    width:125px;
    height:200px;
    display:none;
    border:solid 1px #999;
    background: #fff;
}

#ship_week_list_display {
    height: 185px;
    max-height:185px;
    overflow-y: scroll;

}

#ship_week_list_display ul {
    list-style:none;
    margin: 0;
    padding: 0 0 0 6px;

}

#ship_week_list_display ul li {
    cursor: pointer;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 3px 0 2px 2px;
    font: 100% / 1.5 Helvetica, Arial, sans-serif;
    font-weight:normal;
    font-size: 11px;
    color: #287d87;
    vertical-align: baseline;
}

#ship_week_list_display ul li:hover {
    text-decoration:underline;
}

#ship_week_list_footer {
height: 15px;
text-align: center;
background: #287d87;

}
#ship_week_list_footer img {
width:12px;
height:8px;
padding-bottom:5px;
}


    #refine_search_tab {
        position: absolute;
        margin: 0;
        padding: 0;
        z-index:1000;
        left: 0;
        top: 195px;
        /*right: 60px;*/
        width: 60px;
        height: 123px;
        /*background: transparent url('/Images/availability/refine_search.png') no-repeat 0 0;*/
        border: 0;
        cursor: pointer;
    }


    #refine_search_dialog {
        position: absolute;
        display:none;
        margin: 0;
        padding: 0;
        z-index:999;
        left: 0;
        top: 200px;
        /*left: -230px;*/
        background: white;
        /*right: 60px;*/
        width: 230px;
        height: 776px;
        border: 1px solid #000;
        box-shadow: 0 0 5px 3px #ccc;
    
    }
        #refine_search_dialog_header {
            height:31px;
            margin:0;
            padding: 0px 15px 0 0;
            text-align:right;
            background: #287d87;
            background: transparent url('/Images/availability/refine_search_close.png') no-repeat 0 0;
            border-bottom: 0px solid #f00;
        }
        #refine_search_dialog_header p {
            display: block;
            float:right;
            overflow: hidden;
            height:30px;
            width:21px;
            margin:0;
            padding: 8px 0 0 0;
            font: 100% / 1.5 Helvetica, Arial, sans-serif;
            font-size:12px;
            text-align:left;
            text-decoration: none;
            color: #737474;
            text-transform: uppercase;
            cursor: pointer;
            border-left: 0px solid #f00;
        }
        #refine_search_dialog_header p:hover {
            color: #fff;
            text-decoration: none;
            border-left: 0px solid #ccc;
        }

        #refine_search_dialog h3 {
            color: #9bc718;
            margin: 0;
            padding: 2px 0 2px 15px;
            /*border-top: 1px solid #287d87;*/
            /*border-right: 1px solid #287d87;*/
            border-bottom: 1px solid #287d87;
            font-family: 'ProximaNovaRgRegular';
            font-size: 24px;
            font-weight: normal;
            background: transparent url('/Images/layout/down_arrow.png') 97.2% center no-repeat;
        }



#filter_availability_display {
    height: 25px;
    margin: 0;
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #287d87;
}

#filter_availability_display span {
    display: list-item;
    margin: 0 0 2px 0;
    padding: 3px 0 2px 20px;
    list-style: none;
    vertical-align: baseline;
    color: #737474;
    font: 80% / 1.5 Helvetica, Arial, sans-serif;
    font-size: 12px;
    /*text-transform: uppercase;*/
}

#filter_organic_display {
    height: 25px;
    margin: 0;
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #287d87;
}

#filter_organic_display span {
    display: list-item;
    margin: 0 0 2px 0;
    padding: 3px 0 2px 20px;
    list-style: none;
    vertical-align: baseline;
    color: #737474;
    font: 80% / 1.5 Helvetica, Arial, sans-serif;
    font-size: 12px;
    /*text-transform: uppercase;*/
}


#supplier_list_container {

    border-bottom: 1px solid #287d87;

}
#supplier_list_display {
    height: 200px;
    max-height:153px;
    overflow-y: scroll;

}
#supplier_list_display ul {
    list-style: none;
    background: transparent;
    margin: 0 0 20px 15px;
    padding: 0;
    vertical-align: baseline;
}

#supplier_list_display ul li {
    display: list-item;
    margin: 0 0 2px 0;
    padding: 3px 0 2px 20px;
    list-style: none;
    vertical-align: baseline;
    
    color: #737474;
    font: 100% / 1.5 Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;

}

#secies_list_container {

    border-bottom: 1px solid #287d87;
}



#species_list_display {
    max-height:450px;
    overflow-y: scroll;

}
#species_list_display ul {
    list-style: none;
    background: transparent;
    margin: 0 0 20px 15px;
    padding: 0;
    vertical-align: baseline;
}

#species_list_display ul li {
    display: list-item;
    margin: 0 0 2px 0;
    padding: 3px 0 2px 20px;
    list-style: none;
    vertical-align: baseline;
    
    color: #737474;
    font: 100% / 1.5 Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;

}
/*
#supplier_list_display ul li label {
    color: #737474;
    font-size: 12px;
    text-transform: uppercase;
    font: 100% / 1.5 Helvetica, Arial, sans-serif;
}
#supplier_list_display ul li label span{
    display: inline-block;
    width: 12px;
    height: 18px;
    margin-right: 10px;
    background: url('/Images/layout/checkbox_bg.png') left 6px no-repeat;
    cursor: pointer;

}
#supplier_list_display ul li input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
    display: none;
}
    */


        .selection_available {
            background: transparent url('/Images/layout/checkbox_bg.png') 0 6px no-repeat;
            cursor:pointer;
        }
        .selection_selected {
            background: transparent url('/Images/layout/checkbox_checked_bg.png') 0 1px no-repeat;
            cursor:pointer;
        }
        .selection_disabled {
            font-weight:bold;
            color:#888;
            background: transparent;
            letter-spacing:.08em;
            cursor:text;
        }


select#cbo_Add_To_Order {
    padding: 5px;
    margin: 0px 0px 0px 5px;
}





table, thead, tbody, td, th
{
    margin:0;
    padding:0;
}
    
    #results_selection_display {
        clear: both;
        margin: 10px 0 0 0;
        text-align: right;
    }
    
        #results_selection_display #total_results_span {
            font: 100% / 1.5 Helvetica, Arial, sans-serif;
            font-weight: normal;
            letter-spacing:.06em;
            font-size: 11px;
            color: #287d87;
        }


    #banner_display {
        clear:both;
        margin:0 0 25px 0;
        padding:0;
    }
        #banner_display p {
            width:700px;
            margin:0;
            padding:0;
            vertical-align: baseline;
            font: 100% / 1.5 Helvetica, Arial, sans-serif;
            background: transparent;
            color: #646563;
        }

    #availability_heading_section {
        clear:both;
        margin:0px 20px; /*added by Suzanne 8-21-15*/
        padding:0;
        font-family: 'ProximaNovaLtLight';
        font-size: 18px;
        background: #fff;
        border-top: solid 2px #287d87;
    }
        #heading_label{
            float:left;
            margin:0;
            padding:3px 15px;
            width:100px;
            height:32px;
            background: #287d87;
            color:#fff;
        }
        #ship_week_selection_display {
            float:right;
            width: 200px;
            height: 30px;
            margin:0;
            padding:0 0 3px 0;
            font: 100% / 1.5 Helvetica, Arial, sans-serif;
            color:#fff;
            text-align: center;
            font-size: 12px;
            border-top: 2px solid #287d87;
            font-weight: bold;
            background: #287d87;
        }

        #ship_week_selector {
            display: inline-block;
            margin:0;
            padding:0 5px 10px 8px ;
            vertical-align: baseline;
            color:#fff;
            cursor: pointer;
        }
        #image_ship_week_prior, #image_ship_week_next
        {
            cursor:pointer;
        }
        #image_ship_week_prior {
            padding: 5px 12px 0 0;
            border-right: 1px solid #fff;
        }
        #image_ship_week_next {
            padding: 0 0 0 12px;
            border-left: 1px solid #fff;

        }



/**************************** Grid Styles ************************************/
    #availability_grid_container
    {
        clear: both;
        /*width:95%;*/
        margin:60px 20px 65px;
        padding:0;
        border:solid 0px #f00;
    }

        table#outer_table {
            width: 97%;
            margin:0;
            padding:0;
            border: solid 0px #0f0;
        }
            table#outer_table thead tr th {
                /*width: 115px;*/
                /*color:#999;*/
                border-left: solid 0px #f00;
            }
			table#outer_table thead tr th.headerCol_4 {
				width: 6%;
			}
			table#outer_table thead tr th.headerCol_1 {
				width: 8%;
			}
			table#outer_table thead tr th.headerCol_2 {
				width: 12%;
			}
			table#outer_table tfoot tr.footerRow_0 td.footerCol_4
            , table#outer_table tfoot tr.footerRow_1 td.footerCol_4
            , table#outer_table tfoot tr.footerRow_2 td.footerCol_4
            , table#outer_table tfoot tr.footerRow_3 td.footerCol_4
            , table#outer_table tfoot tr.footerRow_4 td.footerCol_4
            {
				padding-left: 75px;
			}

            #inner_table_container {
                width:100%;
                margin:0;
                padding:0;
                min-height:500px;
                /*overflow:hidden;*/
                /*overflow-y:scroll;*/
            }


table#outer_table thead tr
{
    height: 40px;
    width: 100%;
}
            
table#outer_table thead th
{
    width: 9%;
}



h5.grid_heading_sortable {
    margin:0;
    padding:0 0 0 0px;
    vertical-align: bottom;
    font-family: 'ProximaNovaLtLight';
    font-weight: normal;
    color: #9bc718;
    font-size: 16px;
    cursor:pointer;

}
/*h5.grid_heading_sortable:hover {
    background: url(/Images/icons/sort/icon_sort_down_stop_green_32.png) 0 100% no-repeat;
}*/

h5.grid_heading_sortable_unsorted {
    background: url(/Images/icons/sort/icon_double_arrow_green_24.png) 80% 0 no-repeat;
}

h5.grid_heading_sortable_unsorted:hover {
    background: url(/Images/icons/sort/icon_sort_up_stop_green_24_rev1.png) 80% 0 no-repeat;
}

h5.grid_heading_sortable_ascending {
    background: url(/Images/icons/sort/icon_sort_up_green_24_rev1.png) 80% 0 no-repeat;
}

h5.grid_heading_sortable_ascending:hover {
    background: url(/Images/icons/sort/icon_sort_down_stop_green_24_rev1.png) 80% 0 no-repeat;
}

h5.grid_heading_sortable_descending {
    background: url(/Images/icons/sort/icon_sort_down_green_24_rev1.png) 80% 0 no-repeat;
}

h5.grid_heading_sortable_descending:hover {
    background: url(/Images/icons/sort/icon_sort_up_stop_green_24_rev1.png) 80% 0 no-repeat;
}







tr.headerRow_0 th.headerCol_0,
tr.headerRow_0 th.headerCol_1,
tr.headerRow_0 th.headerCol_2,
tr.headerRow_0 th.headerCol_3,
tr.headerRow_0 th.headerCol_4,
tr.headerRow_0 th.headerCol_5
{
    margin:0;
    padding: 0;
    font-size: 16px;
    vertical-align: bottom;
    text-align: left;
    /*background: url(/Images/availability/greenarrow_down.png) 85% 80% no-repeat;*/
}

#ship_week_display_span {
    display:block;
    font-family: 'ProximaNovaLtLight';
    font-weight: normal;
    color: #9bc718;
    font-size:80%;
            
}

/*tr.headerRow_0 th.headerCol_5
{
    background-image:none;
}*/



tr.headerRow_0 th.headerCol_6,
tr.headerRow_0 th.headerCol_7,
tr.headerRow_0 th.headerCol_8,
tr.headerRow_0 th.headerCol_9,
tr.headerRow_0 th.headerCol_10
{
    margin:0;
    padding: 0;
    color:#fff;
    font-family: 'ProximaNovaLtLight';
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    vertical-align: top;
    /*border-left: 1px solid #bebebd;
    border-right: 1px solid #bebebd;*/
    background:#9bc718 url(/Images/availability/week.png) 5px 5px no-repeat;
}
tr.headerRow_1 th.headerCol_5
{
    background:#9bc718;
}
            
            table#inner_table {
                clear:both;
                position:relative;
                /*margin-top:-48px;*/
                width:100%;
                border: solid 0px #00f;
                /*overflow-y:scroll;*/
            }
                table#inner_table tbody tr {
                }

            table#inner_table tbody tr td {
                padding: 10px 8px;
                width: 9%;
                font-weight: bold;
                font-size: 11px;
                border-bottom:solid 1px #999;
				vertical-align: top;
                /*border-spacing: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;*/
                /*width: 120px;
                border-left: solid 1px #333;*/
            }
			table#inner_table tbody tr td img {
				margin: 0 0 0 5px;
				vertical-align: middle;
			}
            table#inner_table tbody tr td.dataCol_7 {
                background: #9bc718 ;
            }
            table#inner_table tbody tr td.dataCol_4 {
                width: 6% ;
            }
			table#inner_table tbody tr td.dataCol_2 {
				width: 12%;
			}
			table#inner_table tbody tr td.dataCol_1 {
				width: 8%;
			}
            td.dataCol_0,
            td.dataCol_1,
            td.dataCol_2,
            td.dataCol_3,
            td.dataCol_4 {
                text-align: left;
            }

            td.dataCol_5,
            td.dataCol_6,
            td.dataCol_7,
            td.dataCol_8,
            td.dataCol_9,
            td.dataCol_10 {
                text-align: center;
            }

            td.dataCol_5 {
                text-align:left;
                /*background: transparent url('/Images/icons/shoppingCart/icon_plus_green_016.png') no-repeat 100% 50%;*/
                border:solid 0px #000;
            }

            .order_quantity_inputs {
                width:65%;
                height:15px;
                margin: 0;
                padding: 6px 0 6px 0;
                font: 100% / 1.5 Helvetica, Arial, sans-serif;
                font-size: 11px;
                color: #a5a5a2;
                text-align:center;
                border: 1px solid #33848D;
            }

            .order_quantity_NA {
                width: 65%;
                height: 15px;
                margin: 5px 0 5px 0;
                padding: 5px 0 5px 0;
                font: 100% / 1.5 Helvetica, Arial, sans-serif;
                font-size: 11px;
                color: #a5a5a2;
                text-align: center;
                background: #f6f6ff;
                border: 1px solid #eee;
            }


            .order_quantity_no_ordering {
                width: 65%;
                height: 15px;
                margin: 5px 0 5px 0;
                padding: 5px 0 5px 0;
                font: 100% / 1.5 Helvetica, Arial, sans-serif;
                font-size: 11px;
                color: #a5a5a2;
                text-align: center;
                background: #f6f6ff;
                border: 1px solid #eee;
            }

        #order_total_span
            {
                font-family: 'ProximaNovaLtLight';
                font-weight: normal;
                font-size: 20px;
                /*color: #9bc718;*/
            }



        #add_to_cart_link
        , #view_cart_link
        , #add_to_order_link0
        , #add_to_order_link1
        , #add_to_order_link2
        {
            font: 13px / 1.5 Helvetica, Arial, sans-serif;
            font-weight: bold;
            color: #646563;
            padding-right: 22px;
            cursor: pointer;
            background: url(/images/layout/green_pointer.png) right center no-repeat;
        }


.img_is_organic {
    margin:0;
    padding:0 3px 0 0;
    border:none;
}
.img_is_PW {
    margin:0;
    padding:0 3px 0 0;
    border:none;
}
.img_includes_delivery {
    margin:0;
    padding:0 0 0 3px;
    border:none;
}



/********************************** Grid Scrollbar Styles **************************************/

#new_paging_scrollbar_container
{
    float:right;                
    display: none;
    width: 25px;
    height:550px;
    margin: 0px 0px 0 0;
    /*text-align:center;*/
    /*border:dashed 1px #f00;*/
        /*background: transparent url() no-repeat 50% 0;*/
    /*overflow:hidden;*/
}
#new_paging_scrollbar {
    z-index:1;
    width: 12px;
    height: 485px;
    margin: 0 0 0 2px;
    padding:2px;
    /*border: solid 1px #287d87;*/
    border: solid 2px #9bc718;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #f0fff0;
}

#new_paging_scrollbar_handle {
    z-index: 100;
    width: 12px;
    height: 55px;
    background:#9bc718 ;
    border: none;
    /*border: solid 1px #287d87;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    /*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 6px;*/

}


.new_scrollbar_up_button_enabled {
    background: url('/images/buttons/up_button_32.png') no-repeat 50% 65%;
    cursor:pointer;
}
.new_scrollbar_down_button_enabled {
    background: url('/images/buttons/down_button_32.png') no-repeat 50% 65%;
    cursor:pointer;
}

.new_scrollbar_up_button_enabled:hover {
    background: url('/images/buttons/up_button_hover_32.png') no-repeat 50% 0;
}
.new_scrollbar_down_button_enabled:hover {
    background: url('/images/buttons/down_button_hover_32.png') no-repeat 50% 0;
}

.new_scrollbar_up_button_disabled {
    background: url('/images/buttons/up_button_disabled_32.png') no-repeat 50% 0;
    cursor:default;
} 
.new_scrollbar_down_button_disabled {
    background: url('/images/buttons/down_button_disabled_32.png') no-repeat 50% 0;
    cursor:default;
}

#test_order_quantities_display,
#test_history_display,
#test_scroll_to_display
{
    clear:both;
    display: block;
    text-align: right;
    font-family: helvitica, arial, sans-serif;
    font-size: 12px;

}

.test_order_quantities_links,
.test_scroll_to_links,
.state_test_links {
    margin: 4px;
    padding: 2px;
    font-size: 10px;
    color: steelblue;
    border: 1px solid #a5a5a2;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}
.test_order_quantities_links,
.test_scroll_to_links,
.state_test_links:hover {
    margin: 4px;
    color: blue;
    text-decoration: underline;
}

.test_scroll_to_inputs {
    width: 60px;
}
#test_scroll_to_variety_index {
    
}
#test_scroll_to_product_index {
    width: 100px; 
}

@media all and (max-width: 900px) { /*edited by Suzanne August 26, 2015 */

td.dataCol_6 {
    display: none;
}

tr.headerRow_0 th.headerCol_6  {
    display: none;
}

td.dataCol_8 {
    display: none;
}

tr.headerRow_0 th.headerCol_8  {
    display: none;
}

td.dataCol_9 {
    display: none;
}

tr.headerRow_0 th.headerCol_9  {
    display: none;
}

td.dataCol_10 {
    display: none;
}

tr.headerRow_0 th.headerCol_10  {
    display: none;
}

#new_paging_scrollbar_container
{                
   height: 0px;
}

table#outer_table {
    width: 95%;
}

table#outer_table thead th {
    width: 15%;
}

table#outer_table thead tr th.headerCol_1 {
    width: 13%;
}

table#outer_table thead tr th.headerCol_2 {
    width: 19%;
}
table#outer_table thead tr th.headerCol_4 {
    width: 12%;
}
table#outer_table tfoot tr.footerRow_0 td.footerCol_4, table#outer_table tfoot tr.footerRow_1 td.footerCol_4, table#outer_table tfoot tr.footerRow_2 td.footerCol_4, table#outer_table tfoot tr.footerRow_3 td.footerCol_4 {
    padding-left: 25px;
}

/*removes scrollbar*/
#new_paging_scrollbar {
    display: none;
}

/*remove sorting arrows*/
h5.grid_heading_sortable_ascending,
h5.grid_heading_sortable_descending,
h5.grid_heading_sortable_unsorted {
    background: none;
}

}

@media all and (max-width: 570px) { /*edited by Suzanne August 26, 2015 */
table#outer_table {
            min-width: 300px;
        }
		
table#outer_table tfoot tr.footerRow_0 td.footerCol_4, table#outer_table tfoot tr.footerRow_1 td.footerCol_4, table#outer_table tfoot tr.footerRow_2 td.footerCol_4, table#outer_table tfoot tr.footerRow_3 td.footerCol_4 {
    padding-left: 1px;
}

#availability_grid_container {
    margin: 60px 5px 65px;
}

#availability_grid_container {
    margin: 60px 2px 65px;
    width: 480px;
}
}

@media all and (max-width: 900px) and (orientation:portrait) {
   #rotatemessage {
display: block;
width: 100%;
background: #eb7700 none repeat scroll 0% 0%;
color: #fff;
text-align: center;
z-index: 10;
padding: 100px;
text-transform: uppercase;
font-size: 20px !important;
}
}

@media all and (max-width: 900px) and (orientation:landscape) {
   #rotatemessage {
          display:none;
}
}

@media all and (min-width: 901px) {
   #rotatemessage {
          display:none;
}
}
