﻿
@charset "UTF-8";



/************************SUMMARY DISPLAY ************************************/
#order_summary_grid {
    
    width: 100%;
    border-bottom: solid 1px #ccc;
}

.order_summary_grid_rows img {
    float: left;
    width: 25px;
    padding: 0 10px;
}

/*-------------------------------- New Code--------------------*/

div#payment_method_selection_display {
    display:none;
}

div#credit_card_display {
    display:none !important;
}

a#add_new_card_button {
    display:none;
}

#page_content {
    clear: both;
}

li {
    margin: 0 !important;
	list-style: none;
}

li#order_week {
    font-weight: bold;
    color: #4c9466;
}

ul.order_summary_grid_rows {
    margin-left: 10px;
    padding: 25px 0px 25px 30px;
	background-color: #EDEDED;
	overflow: hidden;
	clear: both;
}

ul.order_summary_grid_rows li{
    list-style: outside none none;
    float: left;
    margin-right: 5% !important;
}

ul#grower_order_row {
    margin: 0px;
    padding: 1%;
}

#add_new_address_button,
#add_new_card_button {
    margin: 2%;
}

input.payment_method_radio_buttons {
    margin-left: 2% !important;
    margin-right: 5px !important;
}

#credit_card_selection_0 {
    float: left;
    margin-right: 5px !important;
}

.check_box_containers {
    margin: 1%;
}


.tag_ratio_selector_labels,
.shipment_method_selector_labels {
    color: #4c9466 !important;
    font-size: 13px;
    float: left;
}

.supplier_order_product_cost_totals {
    color: #4c9466 !important;
    text-align: right !important;
    margin-right: 0 !important;
}

.supplier_subtotal_boxes .right {
    font-weight: bold !important;
}


#order_button {
    margin: 2% 0;
}

.check_box_containers {
   margin: 1%;
color: #4c9466;
text-transform: uppercase;
font-size: 12px !important;
}

.check_box_containers a {
    margin: 1%;
    color: #4c9466;
    text-transform: uppercase;
    font-size: 15px !important;
    text-decoration: underline;
    font-weight: bold !important;
}

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
	color: #000;
}

#text_input_displays p {
   display: inline-block;
padding-right: 5px;
font: 11px/1.5 Helvetica,Arial,sans-serif;
color: #287D87;
height: 13px;
vertical-align: middle;
}

#text_input_displays input{
outline: medium none;
font-size: 11px;
padding: 6px 4px;
border: 1px solid #287D87;
}

.header_bars {
    clear: both;
    margin: 0;
    padding: 3px 0px 0px 15px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: #646563;
    vertical-align: baseline;
    background: #CFD1D3 url("/images/layout/cart_header_pointer.png") no-repeat scroll 0px center;
    border: 0px none;
}

ul#credit_card_list,
ul#address_list {
  list-style:none;	
}

#payment_information_container h4{
	text-transform: uppercase;
	font-weight: normal;
	color: #4c9466;
	font-size:14px;
}

#supplier_title{
	background-color: #d6c7d2;
	color: #fff;
	padding: 10px 20px;
	font-weight:bold;
	font-size:20px;
}

a.order_delete_links{
  float:right;
  background-image: url("/Images/layout/pg_pointer.png");
  background-repeat:no-repeat;
  background-position: center left;
  padding-left:10px;
  color: #4c9466;
  font-size:14px;
}

a.credit_card_delete_links,
a.ship_to_edit_links {
  background-image: url("/Images/layout/pg_pointer.png");
  background-repeat:no-repeat;
  background-position: center left;
  padding-left:10px;
  color: #4c9466;
  font-size:14px;
  margin-left: 20px;
}

.line_item_grids {
  border: 3px solid #ededed;
  margin:8px;
  padding:10px;	
}

.line_item_grid_rows {
  list-style:none;
  padding: 10px 0;
  border-bottom: 1px solid #c6f2f8;	
}

.line_item_grid_order_quantity_inputs {
    width: 70px;
}

.supplier_order_product_cost_totals {
  text-align:right;
  font-weight:bold;	
}

ul#supplier_totals_count_list {
  list-style:none;
  text-align: right;	
  margin-right:10px;
}

.supplier_subtotal_boxes{
  clear:both;	
  background-color: #f3f3f3;
  padding: 10px 20px;
  margin: 5px 0;
  min-height: 20px;
}

.left {
  	float:left !important;
}

.right {
  	text-align:right;
}

#order_totals_box {
  background-color: #4c9466;
  padding: 10px 20px;
}

#order_totals_box h2 {
  color: #bbcfd6;
  float:left;
}

h2.header_bar{
    display:inline-block;
}

h3 {
    float:right;
}

ul#order_totals_list {
	list-style: none;
	text-align:right;
}

.action_buttons {
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
    padding: 6px 22px;
    color: #4c9466;
    text-decoration: none;
    background-color: #bbcfd6;
    border: 1px solid #4c9466;
    cursor: pointer;
}

a.action_buttons:hover {
    color: #bbcfd6 !important;
	background-color: #4c9466;
	border: 1px solid #bbcfd6;
}

#grower_fees {
    font-weight: bold !important;
    clear: both;
    background-color: #f3f3f3;
    padding: 0;
    margin: 5px 0;
}

.supplier_order_fee_info_icons {
    float: left;
}

.order_label {
    color: #4c9466;
    font-size: 0.75em;
    margin-right: 0.5em;
    text-transform: uppercase;
}

.supplier_order_selector_display_upper {
    padding: 10px 0;
    display:none;
}

p#promo {
    display:none;
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 1050px) {

.line_item_grid_rows li {
    float: left;
    padding-right: 4%;
	width: 10%
}
.line_item_grid_rows {
    list-style: outside none none;
    overflow: hidden;
}

.supplier_order_product_cost_totals {
    float: right !important;
}

}


/**************************** Ship-to Address Form ********************************/

#address_form_template {
    display: none;

}

#new_address_form {
    margin:10px 0 15px 0;
    padding:10px;
    background: transparent;

    /*border:solid 1px #287d87 ;*/

    border:solid 1px #9bc718;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;

}

#new_address_form table tbody tr td {
    text-align: left;
}

#new_address_form table tbody tr td.td_0 {
    text-align: center;
    color: rgb(40, 125, 135);
}


#ship_to_button_send, #ship_to_button_delete2, #ship_to_button_cancel2 {
    margin:0 0 0 15px;
    padding: 4px 8px 4px 8px;

    color: #9bc718;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75;
    vertical-align: baseline;

    background:#f0f0f0;
    border:solid 1px #287d87 ;

    border:solid 1px #9bc718;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;

}
#ship_to_button_cancel2 {
    font-size: 14px;
    line-height: 1.5;
}
#ship_to_button_send:hover, #ship_to_button_cancel2:hover {
    color: rgb(40, 125, 135);
}

.ship_to_message {
    padding: 2px;
    color: #9bc718;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    vertical-align: baseline;

    background: transparent;

    /*border:solid 1px #9bc718;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;*/

}

    #new_address_form #ship_to_name     {
        width: 250px;
    }
    #new_address_form #ship_to_street_address_1, #new_address_form #ship_to_street_address_2 {
        width: 250px;
    }
    #new_address_form #ship_to_city     {
        width: 125px;
    }

    #new_address_form #ship_to_country     {
        width: 35px;
    }
    #new_address_form #ship_to_zip_code     {
        width: 60px;
    }
    #new_address_form #ship_to_phone_number     {
        width: 140px;
    }
    #new_address_form #ship_to_special_instructions     {
        width: 300px;
    }

#new_address_form label {
    /*color: #9bc718;*/
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.5;
    vertical-align: baseline;

}

#new_address_form input[type=text] {
    /*color: #287d87;*/
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.1;
    vertical-align: baseline;

        background: transparent;
    border: none;       /*get rid of default borders*/
    border-bottom:solid 1px #9bc718;
    -webkit-appearance: none;

    /*background: transparent;
    border:solid 1px #9bc718;
    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    -o-border-radius: 3px 3px;
    border-radius: 3px 3px;*/

}
#new_address_form textarea {
    /*color: #287d87;*/
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.1;
    vertical-align: baseline;

    background: transparent;
    border:solid 1px #9bc718;
    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    -o-border-radius: 3px 3px;
    border-radius: 3px 3px;

}


/**************************** Credit Card Form ********************************/



#credit_card_add_form_template {
    display: none;

}

#credit_card_form {
    margin:10px 0 15px 0;
    padding:10px;
    background: transparent;

    border:solid 1px #287d87 ;

    border:solid 1px #9bc718;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;

}

#credit_card_form table tbody tr td {
    text-align: left;
}

#credit_card_form table tbody tr td.td_0 {
    text-align: center;
    color: rgb(40, 125, 135);
}


#button_credit_card_create_add2, #button_credit_card_create_cancel2 {
    margin:0 0 5px 15px;
    padding: 4px 8px 4px 8px;

    color: #9bc718;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75;
    vertical-align: baseline;

    background:#f0f0f0;
    border:solid 1px #287d87 ;

    border:solid 1px #9bc718;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;

}
#button_credit_card_create_cancel2 {
    font-size: 14px;
    line-height: 1.5;
}
#button_credit_card_create_add:hover, #button_credit_card_create_cancel2:hover {
    color: rgb(40, 125, 135);
}

.credit_card_message {
    padding: 2px;
    color: #9bc718;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    vertical-align: baseline;

    background: transparent;
 
    /*border:solid 1px #9bc718;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;*/

}

    #credit_card_form #credit_card_first_name     {
        width: 110px;
    }

    #credit_card_form #credit_card_last_name     {
        width: 110px;
    }

    #credit_card_form #credit_card_number     {
        width: 185px;
    }

    #credit_card_form #credit_card_expiration     {
        width: 75px;
    }
    #credit_card_form #credit_card_code     {
        width: 50px;
    }
    #credit_card_form #credit_card_description {
        width: 350px;
    }
    #credit_card_form #credit_card_street_address_1 {
        width: 200px;
    }
/*
    #credit_card_form #credit_card_state_code {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.1;
    vertical-align: baseline;

    background: transparent;
    border:solid 1px #9bc718;

}
    */
    #credit_card_form #credit_card_city     {
        width: 135px;
    }
    #credit_card_form #credit_card_country     {
        width: 35px;
    }
    #credit_card_form #credit_card_zip_code     {
        width: 60px;
    }
    #credit_card_form #credit_card_phone_number     {
        width: 135px;
    }
    /*#credit_card_form #credit_card_fax_number     {
        width: 125px;
    }*/

#credit_card_form label {
    /*color: #9bc718;*/
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.5;
    vertical-align: baseline;

}

#credit_card_form input[type=text], #credit_card_form textarea{
    /*color: #287d87;*/
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.1;
    vertical-align: baseline;

    background: transparent;
    border: none;       /*get rid of default borders*/
    border-bottom:solid 1px #9bc718;
    -webkit-appearance: none;

    /*border:solid 1px #9bc718;
    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    -o-border-radius: 3px 3px;
    border-radius: 3px 3px;*/
}

#credit_card_form input[type=radio], #new_address_form input[type=radio] {
    background:transparent;
}

ul.country_lists {
    margin: 0;
    padding: 0 0 0 5px;
    display: inline;

}

ul.country_lists li {
    display:inline;
    text-align:left;
}

ul.country_lists label {
    display: inline;
}

select#credit_card_state_code, select#ship_to_state_code {
    width:50px;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.1;
    vertical-align: baseline;
    background: transparent;
    border: none;
    -webkit-appearance: none;
}
select#credit_card_state_code option, select#ship_to_state_code option {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.1;
    vertical-align: baseline;
    background: #666;
    -webkit-appearance: none;
}

.selection_containers {
    padding:2px;
    display: inline-block;
    height:25px;
    background: transparent;
    border-bottom: 1px solid #9bc718;
    /*border: 1px solid #9bc718;
    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    -o-border-radius: 3px 3px;
    border-radius: 3px 3px;*/


}

