﻿        #page_content {
            width:1198px;
            height:750px;
            border:dashed 0px #0f0;
        }

        #left_region_container {
            float: left;
            width: 300px;
            margin: 0;
            padding: 0;
        }

        #supplier_selection_container
        {
            width: 275px;
            margin: 0;
            padding: 0;
        }

        #supplier_selection_display {
            height: 175px;
            margin: 0;
            padding: 0;
            overflow-y: scroll;
            font: normal normal bold 12px/16px arial, tahoma, sans-serif;
            background: transparent;
            border: dotted 1px #ccc;
        }

        #supplier_selection_list {
            margin: 0;
            padding:5px;
            list-style:none;
        }

        #supplier_selection_list li {
            margin:0;
            padding:3px 0 3px 20px;
            cursor:pointer;
            vertical-align: top;
        }

        #supplier_selection_list li:hover {
            cursor:pointer;
        }

        #species_selection_container
        {
            width:275px;
            margin:0;
            padding:0;
        }

        #species_selection_display {
            height:450px;
            margin:0;
            padding:0;
            overflow-y:scroll;
            font: normal normal bold 12px/16px arial, tahoma, sans-serif;
            background: transparent;
            border:dotted 1px #ccc;
        }

        #species_selection_list {
            margin: 0;
            padding:5px;
            list-style:none;
            text-wrap:none;
        }
        
        #species_selection_list li {
            margin:0;
            padding:3px 0 3px 20px;
            cursor:pointer;
            vertical-align: top;
            overflow:hidden;
        }
        
        .selection_title {
            font-size:18px;
            font-weight:bold;
            letter-spacing:.08em;
            cursor: text;
        }

        .selection_select_all,
        .selection_clear_all {
            margin:0;padding:0;
            font-size:100%;
            font-weight:bold;
            color:#666;
            letter-spacing:.08em;
            cursor:pointer;

        }
        .selection_select_all:hover,
        .selection_clear_all:hover {
            text-decoration: underline;
            color:#00f;
        }
        .selection_available {
            font-weight:bold;
            color:#666;
            background: transparent url('/Images/icons/icon_xmark_12.png') 2px 2px no-repeat;
            letter-spacing:.08em;
            cursor:pointer;

        }
        .selection_selected {
            font-weight:bold;
            color:#333;
            background: transparent url('/Images/icons/icon_checkmark_12.png') 2px 2px no-repeat;
            letter-spacing:.08em;
            cursor:pointer;
        }
        .selection_disabled {
            font-weight:bold;
            color:#888;
            background: transparent;
            letter-spacing:.08em;
            cursor:text;
        }
        #right_region_container {
            margin:10px 0 0 0;
            background:#fff;
            border: solid 0px #ccc;
            width:1280px;
        }
        #variety_sets_display {
            height:700px;
            overflow-y:scroll;
            margin: 0;
            background: #fff;
        }
        .variety_set {
            clear:both;
            margin: 10px 0 0 0;
            padding: 0;
            background: #fff;
            border-top: solid 1px #f0f0f0;
            border-bottom: solid 0px #888;
        }
        .variety_set h3 {
            margin:0;
            padding:0;
            border:none;
            border: solid 0px #0f0;
            color: #9bc718;
            font-size: 30px;
            font-family: 'ProximaNovaRgReqular';
            font-weight: normal;
            line-height: 1;
        }

        .variety_set_list {
            list-style-type: none;
            margin:0;
            padding:0;
        }

        .variety_set_list_item {
            display: inline-block;
            width: 150px;
            height: 200px;
            margin: 0 10px 0 10px;
            padding: 0;
            /*background: #fff;
            border:solid 1px #9bc718;*/
            cursor: pointer;
            overflow:hidden;
        }

        .variety_set_list_item img {
            width: 150px;
            height: 150px;
            margin: 0;
            padding: 0px;
            border: none;
        }
        .variety_set_list_item p {
            margin: 0;
            padding: 0;
            font-size: 90%;
            border: none;
            overflow:hidden;
        }

