﻿

#page_content {
    width:1248px;
    height:800px;
    border:dashed 0px #0f0;
}

.grid {
  width: 500px;
  height: 250px;
    border: solid 1px gray;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}


        #variety_sets_display {
            height:auto;

            width:900px;

            /*overflow-y:scroll;*/
            overflow: hidden;
            margin: 0;
            background: #fff;
        }

        
        /*#variety_sets_display {
            clear:both;
            margin: 10px 0 0 0;
            padding: 0;
            background: #fff;
            border-top: solid 1px #f0f0f0;
            border-bottom: solid 0px #888;
        }*/

        #variety_sets_display h3 {
            margin:15px;
            padding:0;
            color: #9bc718;
            border: solid 0px #0f0;
        }

        .variety_set_list {
            list-style-type: none;
            margin:15px;
            padding:0;
        }

        .variety_set_list_item {
            display: inline-block;
            overflow:hidden;
            /*width: 150px;
            height: 220px;*/
            margin: 0 10px 0 10px;
            width: 142px;
            height: 227px;
            /*margin: 2.5%;*/
            padding: 0 5px 0 0;
            background: #fff;
            border-top:solid 0px #9bc718;
            border-bottom:solid 0px #9bc718;
            vertical-align: bottom;
            cursor: pointer;
        }

        .variety_set_list_item img {
            /*width: 150px;
            height: 150px;*/
            width: 142px;
            height: 149px;
            margin: 0;
            padding: 0px;
            border: none;
            padding-bottom: 4px;
            border-bottom: 3px solid #9bc718;
        }
        .variety_set_list_item p {
            margin: 0;
            padding: 0;
            font-size: 75%;
            border: none;
            overflow:hidden;
        }

        .variety_set_list_item:first-child {
            margin-left: 0;
        }


#catalog_container {
    margin: 0;
    padding: 0;
    min-height: 450px;
    border:solid 2px red

}

#catalog_container .catalog_column_left {
    min-height: 450px;
}
#catalog_container .catalog_column_center {
    background: transparent;
}
#catalog_container .catalog_column_right {
    background: #f6f6f6;
    height: 450px;
}
#catalog_images_slider {
    height: 425px;
    background: #f0f0f0; 
       
}


.catalog_slider_buttons {
    margin: 0;
    padding: 0;
    width:22px; 
    color:#287d87;
    background: #fff;
    font-size:20px; 
    font-weight:bold;
    text-align:center;
    border-radius: 30%;
    cursor:pointer; 
}
.catalog_slider_buttons:hover {
    color:#fff; 
    background:#9bc718;
}
