﻿
#test_container button {
    margin: 2px;
    padding: 2px;
    background-color: lightgray;
    border-radius: 3px;
}


#page_content {
    width:95%; 
    /*height:800px; commented out by Suzanne*/
	margin:0 2%; 
    border:dashed 0px #0f0;
	min-width: 320px;
}

        #left_region_container {
            float:left;
            width:250px;
            height:750px;
            margin:28px 0 0 0;
            padding:0;
            border : 1px solid #000 ;
            border-color: #287D87;
             

        }

        #supplier_selection_container
        {
            width:250px;
            margin:0;
            padding:0;
        }

        #supplier_selection_container p, #species_selection_container p 
        { 
            margin: 0; 
            line-height: 1; 
            padding: 8px 0 8px; 

        }  
      
        #supplier_selection_display {
            height:175px;
            width:248px;
            margin:0;
            padding:0;
            overflow-y:scroll;
            font: normal normal bold 12px/16px arial, tahoma, sans-serif;
            background: transparent;
            border-top:1px solid #287d87; 
            border-bottom:1px solid #287d87; 
            border-color:#287D87;
        }

        #supplier_selection_list {
            margin: 0;
            padding:5px;
            list-style:none;
        }

        #supplier_selection_list li {
            margin:5px;
            padding:3px 0 3px 20px;
            cursor:pointer;
            vertical-align: top;

            display:list-item;
            color: #737474;
            font: 100% / 1.5 Helvetica, Arial, sans-serif;
            font-size: 12px;
            text-transform: uppercase;
        }

        #supplier_selection_list li:hover {
            cursor:pointer;
        }
        #species_selection_container
        {
            width:250px;
            margin:0;
            padding:0;
           
        }
        #species_selection_display {
            height:395px;
            width:248px;
            margin:0;
            padding:0;
            overflow-y:scroll;
            font: normal normal bold 12px/16px arial, tahoma, sans-serif;
            background: transparent;
            border-top: 1px solid #287d87; 
            border-color:#287D87;

        }

        #species_selection_list {
            margin: 0;
            padding:5px;
            list-style:none;
            text-wrap:none;
        }
        
        #species_selection_list li {
            display: list-item;
            margin:5px;
            padding:3px 0 3px 20px;
            cursor:pointer;
            vertical-align: top;
            overflow:hidden;

            color: #737474;
            font: 100% / 1.5 Helvetica, Arial, sans-serif;
            font-size: 12px;
            text-transform: uppercase;
        }
        
        .selection_title {
            font-size:24px;
            color: rgb(155,199,24);
            font-weight:normal;
            letter-spacing:.08em;
            cursor: text;
            padding-left: 15px;
                       

        }
        .selection_select_all,
        .selection_clear_all {
            margin:0;padding:0;
            font-size:12px;
            font-weight:bold;
            color: rgb(155,199,24);
            letter-spacing:.08em;
            cursor:pointer;

        }
        .selection_select_all:hover,
        .selection_clear_all:hover {
            text-decoration: underline;
            color:#00f;
        }
        .selection_available {
            font-weight:bold;
            color:#666;
            background: transparent url('/Images/layout/checkbox_bg.png') 2px 5px no-repeat;
            letter-spacing:.08em;
            cursor:pointer;

        }
        .selection_selected {
            font-weight:bold;
            color:#333;
            background: transparent url('/Images/layout/checkbox_checked_bg.png') 2px 0px no-repeat;
            letter-spacing:.08em;
            cursor:pointer;
        }
        .selection_disabled {
            font-weight:bold;
            color:#888;
            background: transparent;
            letter-spacing:.08em;
            cursor:text;
        }
        #right_region_container {
            margin:0;
            background:#fff;
            border: solid 0px #ccc;
            /*width: 1280px; commented out by Suzanne September 16*/
        }


#paging_status_display
{
    margin:0;
    padding: 0 0 0 15px;
    display:none;
    font-size: 70%; 
    text-align: right;
}
        #variety_sets_display {
            height:auto;
            /*width:70%; /*edited by suzanne from 900px September 16 then deleted altogether*/
            overflow: hidden;
            margin: 0;
            background: #fff;
        }

        #variety_sets_display h3 {
            margin:15px;
            padding:0;
            color: #9bc718;
            border: solid 0px #0f0;
			clear: both;
        }

        .variety_set_list {
            list-style-type: none;
            margin:15px;
            padding:0;
        }

        .variety_set_list_item {
            display: inline-block;
            overflow:hidden;
            /*width: 150px;
            height: 220px;*/
            margin: 0 10px 0 10px;
            width: 142px;
            height: 227px;
            /*margin: 2.5%;*/
            padding: 0 5px 0 0;
            background: #fff;
            border-top:solid 0px #9bc718;
            border-bottom:solid 0px #9bc718;
            vertical-align: bottom;
            cursor: pointer;
			float: left;
        }

        .variety_set_list_item img {
            /*width: 150px;
            height: 150px;*/
            width: 142px;
            height: 149px;
            margin: 0;
            padding: 0px;
            border: none;
            padding-bottom: 4px;
            border-bottom: 3px solid #9bc718;
        }
        .variety_set_list_item p {
            margin: 0;
            padding: 0;
            font-size: 75%;
            border: none;
            overflow:hidden;
        }

        .variety_set_list_item:first-child {
            margin-left: 0;
        }






/********************************** Scrollbar Styles **************************************/

#new_paging_scrollbar_container
{
    float:right;                
    display: none;
    width: 25px;
    height:550px;
    margin: 7% 2% 7% 2%;
    /*text-align:center;*/
    /*border:dashed 1px #f00;*/
        /*background: transparent url() no-repeat 50% 0;*/
    /*overflow:hidden;*/
}
#new_paging_scrollbar {
    z-index:1;
    width: 12px;
    height: 100%;
    margin: 0 0 0 2px;
    padding:2px;
    /*border: solid 1px #287d87;*/
    border: solid 2px #9bc718;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #f0fff0;
}

#new_paging_scrollbar_handle {
    z-index: 100;
    width: 12px;
    height: 55px;
    background:#9bc718 ;
    border: none;
    /*border: solid 1px #287d87;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    /*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 6px;*/

}


.new_scrollbar_up_button_enabled {
    background: url('/images/buttons/up_button_32.png') no-repeat 50% 65%;
    cursor:pointer;
}
.new_scrollbar_down_button_enabled {
    background: url('/images/buttons/down_button_32.png') no-repeat 50% 65%;
    cursor:pointer;
}

.new_scrollbar_up_button_enabled:hover {
    background: url('/images/buttons/up_button_hover_32.png') no-repeat 50% 0;
}
.new_scrollbar_down_button_enabled:hover {
    background: url('/images/buttons/down_button_hover_32.png') no-repeat 50% 0;
}

.new_scrollbar_up_button_disabled {
    background: url('/images/buttons/up_button_disabled_32.png') no-repeat 50% 0;
    cursor:default;
} 
.new_scrollbar_down_button_disabled {
    background: url('/images/buttons/down_button_disabled_32.png') no-repeat 50% 0;
    cursor:default;
}






#paging_scrollbar_container
{
    float:right;                
    display: none;
    width: 25px;
    height:600px;
    margin:125px 35px 0 0;
    text-align:center;
    border:dashed 0px #f00;
        background: transparent url() no-repeat 50% 0;
    /*overflow:hidden;*/
}

#scrollbar_up_button, #scrollbar_down_button {
    width: 25px;
    height:25px;
    min-width: 25px;
    min-height:25px;
    max-width: 25px;
    max-height:25px;
    margin:0;
    padding:0;
    /*cursor:       NOTE: Leave cursor to be controlled by class definition*/
    /*background:   NOTE: Leave background to be controlled by class definition*/
    border:none;
}

.scrollbar_up_button_enabled {
    background: url('/images/buttons/up_button_32.png') no-repeat 50% 0;
    cursor:pointer;
}
.scrollbar_down_button_enabled {
    background: url('/images/buttons/down_button_32.png') no-repeat 50% 0;
    cursor:pointer;
}

.scrollbar_up_button_disabled {
    background: url('/images/buttons/up_button_disabled_32.png') no-repeat 50% 0;
    cursor:default;
} 
.scrollbar_down_button_disabled {
    background: url('/images/buttons/down_button_disabled_32.png') no-repeat 50% 0;
    cursor:default;
}

.scrollbar_up_button_enabled:hover {
    background: url('/images/buttons/up_button_hover_32.png') no-repeat 50% 0;
}
.scrollbar_down_button_enabled:hover {
    background: url('/images/buttons/down_button_hover_32.png') no-repeat 50% 0;
}


/*#paging_scrollbar_display
        {
            height:525px;
            margin:0;
            padding:0;
            text-align: right;
            border:dashed 1px #0f0;
        }*/

#paging_scrollbar
        {
            /*float:right;*/
            /*display:none;*/
            margin:15px 0 0 5px;
            padding:0;
            height:415px;
            /*margin:50px 0 0 0;*/
            border:solid 1px #287d87;
        }

         .ui-slider-vertical .ui-slider-handle { 
             background:#9bc718 ;
             border-color: #287d87;
             margin-bottom: -.3em;}
         .ui-slider-handle {   outline: none;}

@media (max-width: 810px) {
	#right_region_container {
            float: left;
			width: 67%;
        }
	.variety_set_list_item {
		    width: 62px; 
    		height: 110px;
		}
	.variety_set_list {
			margin: 15px 0 15px 15px;
		}	
	.variety_set_list_item p{
			font-size: 35%;
		}	
	.variety_set_list_item img {
		    width: 60px; 
    		height: 62px;
		}	
	#page_content {
			width: 100%;
		}
	}
	
@media (max-width: 360px) {
	.variety_set_list_item {
    	margin: 0px 10px 10px 0;
}

	#right_region_container {
    	clear: both;
    	width: 100%;
    	float: left;
}
	}
