﻿
#page_content {
    min-height: 500px;
    margin: 0 0 20px 0;
    padding: 0;
    border: dashed 0px #00f;
	min-width: 320px;
}

    #page_content h1 {
        font-family: 'ProximaNovaLtSemibold';
        font-weight: normal;
        font-size: 25px;
        line-height: 1.5;
        color: #4c9466;
        vertical-align: baseline;

        /*-webkit-margin-before: 0.67em;
        -webkit-margin-after: 0.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;*/

    }

.header_bars, .header_bars_clickable {
    clear: both;
    margin: 0 0 10px 0;
    padding: 3px 0 0 20px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: #646563;
    vertical-align: baseline;
    background: #CFD1D3 url(/images/layout/cart_header_pointer.png) 0 center no-repeat;
    border: 0;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
    .header_bars_clickable {
        /*background: #CFD1D3 url(/images/layout/MyAccountArrowDown.png) 0 center no-repeat;*/
        cursor: pointer;

    }
    .header_bars_clickable:hover {
        background: #dcdcdc url(/images/layout/MyAccountArrowDown.png) 0 center no-repeat;
    }

    #claims_summary_grid {
        width: 100%;
        margin: 0 0 100px 0;
        border-bottom: solid 1px #ccc;
    }

    #claims_summary_grid thead tr th {
        width: 14%;
        margin: 0;
        padding: 10px 0;
        color: #4c9466;
        font-family: 'ProximaNovaLtSemibold', sans-serif;
        font-size: 14px;
        line-height: 1.1;
        vertical-align: bottom;
        text-align: left;
        background: transparent url();
    }


