﻿

.eps_expanse_containers{
    margin:5px 0 5px 0;
    padding:0;
    border-bottom:solid 1px #ccc;
}

.eps_expanses_header_bars{
    margin: 0 0 0 0;
    padding: 3px 0 0 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: #646563;
    cursor: pointer;
    vertical-align: baseline;
    background: #CFD1D3 url(/images/layout/cart_header_pointer.png) 0 center no-repeat;
    border: 0;
}
.eps_expanses_header_bars:hover {
    background-color:#dcdcdc;
}
    /*Note: Kepp eps_expanses_expanded above eps_expanses_collapsed so an expanse can be embedded */
    .eps_expanses_expanded .eps_expanses_header_bars{
        background-image:url('/images/layout/MyAccountArrowDown.png');
    } 
    .eps_expanses_collapsed .eps_expanses_header_bars{
        background-image:url(/images/layout/cart_header_pointer.png);
    } 
    .eps_expanses_working .eps_expanses_header_bars{
        background-image:url('/images/icons/Loading_Availability.gif');
    } 
    .eps_expanses_disabled .eps_expanses_header_bars{
        background-image:url('');
    } 


.eps_expanses_displays{
    display: none;
   /* border-left: 1px dotted #CFD1D3;
    border-right: 1px dotted #CFD1D3;*/
}

.eps_expanses_content_upper{
    margin:0;
    padding:0;
}
.eps_expanses_content_middle{
    margin:0;
    padding:0;
}
.eps_expanses_content_lower{
    margin:0;
    padding:0;
}

.eps_expanses_status_bars {
    margin:0 0 5px 0;
    padding: 2px 0 0 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.25;
    color: #646563;
    vertical-align: baseline;
    /*background: #CFD1D3 url(/images/layout/cart_header_pointer.png) 0 center no-repeat;*/
    background: #f0f0f0;
    /*border: dotted 1px #ccc;*/
}






