﻿
#eps_dialog_overlay {
    display: none;
    position: absolute;
    top:0;
    left:0;
    z-index:1000;
    width:300%;
    height:1000%;       /*ToDo: set this dynamically to cover whole view*/
    background: #fff;
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}

.eps_hover_message_containers,
.eps_floating_message_containers {
    display: none;
    position: absolute;
    z-index: 1050;
    left: 0;
    top: 0;
    margin: 0;
    padding:3px;
    color: #fff;
	font-size: 14px;
    vertical-align: middle;
    background: #4c9466;
    background: transparent url('/images/layout/window_outer_bg.png');
    border: 1px solid #999;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

}

.eps_hover_message_displays,
.eps_floating_message_displays
{
    margin: 0;
    padding: 2px;
    color: #fff;
    vertical-align: middle;
    background: transparent url('/images/layout/window_inner_bg.png');
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

}

.eps_hover_message_contents,
.eps_floating_message_contents
{
    margin: 0;
    padding: 3px 3px 3px 30px;

    font-size: 13px;
    font: 100% / 1.5 Helvitica, Arial, sans-serif;
    color: #4c9466;
    
    background: transparent url('/images/icons/icon_information_circle_green_24.png') no-repeat 3px 50%;
}

#eps_dialog_container {
    display: none;
    position:absolute;
    top: 300px;
    left: 275px;
    z-index: 1100;
    padding:8px;
    background: transparent url('/images/layout/window_outer_bg.png');
    cursor:pointer;

    -moz-box-shadow: 1px 1px 3px 0 #929497;
    -webkit-box-shadow: 1px 1px 3px 0 #929497;
    box-shadow: 1px 1px 3px 0 #929497;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

#eps_dialog_display  {
    margin: 0;
    padding: 0;
    background: transparent url('/images/layout/window_inner_bg.png');
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

#eps_dialog_title {
    margin: 0;
    padding:3px 0 3px 30px;
    font-family: 'ProximaNovaRgRegular';
    font-size: 25px;
    color: #4c9466;
    text-align: left;
    background: transparent url('/images/icons/icon_information_circle_green_24.png') no-repeat 5px 50%;
}

#eps_dialog_content  {
    font-size: 14px;
    line-height: 1.3;
    font: 100% / 1.5 Helvitica, Arial, sans-serif;
    /*color: #9bc718;*/
    padding: 0 30px 0 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color:#fff;
}

#eps_dialog_action {
    text-align:left;
    background: transparent;
    overflow: hidden;
}

    #eps_dialog_action input[type="button"] {
        display: inline-block;
        /*min-width: 65px;*/
        margin:5px 0 0 40px;
        height: 35px;
        padding: 8px 22px 8px 15px;
        
        color: #fff;
    
        font-family: 'ProximaNovaLtLight', sans-serif;
        font-size: 16px;
        font-weight: normal;
        text-decoration: none;
        background: #4c9466 url('/images/layout/right_arrow.png') no-repeat 90% 50%;

        border:none;
        /*-webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;

        -moz-box-shadow: 1px 1px 3px 0 #929497;
        -webkit-box-shadow: 1px 1px 3px 0 #929497;
        box-shadow: 1px 1px 3px 0 #929497;*/

        -webkit-transition: color .2s linear, background-color .2s linear;
        -moz-transition: color .2s linear, background-color .2s linear;
        -o-transition: color .2s linear, background-color .2s linear;
        transition: color .2s linear, background-color .2s linear;
    }

    #eps_dialog_action input[type="button"]:hover  {
        background:#287d87 url('/images/layout/right_arrow.png') no-repeat 90% 50%;
    }


    #eps_dialog_close {
        display: block;
        position: absolute;
        top: -7px;
        right: -7px;
        width: 24px;
        height: 27px;
        text-indent: -9999px;
        background: url('/images/dialogs/close_black_24.png') 0 0 no-repeat;
    }


