﻿@charset "UTF-8";
/* CSS Document */


/*UR Header Styles */
#bread_crumbs_display{
    display: none;
} 

#bread_crumbs_display {
    float: left;
    margin: 75px 0px 0px;
    padding: 0px;
    font: 10px/15px arial,tahoma,sans-serif;
    border: 0px solid #CCC;
} 
 
.background_gf {
    background-attachment: fixed;
    background-color: black;
   
}

.boxed-fluid {
    box-shadow: 0px 0px 5px #888888;
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
    background: #fff;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}

.header {
    border-top: 6px solid #242626;
    font-family: Poly;
    font-size: 16px;
    color:white;
    background-color: black;
}

.header-top-line {
 
  height: 6px;
}

.header-top{
  background:#f1f1f1;
}

.container {
  padding-right: 15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
}

.row {
  margin-right:-100px;
  margin-left:-100px;
}

.col-xs-6 {
  width:50%;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.header-top-info, .header-top-socials, .col-xs-12 {
    display: none;
    margin:0;
    padding:0;
    font-size:0;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.header-top-info, .header-top-socials, .col-xs-12 {
    display: none;
}

.header-top-info, .header-top-socials {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.header-top-info li {
  list-style: none;
  color:#9b9b9b;
  line-height:1.5em;
  display:inline-block;
  margin-right:30px;
  position:relative;
  padding-left:24px;
  padding-top:5px;
}

.header .logo {
    /* padding:25px 0 */
}

.header .logo a {
    /* display: inline-block;*/
}

img, iframe {
  height: auto;
  max-width: 100%;
}

img {
  vertical-align: middle;
  border: 0;
}

.col-md-8 {
  width:70%;
  padding:0px;
}

.main-nav {
    text-align: right;
    /* padding-top:33px;*/
}

.responsive-menu {
  padding:20px 30px;
  font-size:14px;
  display:none;
  line-height:1.5em;
  cursor:pointer;
  font-weight:700;
  color:#121212;
  vertical-align:top;
  text-align:center;
  text-transform:uppercase;
}

.responsive-menu i {
  vertical-align: top;
  padding:0;
  font-size:16px;
  line-height:1em;
}

.our-team-section .team-member .member-image .image-hover, .main-sidebar .widget-categories ul li a:before, i, input, .filter-area .filter-item .filter-item-hover.filter-item-hover-video, .filter-area .filter-item .filter-item-hover, .the-slider .slide-arrows .slide-left, .the-slider .slide-arrows .slide-right, textarea, a {
    outline: none;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-nav ul {
  margin:0;
  font-size:0;
}

.main-nav ul li {
  list-style:none;
  font-size:16px;
  display:inline-block;
  margin-right:10px;
  position:relative;
}

.main-nav ul li a {
  text-align: left;
  font-family: Poly;
}

.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}

.menu-item {
  border-left: 1px solid #828282;
}

#orange_bar {
  padding:13px;
  padding-left:0px;
  padding-right:0px;
  background: linear-gradient(to bottom, #efe1f3 0%,#d6c7d2 100%,#aba2bc 100%);
  color:@ffffff !important;
  overflow:hidden;
  border:1px solid #888;
}

span.sub {
  font-style:normal;
  font-size:small;
}

.main-nav ul li ul {
  min-width:200px;
  position:fixed;
  background:#f8f8f8;
  padding:10px 0;
  z-index:1000000000;
  display:none;
}

.main-nav ul li ul li {
  display: block;
  text-align:left;
  margin:0;
}

.main-nav ul li {
  list-style:none;
  font-size:16px;
}

.main-nav ul li ul li a {
  text-transform: none;
  font-size:13px;
  padding:5px 30px 5px 10px
  font-family:'Open Sans', sans-serif;
}

    .main-nav ul li a {
        font-family: playfair display;
        text-align: left;
        font-style: italic;
        display: block;
        font-size: 22px;
        color: White;
        line-height: 1.5em;
        padding: 10px;
        text-transform: uppercase;
    }

ul li a:hover {
    background: #d15840;
}

/*.main-nav ul li.current-menu-ancestor>a, .main-nav ul li.current-menu-parent>a, .main-nav ul li.current_page_item>a, .main-nav ul li.active>a, .main-nav ul li a:hover {
    background: #d15840;
    color: #fff; */
    }

@media (min-width: 1200px)
.container {
  width: 1170px;
}

@media (min-width: 992px)
.header-top {
  display:none;
}

.col-md-6 {
  width: 50%;
}

.col-md-3 {
  width:35%;
  float:left;
}

.container {
  width: 80%;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.col-md-4 {
  width:30%;
}

.col-md-8 {
  width: 66.6%;
}

.main-nav ul {
    padding-top: 50px;
    display:block;
}

.main-nav ul li:hover ul {
  display:block;

}

@media (min-width: 768px)
.container {
  width:750px;
}

/*end of UR Header styles */