﻿@charset "UTF-8";
/* CSS Document */


/*comment on August 19 to test */
a {
	font-family: 'ProximaNovaLtLight',sans-serif;
	text-decoration: none;
}
@font-face {
    font-family: 'architects_daughterregular';
    src: url('/Content/fonts/architectsdaughter-webfont.eot');
    src: url('/Content/fonts/architectsdaughter-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/architectsdaughter-webfont.woff2') format('woff2'),
         url('/Content/fonts/architectsdaughter-webfont.woff') format('woff'),
         url('/Content/fonts/architectsdaughter-webfont.ttf') format('truetype'),
         url('../fonts/architectsdaughter-webfont.svg#architects_daughterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


#headerBar {
	background-color: rgb(250, 80, 0);
	/*background-color: maroon;*/
	width:80%;
	float:left;
	margin:0;
   height: 30px;
   padding: 20px 0;
}


#calendar {
	float: left;
	width: 95px;
    padding-left: 16px;
}

#phone {
	font-family: 'ProximaNovaLtLight',sans-serif;
	color: #fff;
	font-size: 1.8rem;
    float: left;
}

#phone a{
	font-family: 'ProximaNovaLtLight',sans-serif;
	color: #fff;

}

#headerNav {
	float: right;
}

#headerNav ul {
	list-style: none;
	margin: 0;
	padding:0;
}

#headerNav ul li {
	display: inline;
    margin-right: 22px;
}

#headerNav ul li a {
	font-family: 'ProximaNovaLtLight',sans-serif;
	color: #fff;
	  font-size: 1.3em;
  line-height: 1.4em;
  text-transform: uppercase; /*rule added by Suzanne July 27*/
}

#headerNav ul li a:hover, #headerNav ul li a.hovered {
	background-color: #287d87;
	color: #9bc718;
}


#cartBar {
	background-color: #287d87;
	padding: 15px 0px;
	width:20%;
	float:right;
	height: 40px;
	margin:0;
	color: #fff;
}

#cartBar a{
	color: #fff;
    margin-left: 20px;
 font-size: 1.4em;
line-height: .8em;
float: right;
text-transform: uppercase; /*rule added by Suzanne July 27*/
}

#cartBar a:hover{
	color: #a2d7de;
}

.cart_full {
	background: url("/Images/icon_cart2.png");
	background-repeat: no-repeat;
	background-position:center left;
	padding: 12px 10px 10px 55px;
}



#clear {
	clear:both;
}

#mainBar {
	height:120px;
	width: 100%;
	clear:both;
	margin-top: 8px;
}

#logo {
	float: left;
	width: 196;
	padding: 2px 0 0 2px;
}


#mainNav {
	width: 100%;
    text-align: right;
}

#mainNav ul {
	list-style: none;
}

#mainNav ul li {

    margin-right: 22px;
}

#mainNav ul li a {
	font-family: 'ProximaNovaLtLight',sans-serif;
	color: #287d87;
	
	line-height: 2em;
}

#mainNav ul li a:hover {
	color: #246366;
}

#eps_tools_search_input {
	/*float:right; rule removed by Suzanne July 28*/
	height:25px;
	border:1px solid #9bc718;
	padding:4px;
}

#eps_tools_search_input_display /*changed to this from search_m by Suzanne July 22*/{
	float:right;
	height:50px;
	
}

button {
font-family: 'ProximaNovaLtLight',sans-serif;
font-size: 1.2rem;
color: #287D87;
background-color: #fff;
padding: 5px;
border: none;
line-height: 1.3em;
}




input[type="text"]:focus {
  outline: none;
}

input[type="text"] {
  margin: 0;
  font-size: 15px;
  appearance: none;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
padding: 5px;
}


.cart_mobile{
		display:none;
	}
	
img.menu-search {
    display:none;
}


.menu-link { display: none;}
.menu { 
  float: right;
  -webkit-transition: all 0.3s ease;  
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}
.menu ul { 
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline-table;
  z-index: 1000;
  position: relative;
}
.menu > li > ul.sub-menu {
	min-width: 10em;
	padding: 4px 0;
	background-color: #f4f4f4;
	border: 1px solid #CCC;
}
.menu ul li { padding: 0px; }

.menu > ul > li { display: inline-block; }

.menu ul li a { 
display: block; 
text-decoration: none; 
color: #287D87; 
font-size: .9em; 
}

.menu ul li a.active {
    color: #000;
} /*added by Suzanne August 20 */

.menu ul li a:hover { 
color: #9bc718; 
}

.menu ul li:hover > a {
background-color: #287d87;
color: #9bc718;
}

.menu ul li > a { 
padding: 20px 10px; 
text-transform: uppercase;
}

.menu ul ul { 
  display: none; 
  position: absolute; 
  top:100%;
  min-width: 160px;
  background-color: #ffffff;
  width: 200px; /*rule added by Suzanne July 22*/
}

.menu ul li:hover > ul { display: block; }

.menu ul ul > li { position: relative; }

.menu ul ul > li a { 
padding: 8px 15px 8px 10px; 
height: auto; 
background-color: #f1f1f1;
font-size: 1em; }

.menu ul ul > li a:hover { 
background-color: #287d87; 
color: #fff; 
}

.menu ul ul ul { position: absolute; left: 100%; top:0; }

.menu ul ul ul li > a  {  background-color: #f1f1f1; }

#mp_sign_in_display a {
   font-size: 1.1em;
   padding-left: 7px;
   border-right: 1px solid #fff;
   padding-right: 25px; /*changed from 5px to 25px by Suzanne July 28*/
   color: #737474; /*added by Suzanne July 28*/
} /*added by Suzanne July 27*/

#mp_sign_in_display ul li a {
color: #737474;
text-transform: capitalize;
font-size: 1.1em;
padding-left: 5px;
padding-right: 10px;
}

.icons ul  {
    margin-bottom: 10px;
} /*added by Suzanne July 28*/

.selected_menu_item a {
	background-color: #DB5353;
	color: #ffffff;	
}

#bread_crumbs_display {
    float: left;
    /*width: 550px;
    margin: 75px 0px 0px;*/
    padding: 0px;
    font: 10px/15px arial,tahoma,sans-serif;
    border: 0px solid #CCC;
} /*entire group added by Suzanne July 28*/

@media all and (max-width: 810px) {
	
	#eps_tools_search_input_display {
    display: none;
}
	
	#current_week_container {
   display: none;
} /*added by Suzanne July 27*/
	
	#liveChat {
	 display: none;
	} /*added by Suzanne July 27*/
	
	#bread_crumbs_display{
    display: none;
} /*added by Suzanne July 22*/
	
	#calendar {
	display:none;
}

#phone {
	display:none;
}

#headerNav ul {
    margin: 0px;
    padding: 0px;
}

#headerNav ul li a {
    font-size: 1.1rem;
}

.cart_full{
		display:none;
	}
	.cart_mobile{
		display:block;
	}
	
	#cartBar a{
    margin-right: 8px;
}
	
  .example-header .container { width: 100%; }
  
  a.menu-link {
    display: block;
    float: right;
    text-decoration: none;
    padding: 15px 10px 20px 10px;
}

   img.menu-search {
    display: block;
    float: right;
    text-decoration: none;
    padding: 15px 10px 20px 10px;
}
  
  .menu { min-width: inherit; float: none; }


  .menu ul li > a { 
  padding: 15px 12px;
  font-size: 1.1em; 
  background-color: #a2d7de; /*rule added by Suzanne July 27*/ 
  }
  
  .menu, .menu > ul ul { overflow: hidden; max-height: 0; background-color: #A2D7DE; }
  
  .menu > li > ul.sub-menu { padding: 0px; border: none; }
 
  .menu.active, .menu > ul ul.active { 
  max-height: 55em; 
  width: 100%; /*rule added by Suzanne July 22*/
  }
  
  .menu ul { display: inline; }
  
  .menu > ul { border-top: 1px solid #fff; }
  
  .menu li, .menu > ul > li { display: block; }
  
  .menu li a { 
  color: #000; 
  display: block; 
  padding: 0.8em; 
  border-bottom: 1px solid #fff; 
  position: relative; 
  }
  
  .menu li.has-submenu > a:after {
    content: '+';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 1.5em;
    padding: 0.55em 0.5em;
  }
  .menu li.has-submenu > a.active:after {
    content: "-";
  }
  .menu ul ul > li a { background-color: #e4e4e4; padding: 15px 18px 15px 30px; }
  .menu ul ul, .menu ul ul ul { display: inherit; position: relative; left: auto; top:auto; border:none; }

#mp_sign_in_display a {
    padding-left: 5px;
    padding-right: 5px;
}

#headerNav ul li {
    margin-right: 5px;
    font-size: 11px;
}

#logo {
	float: none;
	}

}



@media all and (max-width: 1200px) {
	#liveChat {
	 display: none !important;
	} /*added by Suzanne July 28*/
	
	#current_week_container {
   display: none !important;
} /*added by Suzanne July 28*/

#calendar {
	display:none !important;
} /*added by Suzanne July 28*/
	
}

@media all and (min-width: 1200px) {
 
  #cartBar {
    width: 12%;  
} /*rule added by Suzanne July 22*/

#headerBar {
    width: 88%; 
} /*rule added by Suzanne July 22*/
  
  
  .menu ul li a {
    font-size: 1.2em;
  }

  .menu ul {
      width: 700px;
  margin-right: 0px; /*edited by Suzanne July 22 */
  z-index: 10000;
  position: relative; /*added by Suzanne July 30*/
  }
  
  .menu {
	  margin-right: 200px;
  } /*added by Suzanne August 11*/
  
  #eps_tools_search_input_display {
	  margin: -55px 10px 0px 0px;
  } /*added by Suzanne August 11*/
  
}