﻿
            /*ToDo: Integrate this css with site.css*/

        .menu {
			z-index: 1000000 !important;
			position: relative !important;
		} 

		#selection_menu_category_container {
            /*float:left;*/
            position:absolute;
            z-index:500;
            top:125px;  /*reset by script*/
            left:650px; /*reset by script*/
            width:200px;
            /*display:none;*/
            margin:0;
            padding:0;
            background: transparent;
            border: 1px solid #287d87;
	        -moz-box-shadow:        1px 1px 3px 0 #929497;
  	        -webkit-box-shadow:     1px 1px 3px 0 #929497;
  	        box-shadow:             1px 1px 3px 0 #929497;

        }

        #selection_menu_category_container h2 {
	        margin:10px 0 0 0;
            padding-top: 25px;
	        /*background: #287d87 url('/Images/Layout/dd_menu_pointer.png') center 3px no-repeat;*/
        }

        #selection_menu_category_container h2 span {
            font-size: 24px;
            font-weight: normal;
            color: #9bc718;
            display: block;
            padding-left: 12px;
            background: white;	
        }

        #select_category_list
        {
            margin:0;
            padding:0 0 0 5px;
            list-style:none;
            background:#fff;
            border:solid 0px #c00;
        }

        .category_selection_links
        {
            /*font-size: 12px;*/
            /*display: block;*/
            margin: 0;
            /*padding: 5px 0 5px 12px;*/
            border-bottom: 2px solid #fff;
            
            /*text-transform: uppercase;*/
            -webkit-transition: border .2s linear;
            -moz-transition: border .2s linear;
            -o-transition: border .2s linear;
            transition: border .2s linear;
             /*color: #737474;*/
            cursor:pointer;

            padding: 8px 15px 8px 10px;
            height: auto;
            background-color: #f1f1f1;
            font-size: 1em;
            font-family: 'ProximaNovaLtLight',sans-serif;
            text-transform: uppercase;

            display: block;
            text-decoration: none;
            color: #287D87;
           

        }

        .select_category_list_selected, .category_selection_links:hover
        {
	        border-bottom: 2px solid #287d87;
	        background: url('/Images/layout/menu_subchild_pointer.png') right 1px no-repeat;
            background-color:  #287D87;
            color: #fff;
        }


        #selection_menu_form_container
        {
            position: absolute;
            z-index: 500;
            top: 200px;  /*reset by script*/
            left: 200px; /*reset by script*/
            width: 200px;
            display: none;
            margin: 0;
            padding: 2px 0 0 0;
            background: #fff;
            border: 1px solid #287d87;
	        -moz-box-shadow: 1px 1px 3px 0 #929497;
  	        -webkit-box-shadow: 1px 1px 3px 0 #929497;
  	        box-shadow: 1px 1px 3px 0 #929497;
        }

        #selection_menu_form_container h3
        {
            margin:5px 0 0 0;
            padding:5px 0 5px 20px;
            font-size: 24px;
            color: #9bc718;
            font-weight: normal;
        }

        #selection_menu_form_container ul
        {
            margin:0;
            padding:0 0 0 0;
            list-style:none;
            background:#fff;
            border:solid 0px #c00;
        }

        .form_selection_links {
            /*color: #737474;
            font-size: 12px;*/
            /*display: block;*/
            margin: 0 0 0 0px;
            /*padding: 5px 0 5px 20px;*/
            border-bottom: 2px solid #fff;
            /*text-transform:uppercase;*/
	        border-bottom: none;

            -webkit-transition: border .2s linear;
            -moz-transition: border .2s linear;
            -o-transition: border .2s linear;
            transition: border .2s linear;
            cursor:pointer;

            padding: 8px 15px 8px 10px;
            height: auto;
            background-color: #f1f1f1;
            font-size: 1em;
            font-family: 'ProximaNovaLtLight',sans-serif;
            text-transform: uppercase;

            display: block;
            text-decoration: none;
            color: #287D87;

        }



        .form_selection_links:hover
        {
	        /*color: #287d87;*/
	        /*background: url(/Images/layout/menu_subchild_pointer.png) left 1px no-repeat;*/
            background-color:  #287D87;
            color: #fff;
        }

        .form_selection_links_unavailable
        {
            display:none;
            color: #c0c0c0;
            cursor:default;
        }


            #page_container {
                min-width: 900px;
                max-width: 1280px;
                margin: 0 auto 0 auto;
                padding: 0px;
                background-color: #fff;
            }

            #header {
                position:relative;
                margin:0;
                padding:15px 0 0 0;
                border:0px solid #0f0;
            }
            #header_row_1 {
                /*height:23px;*/
                margin:0;
                padding:0px 0 6px 0;
                background:#fff;
                text-align: center;
           }

            #header_row_1 a {
                text-decoration: none;
            }
            #header_row_1 a:hover {
                text-decoration: underline;
            }

/************** Header Row 1  Right Display ************************************/
            #header_row_1_right {
                float: right;
                width: 500px;
                background-color: transparent;
                margin: 0;
                padding: 0;
                text-align: right;
                border: solid 0px #0f0;
            }
            #phone_display {
                height:25px;
                margin:0;
                padding:5px 0 0 0;
                text-align: right;
                font-family: 'ProximaNovaRgRegular', sans-serif;
                /*font-weight: 700;*/
                font-size: 25px;
                background: transparent;
                color: #9bc718;
                letter-spacing: .08em;
            }
            #top_navigation_display {
                height: 20px;
                margin: 0;
                margin: 15px 0 0 0;
                padding: 0;
                text-align: right;
                font-family: Arial;
                font-weight: normal;
                font-size: 12px;
                background: transparent;
                /*color: #287d87;*/
                color: #9bc718;
                letter-spacing: .08em;
                border: solid 0px #0f0;

            }
            #top_navigation_display a {
                margin: 0 2px 0 2px;
                font-family: 'Helvetica';
                padding: 2px;
                font-size: 12px;
                color: #287d87;
                text-decoration: underline;
            }
            #top_navigation_display a:hover {
                text-decoration: none;
            }
            #top_navigation_display a.username, #top_navigation_display a#logoutForm , #top_navigation_display a#loginLink {
                background: none;
                font-family: 'Helvetica';
                margin: 0;
                padding: 0;
                text-decoration: underline;
            }
            #top_navigation_display a.username:hover, #top_navigation_display a#logoutForm:hover , #top_navigation_display a#loginLink:hover {
                text-decoration: none;
            }

/************** Header Row 1  Left Display ************************************/
            #header_row_1_left {
                float: left;
                margin: 0;
                padding: 0;
                text-align: left;
            }
            #header_row_1_left a {
                /*background-color: #d3dce0;*/
                margin: 0 4px 0 4px;
                padding: 2px;
            }


/***************Header Row 2 *******************************************/
            #header_row_2  {
                clear: both;
                height: 64px;
                margin: 0;
                padding:0 0 0 0 ;
                /*background: #fff url('/Images/header_bgd.png') repeat-x 0 0;*/

                background: #fff url('/Images/layout/catalogue.png') repeat-x 0 -5px;

                /*text-align:center;*/
                -moz-box-shadow: 0 0 5px 0 #333;
                -webkit-box-shadow: 0 0 5px 0 #333;
                box-shadow: 0 0 5px 0 #333;
                /*-moz-box-shadow: 0 0 5px 2px #ccc;
                -webkit-box-shadow: 0 0 5px 2px #ccc;
                box-shadow: 0 0 5px 2px #ccc;*/
            }

            #header_row_2_center {
                min-width:625px;
                /*margin:0 auto 0 auto;*/
            }

            #main_navigation {
                height: 40px;
                margin: 0;
                padding: 0;
                font-family: 'ProximaNovaLtLight', sans-serif;
                /*font-weight: 400;*/
                font-size: 18px;
                background: transparent;
                border: solid 0px #fff;
            }

            #main_navigation_links_display {
                margin-top: 0px;
                padding-top: 10px;
				margin-left: 200px;
            }

            .main_navigation_links_available, .main_navigation_links_selected  {
                margin-right: 15px;
                margin-left: 15px;
               
                font-family: 'ProximaNovaLtLight', sans-serif;
                /*font-weight: 400;*/
                font-size: 18px;
                background: transparent;
                text-decoration: none;
                letter-spacing: .08em;
                color: #9ab347;
                cursor:pointer;
                 /*padding: 0;*/
                padding: 20px 10px;
                text-transform: uppercase;

            }
            .main_navigation_links_selected {
                color: #a2d7de;
            }

            .main_navigation_links_available:hover {
                /*text-decoration: underline;*/
                color:#a2d7de;
            }


            #sub_navigation {
                height: 20px;
                margin: 0;
                padding: 0;
                font-family: 'ProximaNovaLtSemibold', sans-serif;
                font-weight: 400;
                font-size: 18px;
                background: transparent;
                border: solid 0px #fff;
            }

            #sub_navigation_links_display {
                margin: 0 0 0 200px;
                padding: 0 0 0 0;
            }

            .sub_menu_links {
                margin: 0;
                padding: 5px 15px 2px 15px;
                font-family: 'ProximaNovaLtSemibold', sans-serif;
                /*font-weight: 700;*/
                font-size: 12px;
                background: transparent;
                text-decoration: none;
                color: #115c70;
                letter-spacing: .08em;
                cursor:pointer;
            }

            .sub_menu_links:hover {
                /*text-decoration: underline;*/
                background: white;
                padding: 5px 15px 2px 15px;
            }

            #current_week_container
            {
                float: left;
                width: 165px;
                height: 64px;
                margin: 0;
                text-align: left;
                /*background: transparent url('/Images/layout/navbar_80sgraphic.png') no-repeat -1px 0;*/
                background: transparent no-repeat -1px 0;
                border:solid 0px #f00;
            }

            #current_week_display {
	            /*updated to Design, note use of 40px/30px which works but is combo of past and design*/
                
                /*background: transparent url('/Images/Week_Full.png') no-repeat 0 0;*/
                height: 64px;
                margin:0;
                padding: 6px 0 0 80px;
                font: normal normal normal 40px/30px 'ProximaNovaLtSemibold', sans-serif;
                background: transparent url('/Images/icon_cal.png') no-repeat 35px 6px;
                
                color:#fff;
            }

            a.avail {
                background: #d15840;
                color:#ffffff !important;
            }
            
            /*#arrow_right_display {
                float: right;
                margin: 0;
                padding: 3px;
                padding: 8px 40px 0 0;
            }
            #arrow_right_display img {
                float: right;
                cursor: pointer

            }*/

            #shopping_cart_display {
                float: right;
                margin: 0;
                padding: 4px 20px 0 0;
            } 
            #shopping_cart_display img {
                margin: 0 0 0 5px;
                padding: 0;
                cursor: pointer;
            }
            #shopping_cart_display a {
                font-family: 'ProximaNovaLtSemibold', sans-serif;
                font-weight: normal;
                font-size: 12px;
                text-decoration: underline;
                color: #115c70;
                letter-spacing: .08em;
                cursor:pointer;


            }

            #shopping_cart_display a:hover {
                text-decoration: none;

            }

/************************Header Row Three **********************************/
    #header_row_3 {
        clear: both;
        width: auto;
        height: 40px;
        margin: 0;
        padding: 0;
        background: transparent;
    }

        #bread_crumbs_display {
            float:left;           
            width:99.5%;
            margin: 20px 0 0 0;
            padding: 0;
            font: normal normal normal 10px/15px arial, tahoma, sans-serif;
            border: solid 0px #ccc;
            display:block;
        }
            #bread_crumbs_display span {
	            font-size: 11px;	
	            color: #656563;
            }
            #bread_crumbs_display span a {
	            color: #656563;
                text-decoration:none;
            }
            #bread_crumbs_display span a:hover {
	            color: #656563;
            }
            #bread_crumbs_display span a:hover {
	            color: #287d87;
            }

       /*#eps_tools_search_input_display
        {
            float: right;
            height: 50px;
            display:block;
            /*ommented by Scott on new header
                width: 285px;*/
           /*margin: 10px 0 0 0;
            padding: 0;
            font: normal normal normal 10px/15px arial, tahoma, sans-serif;
            text-align: right;
            border: solid 0px #ccc; 
        }*/

            /* Commented by Scott on new header
                #eps_tools_search_input_display label {
	            font-family: 'ProximaNovaLtSemibold';
	            font-size: 12px;
	            text-transform: uppercase;
	            width: auto;
	            display: inline;
	            color: #9bc718;	
            }*/

/*#eps_tools_search_input_display input[type=text] {
	            width: 185px;
	            border: 1px solid #9bc718;
	            padding: 4px;
	            height: 23px;
	            background: white;
	            -moz-box-shadow:    inset 0 0 3px #aaa;
                -webkit-box-shadow: inset 0 0 3px #aaa;
                box-shadow:         inset 0 0 3px #aaa;
	            outline: none;
	            -webkit-box-sizing: border-box; 
	            -moz-box-sizing: border-box; 
	            box-sizing: border-box;
            }

            #eps_tools_search_input_display img {
	            padding:0 0 6px 0;
                position: relative;
	            left: -1px;
	            cursor: pointer;
	            vertical-align: bottom;
            }*/





/**********************************************************/

            #logo_display {
                width:300px;
                margin:0 0 0 15px;
                padding:0 ;
                border:dotted 0px #b0b0b0;
                text-align:left;
                cursor:pointer;
            }

/****************************************************************/

            #navigation_display {
                width:auto;
                z-index:-10;
                height:30px;
                margin:0;
                padding: 0px;
                font:normal normal normal 16px/20px tahoma, arial, sans-serif;
                text-align: center;
                background: #b0b0b0;
}
            #navigation_display a {
                margin:0;
                padding:0;
                color: #333;
                outline: none;
                padding-left: 3px;
                padding-right: 3px;
                text-decoration: none;
            }
           a:link, a:visited, a:active, a:hover { color:white; }
            #navigation_display a:hover {
                text-decoration: underline;
            }




.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

footer {
	clear: both;
	min-height: 140px;
	max-width: 100%;
	margin: 0 auto;
	line-height: 1.2;
	position: relative;
	font-size: 13px;
	overflow: hidden;
	padding: 10px 0 0 0;
	color: #fff;
	background-color: #93BEC3;
    display:block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    
}
	footer a:hover {
		color: #E3F3F5;
		text-decoration: underline;
	}

footer #footer_content {
	position: relative;
	margin: 0 auto;
	width: 75%;
}

    footer #footer_content p {
        margin:0;
        padding:0;
    }

footer div {
	position:relative;
}

footer ul {
	margin: 0;
	list-style: none;
    padding:0;

}

	footer li {
		margin: 5px 0;
	}
	
	footer li a {
		color: #fff !important;
		text-decoration: none;
	}

footer #social {
	float: left;
	padding-left: 55px;
}
	footer #social ul li {
		display: inline-block;
		margin-right: 3px;
	}
	footer #social ul li.block {
		display: block;
		margin-right: 3px;
	}

footer #links {
	float: left;
	width: 20%;
	overflow: hidden;
	padding: 4px 10%;
	margin: 0 10%;
	float: left;
	border-left: 1px solid #E3F3F5;
	border-right: 1px solid #E3F3F5;
}

@media only screen and (max-width: 1200px) { 

 footer #links {
  padding: 4px 5%;
 }

 footer #footer_content p {
  text-align: center;
 }

}


footer #menu {
	float: left;
	width: 18%;
	margin-top: 5px;
	font-size: 15px;
}
	footer #menu a {
		padding-right: 18px;
		background: url(/Images/layout/footer_link_pointer.png) right center no-repeat;
	}

footer #address {
	clear: both;
	padding-top: 2%;
}

