﻿


#page_content {
    min-height: 500px;
    margin: 0 0 20px 0;
    padding: 0;
    border: dashed 0px #00f;
	min-width: 320px;
}

    #page_content h1 {
        font-family: 'ProximaNovaLtSemibold';
        font-weight: normal;
        font-size: 25px;
        line-height: 1.5;
        color: #287d87;
        vertical-align: baseline;
    }
/**************************** Ship-to Address Form ********************************/

#address_form_template {
    display: none;

}

#new_address_form {
    margin:10px 0 15px 0;
    padding:10px;
    background: transparent;

    /*border:solid 1px #287d87 ;*/

    border:solid 1px #9bc718;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;

}

#new_address_form table tbody tr td {
    text-align: left;
}

#new_address_form table tbody tr td.td_0 {
    text-align: center;
    color: rgb(40, 125, 135);
}


#ship_to_button_send, #ship_to_button_delete2, #ship_to_button_cancel2 {
    margin:0 0 0 15px;
    padding: 4px 8px 4px 8px;

    color: #9bc718;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75;
    vertical-align: baseline;

    background:#f0f0f0;
    border:solid 1px #287d87 ;

    border:solid 1px #9bc718;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;

}
#ship_to_button_cancel2 {
    font-size: 14px;
    line-height: 1.5;
}
#ship_to_button_send:hover, #ship_to_button_cancel2:hover {
    color: rgb(40, 125, 135);
}

.ship_to_message {
    padding: 2px;
    color: #9bc718;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    vertical-align: baseline;

    background: transparent;

    /*border:solid 1px #9bc718;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;*/

}

    #new_address_form #ship_to_name     {
        width: 250px;
    }
    #new_address_form #ship_to_street_address_1, #new_address_form #ship_to_street_address_2 {
        width: 250px;
    }
    #new_address_form #ship_to_city     {
        width: 125px;
    }

    #new_address_form #ship_to_country     {
        width: 35px;
    }
    #new_address_form #ship_to_zip_code     {
        width: 60px;
    }
    #new_address_form #ship_to_phone_number     {
        width: 140px;
    }
    #new_address_form #ship_to_special_instructions     {
        width: 300px;
    }

#new_address_form label {
    /*color: #9bc718;*/
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.5;
    vertical-align: baseline;

}

#new_address_form input[type=text] {
    /*color: #287d87;*/
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.1;
    vertical-align: baseline;

        background: transparent;
    border: none;       /*get rid of default borders*/
    border-bottom:solid 1px #9bc718;
    -webkit-appearance: none;

    /*background: transparent;
    border:solid 1px #9bc718;
    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    -o-border-radius: 3px 3px;
    border-radius: 3px 3px;*/

}
#new_address_form textarea {
    /*color: #287d87;*/
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.1;
    vertical-align: baseline;

    background: transparent;
    border:solid 1px #9bc718;
    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    -o-border-radius: 3px 3px;
    border-radius: 3px 3px;

}


#ship_to_table {
	width: 90%;
    border: solid 0px #0f0;
	font-size: 11px;
}
    #ship_to_table td {
        /*width: 33%;*/
    }
    .ship_to_edit_links {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
		color: #007d9a;
    }
    .ship_to_edit_links:hover {
        text-decoration: underline;
    }

   #order_detail_display {
    display: block;
    min-height:200px;
    margin:0;
    padding:20px;
    overflow: hidden;
    background: #fff;
    /*border:solid 1px #9bc718;
        -webkit-border-radius: 5px 5px;
        -moz-border-radius: 5px 5px;
        -o-border-radius: 5px 5px;
        border-radius: 5px 5px;*/
}
.header_bars {
    clear: both;
    margin: 0;
    padding: 3px 0 0 15px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: #646563;
    vertical-align: baseline;
    background: #CFD1D3 url(/images/layout/cart_header_pointer.png) 0 center no-repeat;
    border: 0;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}

#order_description_display {
    margin:10px 0 0 0;
    padding:0;
    border:dotted 0px #f00;
}

.text_input_displays {
    width:650px;	
    padding: 0;
	margin-bottom: 0;
	overflow: hidden;
	/*border-bottom: 1px solid #287d87*/;	
}
    .text_input_displays label {
	    display: inline-block;
	    padding-right: 5px;
        font: normal normal normal 11px/1.5 Helvetica, Arial, sans-serif;
		color: #287d87;
		height: 13px;
		vertical-align: bottom;
    }

    .text_input_displays input[type=text] {
   	    width: 75%;	
		float: right;
	    background: none;
	    outline: none;
		font-size: 11px;
		padding: 6px 4px;
	    border: 1px solid #287d87;
    }





/**************** Action Buttons ******************************/    
    #button_display {
    text-align: center;
}

.action_buttons, .action_buttons_disabled {
    text-align: right;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
    display: inline-block;
    margin-left:5px;
	padding:6px 22px;
	color:#4c9466;
    text-decoration: none;
	background-color:#bbcfd6;
	border:1px solid #4c9466;
    cursor: pointer;
}
	.action_buttons:hover {
		border:1px solid #bbcfd6;
		background-color:#4c9466;
		color:#bbcfd6;
	}

.action_buttons_disabled {
    color:#999;
    text-decoration: none;
	background-color:#ccc;
	border:1px dotted #999;
    cursor: pointer;

}



