﻿@charset "UTF-8";
/* CSS Document */

/* New Styles by Gabriel 
___________________________________________*/

.mc_left {
	float:left;
}

.mc_right {
	float:right;
}

.mc_clear {
	clear:both;
	min-height:1px;
}

.mc_alignRight {
	text-align:right;
}

#mc_textGreen1 {
	color:#287d87;
}

#mc_textGreen2 {
	color:#9bc718;
}

#mc_textGreen3 {
}

#page_container #page_content #mc_content hr,
#page_container #page_content #mc_sidebar hr,
#page_container #page_content #mc_contentPartners hr {
	border:.1em solid;
	border-color:#287d87;
	margin-top:30px;
	margin-bottom:30px;
	margin-left:-20px;
	
}

#mc_green2 {
	border-color:#9bc718 !important;
}

#page_container #page_content #mc_content,
#page_container #page_content #mc_contentPartners,
#page_container #page_content #mc_contentFeatured,
#page_container #page_content #mc_content.mcMyAccount {
	width:60%;
	position:relative;
	margin-top:20px;
	margin-left:125px;
	margin-bottom:20px;
	font-family: Helvetica, sans-serif;
	font-size:14px;
	color:#637174;
	line-height:1.4;
}

#page_container #page_content #mc_contentFeatured,
#page_container #page_content #mc_content.mcMyAccount {
	position:relative;
	width: auto;
	margin-right: 125px;
	line-height: 1;
}

#page_container #page_content #mc_contentFeatured #mc_featureContainer {
	position:relative !important;
	width: 267px !important;
	height: 162px !important;
	border: solid 2px #159cbb !important;
	margin-left: 100px !important;
	margin-bottom: 50px !important;
}

#page_container #page_content #mc_contentFeatured #mc_featureContainer:first-child {
	margin-left: 0 !important;
}

#page_container #page_content #mc_contentFeatured #mc_featureContainer .accordion {
	background-image: url(http://epsstorage.blob.core.windows.net/websiteimages/bg_featurecontent.png) !important;
	background-size: 100% !important;
	background-position:top left !important;
	background-repeat:no-repeat !important; 
}

#page_container #page_content #mc_contentFeatured #mc_featureContainer .accordion #part1,
#page_container #page_content #mc_contentFeatured #mc_featureContainer .accordion #part2,
#page_container #page_content #mc_contentFeatured #mc_featureContainer .accordion #part3,
#page_container #page_content #mc_contentFeatured #mc_featureContainer .accordion #part4,
#page_container #page_content #mc_contentFeatured #mc_featureContainer .accordion #part5,
#page_container #page_content #mc_contentFeatured #mc_featureContainer .accordion #part6 {
	border-bottom: solid 2px #9bc718 !important;
	padding: 15px 10px !important;
}

#page_container #page_content #mc_contentFeatured #mc_featureContainer .accordion h3 {
	font-size: 14px !important;
	text-transform: uppercase !important;
	background-color: #9bc718 !important;
	padding: 5px 10px !important;
	color: #ffffff !important;
	font-weight:normal !important;
	background-image: url(http://epsstorage.blob.core.windows.net/websiteimages/icn_downarrow1.png) !important;
	background-position: 248px center !important;
	background-repeat:no-repeat !important;
	cursor: pointer !important;
}

#page_container #page_content #mc_content.mcMyAccount .accordion h3 {
	cursor: default;
}

#page_container #page_content #mc_contentFeatured #mc_featureContainer .accordion #part1 p,
#page_container #page_content #mc_contentFeatured #mc_featureContainer .accordion #part2 p,
#page_container #page_content #mc_contentFeatured #mc_featureContainer .accordion #part3 p,
#page_container #page_content #mc_contentFeatured #mc_featureContainer .accordion #part4 p,
#page_container #page_content #mc_contentFeatured #mc_featureContainer .accordion #part5 p,
#page_container #page_content #mc_contentFeatured #mc_featureContainer .accordion #part6 p {
	line-height: 1.2 !important;
	color: #000000 !important;
	font-size: 12px !important;
}

#page_container #page_content #mc_contentPartners {
	width:65%;
}

#page_container #page_content #mc_content h2,
#page_container #page_content #mc_content h3,
#page_container #page_content #mc_contentPartners h2,
#page_container #page_content #mc_contentPartners h3 {
	margin-bottom:20px;
	font-size:22px;
	font-weight:normal;
	color:#287d87;
}

#page_container #page_content #mc_content a,
#page_container #page_content #mc_contentPartners a {
	color:#637174;
	text-decoration:none;
}

#page_container #page_content #mc_content a:hover,
#page_container #page_content #mc_contentPartners a:hover {
	text-decoration:underline;
	color:#287d87;
}

#page_container #page_content #mc_content p,
#page_container #page_content #mc_contentPartners p {
	margin-bottom:18px;
}

#page_container #page_content #mc_content #mc_aboutUsPic {
	margin-left:10px;
	margin-right:10px;
}

#page_container #page_content #mc_content #mc_aboutUsPic img {
	padding: 5px;
	border: .1em solid #287d87;
	display: block;
	margin-bottom:12px;
}

#page_container #page_content #mc_content #mc_aboutUsPic p {
	color:#9bc718;
	font-size:14px;
	margin-bottom:2px;
	margin-top:0;
}

#page_container #page_content #mc_contentPartners {
	font-size:13px;
}

#page_container #page_content #mc_contentPartners #mc_contentSection {
	width:40%;
	margin-right:32px;
}

#page_container #page_content #mc_contentPartners #mc_contentSection.mc_sectionBreak {
	height:224px;
	width:1px;
	background-color: #287d87;
	margin-right:42px;
}

#page_container #page_content #mc_contentPartners h3 {
	font-size:21px;
}

#page_container #page_content #mc_contentPartners #mc_contentSection2 p {
	font-size:13px;
	margin-bottom:8px;
}

#page_container #page_content #mc_contentPartners p {
	font-size:14px;
	line-height:1.8;
}

#page_container #page_content #mc_contentPartners ul {
	list-style:none;
	margin-bottom:22px;
	font-size:14px;
	padding:0;
}

#page_container #page_content #mc_contentPartners ul li {
	line-height:1.5;
}

#page_container #page_content #mc_contentPartners ul li strong {
	color:#287d87;
}

#page_container #page_content #mc_content #mc_contactInfo {
	width:100%;
	margin-bottom:32px;
}

#page_container #page_content #mc_content #mc_contactInfo p {
	margin-bottom:10px;
}

#page_container #page_content #mc_content #mc_contactForm #mc_contactLeft {
	margin-right:55px;
}

#page_container #page_content #mc_contactForm #mc_contentSection.mc_sectionBreak {
	height:298px;
	width:1px;
	background-color: #287d87;
	margin-right:55px;
}

#page_container #page_content #mc_content #mc_contactForm #mc_contactRightThanks {
	width:65%;
}

#page_container #page_content #mc_content #mc_contactForm #mc_contactRight #mc_formName {
	width:332px;
	height:29px;
	background-image:url(http://epsstorage.blob.core.windows.net/websiteimages/bg_name.jpg);
	background-position:top left;
	background-repeat:no-repeat;
	margin-bottom:10px;
}

#page_container #page_content #mc_content #mc_contactForm #mc_contactRight #mc_formCompany {
	width:332px;
	height:22px;
	background-image:url(http://epsstorage.blob.core.windows.net/websiteimages/bg_company.jpg);
	background-position:bottom left;
	background-repeat:no-repeat;
	margin-bottom:10px;
}

#page_container #page_content #mc_content #mc_contactForm #mc_contactRight #mc_formEmail {
	width:332px;
	height:22px;
	background-image:url(http://epsstorage.blob.core.windows.net/websiteimages/bg_email.jpg);
	background-position:bottom left;
	background-repeat:no-repeat;
	margin-bottom:10px;
}

#page_container #page_content #mc_content #mc_contactForm #mc_contactRight #mc_formMessage {

}

#page_container #page_content #mc_content #mc_contactForm #mc_contactRight label {
	font-size:12px !important;
	display:inline !important;
}

#page_container #page_content #mc_content #mc_contactForm #mc_contactRight input[type="text"],
#page_container #page_content #mc_content #mc_contactForm #mc_contactRight input[type="email"] {
	margin: 0 0 0 15px !important;
	/*margin-left:15px !important; 
	had to chage to the above margin call because margin is added in the CMS*/
	background-color:none !important;
	font-size:12px !important;
	color:#637174 !important;
	outline:none !important;
	width:220px !important;
	border:none !important;
	display:inline !important;
	padding: 0 !important;
	/*had to add the above padding call because padding is added in the CMS*/
}

#page_container #page_content #mc_content #mc_contactForm #mc_contactRight textarea {
	width:450px !important;
	height:130px !important;
	margin-top:5px !important;
	border:.1em solid !important;
	border-color:#9bc718 !important;
	color:#637174 !important;
	outline:none !important;
	padding:5px;
}

#page_container #page_content #mc_content #mc_contactForm #mc_contactRight input[type="submit"] {
	padding:6px 22px !important;
	border:1px solid #2f818e !important;
	background-color:#9bc718 !important;
	color:#2f818e !important;
	font-weight:bold !important;
	text-transform:uppercase !important;
	font-size:12px !important;
	margin-top:2px !important;
	cursor:pointer !important;
}

#page_container #page_content #mc_content #mc_contactForm #mc_contactRight input[type="submit"]:hover {
	border:1px solid #9bc718 !important;
	background-color:#2f818e !important;
	color:#9bc718 !important;
}

table.view_orders {
	font-weight: normal;
	width: 100%;
	font-size: 14px;
	border-spacing: 2px;
	border-collapse: separate;
	padding: 20px;
	border: 1px solid #287d87;
	line-height: 1.5;
	margin-top: 15px;
	margin-bottom: 30px;
}
	table.view_orders th, table.view_orders td {
		width: 25%;
		font-weight: bold;
        text-align:left;
	}

    table.view_orders th 
    {
        padding-left: 15px;
        background: url(../../Images/icons/ArrowRight8x13.gif) 0 center no-repeat;
    }

	table.view_orders th:first-child {
		text-align: left;
		margin: 0 15px;
		padding-left: 15px;
		color: #287d87;
		/*background: url(http://epsstorage.blob.core.windows.net/websiteimages/images/greenarrow_right.png) 0 center no-repeat;*/
        background: url(../../Images/icons/ArrowRight8x13.gif) 0 center no-repeat;

	}

	table.view_orders th span {
		border-bottom: 1px solid #9bc718;
        color: #287d87;

	}
	
	table.view_orders td {
		padding-left: 15px;
        
	}

     /*table.view_orders td.Col2 {
         padding-left: 15px;
        }

     table.view_orders td.Col3 {
         padding-left: 15;
        }*/
	
	table.view_orders a {
		color: #666665;
        text-decoration: none;
        border-bottom: none !important;
	}
    
table.user_prefs {
	font-weight: normal;
	width: 100%;
	font-size: 14px;
	border-spacing: 2px;
	border-collapse: separate;
	padding: 20px;
	border: 1px solid #287d87;
	line-height: 1.5;
	margin-top: 15px;
	margin-bottom: 30px;
    /*table-layout:fixed;*/
}
	table.user_prefs th, table.user_prefs td {
		font-weight: bold;
        text-align:left;
	}

	table.user_prefs th:first-child {
		text-align: left;
		margin: 0 15px;
		padding-left: 15px;
		color: #287d87;
		/*background: url(http://epsstorage.blob.core.windows.net/websiteimages/images/greenarrow_right.png) 0 center no-repeat;*/
        background: url(../../Images/icons/ArrowRight8x13.gif) 0 center no-repeat;
  
	}

    table.user_prefs th 
    {
        padding-left: 15px;
        background: url(../../Images/icons/ArrowRight8x13.gif) 0 center no-repeat;
    }

	table.user_prefs th span {
		border-bottom: 1px solid #9bc718;
        color: #287d87;

	}
	
	table.user_prefs td {
		padding-left: 15px;
        
	}

     /*table.user_prefs td.Col2 {
         padding-left: 0;
        }

     table.user_prefs td.Col3 {
         padding-left: 0;
        }*/
	
	table.user_prefs a {
		color: #666665;
        text-decoration: none;
        border-bottom: none !important;
	}


	/* Accordion
	___________________________________________*/
#mc_content div.accordion div {
	padding-left:10px;
	padding-right:10px;
}
	
#mc_content div.accordion div p {
	font-size:13px;
	line-height:1.35;
}

#mc_content div.accordion #part1 {
}

#mc_content div.accordion #part2 {
}

#mc_content div.accordion #part3 {
}

#mc_content div.accordion #part4 {
}

#mc_content div.accordion #part5 {
}

#mc_content div.accordion h3 {
	background: #CFD1D3 url(http://epsstorage.blob.core.windows.net/websiteimages/cart_header_pointer.png) 0 center no-repeat;
	color: #646563 !important;
	cursor: pointer;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:15px;
	font-size: 18px !important;
	text-align: left; 
	outline:none;
	}

#mc_content div.accordion h3:hover {
}
	/* #mc_sidebar Styles
	___________________________________________*/

#page_container #page_content #mc_sidebar {
	margin-top:20px;
	margin-right:125px;
	margin-bottom:20px;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#637174;
	text-align:right;
}

#placeholderdiv {
	border: .1em solid #287d87;
	padding:3px;
}
#page_container #page_content #mc_sidebar div#mc_liveChat {
	 margin-left:6px !important;
}

#page_container #page_content #mc_sidebar #mc_newsLetter {
	width:231px;
	height:165px;
	background-image:url(http://epsstorage.blob.core.windows.net/websiteimages/bg_newsletter.png);
	background-repeat:no-repeat;
	background-position:top left;
	margin-right:-8px;
	margin-bottom:10px;
	text-align:center;
}

#page_container #page_content #mc_sidebar #mc_newsLetter form {
	margin-top:5px;
}

#page_container #page_content #mc_sidebar #mc_newsLetter form #mc_submit {
	margin-right:30px;
}

#page_container #page_content #mc_sidebar #mc_newsLetter form input[type="text"],
#page_container #page_content #mc_sidebar #mc_newsLetter form input[type="email"] {
	width: 68%;
	height: 17px;
	padding: 3px;
	color: #53575a;
	font-size: 10px;
	border: .1em solid #727272;
	margin-bottom: 5px;
}

#page_container #page_content #mc_sidebar #mc_newsLetter form input[type="submit"] {
	color: #287d87;
	text-transform: uppercase;
	font-size: 10px;
	background: none;
	border: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
	font-weight:bold;
}

#page_container #page_content #mc_sidebar #mc_newsLetter form input[type="submit"]:hover {
	text-decoration:underline;
}

#page_container #page_content #mc_sidebar #mc_newsLetter img#mc_newsletterLogo {
	margin-top:23px;
}

/* End New Styles by Gabriel 
___________________________________________*/











