﻿@charset "UTF-8";

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
	color: #646563;
}

#myAccount_section {
   display: inline-block;
   color: #4c9466;
   clear:both;
   width: 100%;
   margin-bottom: 40px;
}

#myAccount_subsection {
	float:none;
	width:90%;
	margin-right:0;
	margin-right: 1%;
	margin-left: 1%;
}

#myAccount_subsection a {
	color: #646563;
	text-decoration: none;
	font-size: 16px;
}


#myAccount_subsection h3 {
	color: #4c9466;
	font: 16px Helvetica,Arial,sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

.header_bars {
    clear: both;
    margin: 0;
    padding: 3px 0px 0px 15px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: #646563;
    vertical-align: baseline;
    background: #CFD1D3 url("/images/layout/cart_header_pointer.png") no-repeat scroll 0px center;
    border: 0px none;
}

h1 {
	padding: 0px 10px;
	}



/* Mobile Layout: 480px and below. */
  


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
#myAccount_subsection {
	float:left;
	width:30%;
	margin-right:2%;
}

}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 781px) {
#myAccount_subsection {
	float:left;
	width:30%;
	margin-right:2%;
}

}
