﻿
#page_content {
    min-height: 500px;
    margin: 0 0 20px 0;
    padding: 0;
    border: dashed 0px #00f;
	min-width: 320px; 
}
    #page_content h1 {
        font-family: 'ProximaNovaLtSemibold';
        font-weight: normal;
        font-size: 25px;
        line-height: 1.5;
        color: #4c9466;
        vertical-align: baseline;

        /*-webkit-margin-before: 0.67em;
        -webkit-margin-after: 0.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;*/

    }


.header_bars {
    clear: both;
    margin: 0 0 10px 0;
    padding: 3px 0 0 20px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: #646563;
    cursor:auto;
    vertical-align: baseline;
    background: #CFD1D3 url(/images/layout/cart_header_pointer.png) 0 center no-repeat;
    border: 0;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#button_display {
    text-align: right;
}

.action_buttons, .action_buttons_disabled {
    text-align: right;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
    display: inline-block;
    margin-left:5px;
	padding:6px 22px;
	color:#4c9466;
    text-decoration: none;
	background-color:#bbcfd6;
	border:1px solid #4c9466;
    cursor: pointer;
}
	.action_buttons:hover {
		border:1px solid #bbcfd6;
		background-color:#4c9466;
		color:#bbcfd6;
	}
.action_buttons_disabled {
    display: none;
}

#order_substitutions_radio_group span {
    display: block;
    margin:0;
    padding: 6px 0 6px 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    color: #646563;
    cursor: pointer;
}

.selected {
    background:url(/images/layout/checkbox_checked_bg.png) 0 3px no-repeat;
}

.unselected {
    background: url(/images/layout/checkbox_bg.png) 0 9px no-repeat;
}


