﻿

#page_content {
    min-height: 325px;
    border: dashed 0px #00f;
	min-width: 320px;
}
    #page_content h1 {
        font-family: 'ProximaNovaLtSemibold';
        font-weight: normal;
        font-size: 25px;
        line-height: 1.5;
        color: #4c9466;
        vertical-align: baseline;
    }

#orders_summary_grid_template,
#open_orders_detail_display_template,
#shipped_orders_detail_display_template,
#cancelled_orders_detail_display_template,
#order_history_table_template {
    display:none;
}



/**********************Summary Grid Styles *********************************/

.summary_grids {
    width: 100%;
    border-bottom: solid 1px #ccc;
    border-collapse: separate;
    border-spacing: 0px;
    border-color:gray;
}

.summary_grids thead tr th {
    margin:0;
    padding:10px 0;
    color: #4c9466;
    font-family: 'ProximaNovaLtSemibold', sans-serif;
    font-size: 14px;
    line-height: 1.1;
    vertical-align: bottom;
    text-align: left;
    background: transparent url();
}
.summary_grids thead tr th:nth-child(3),
.summary_grid_rows td:nth-child(3) {    
    width: 18%;
}

.summary_grids tbody tr td:nth-child(1) {
    background: transparent url('/Images/icons/ArrowRightCart.gif') no-repeat 5px 50%;
}

.summary_grids tbody tr td {
    margin:0;
    padding:10px 0;
    color: #4c9466;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.5;
    vertical-align: bottom;
    text-align: left;
    background: transparent url();
    border-top: solid 1px #ccc;
    cursor: pointer;
    color: #737474 !important;
}

.summary_grids thead tr th:nth-child(1),
.summary_grid_rows td:nth-child(1) {    width: 4%;}


.summary_grids thead tr th:nth-child(2),
.summary_grids thead tr th:nth-child(4),
.summary_grids thead tr th:nth-child(5),
.summary_grids thead tr th:nth-child(6),
.summary_grids thead tr th:nth-child(7),
.summary_grids thead tr th:nth-child(8),
.summary_grid_rows td:nth-child(2),
.summary_grid_rows td:nth-child(4),
.summary_grid_rows td:nth-child(5),
.summary_grid_rows td:nth-child(6),
.summary_grid_rows td:nth-child(7),
.summary_grid_rows td:nth-child(8) {
    width: 13%;
}


/************************ Order Detail Styles *********************************/

#order_detail_row {
}
    #order_detail_row td {
        margin:0;
        padding:0;
        border: none;
        background-image: url();
    }
#open_order_detail_container {
    margin:0;
    padding:0;
}
#open_orders_detail_display {
    margin:0;
    padding:0;
    overflow: hidden;
    background: transparent;
    border:solid 0px #999;
}

.order_detail_header_bars {
    clear: both;
    margin: 0 0 10px 0;
    padding: 3px 0 0 20px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: #646563;
    cursor:auto;
    vertical-align: baseline;
    background: #CFD1D3 url(/images/layout/cart_header_pointer.png) 0 center no-repeat;
    border: 0;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.order_label {
    color:#4c9466;
    font-size:14px;
    margin-right:.25em;
    text-transform:uppercase;
} 

.order_content {
    color:#737474;
    font-size:14px;
    margin-right:.25em;
} 

ul#supplier_totals_count_list {
  list-style:none;
  text-align: right;    
  margin-right:10px;
  font-size:14px;
}

.supplier_subtotal_boxes{
  clear:both;   
  background-color: #f3f3f3;
  padding: 10px 20px;
  margin: 5px 0;
  min-height: 20px;
}

#supplier_subtotals {
    font-size:16px;
    line-height:22px;
}

.supplier_subtotal_boxes .right {
    font-weight: bold !important;
}

#supplier_title{
    background-color: #bbcfd6;
    color: #fff;
    padding: 10px 20px;
    font-weight:bold;
    font-size:20px;
    overflow:hidden;
}

#grower_fee {
    font-size:16px;
    line-height:22px;
    overflow:hidden;
}

.grower_order_fee_amount {
    float:right;
    color:red;
}

.grower_subtotal_boxes {
    clear:both;
    background-color:#f3f3f3;
    padding:10px 20px;
    margin:5px 0;
    min-height:20px;
}

.grower_order_fee_info {
    float:left;
}

.grower_order_fee_status_description {
    float:left;
    padding-left:2px;
}

li.order_info_header {
    float:left;
    padding-right:2%;
    width:8%;
    list-style:none;
}

li.order_info_header_product {
    float:left;
    padding-right:2%;
    width:12%;
    list-style:none;
}

li.order_info_header_cancel {
    float:left;
    padding-right:2%;
    width:4%;
    list-style:none;
}

li.order_info_content {
    float:left;
    padding-right:2%;
    width:8%;
    list-style:none;
    font-weight:normal;
}

li.order_info_content_product {
    float:left;
    padding-right:2%;
    width:12%;
    list-style: none;
    font-weight: normal;
}

li.order_info_content_cancel {
    float:left;
    padding-right: 2%;
    width:4%;
    list-style: none;
    font-weight: normal;
}

li#avail{
    color:#d3d3d3;
}

li.order_total_list {
    display:inline;
    text-align:right;
    padding-right:20px;
    line-height:.5em;
}

.supplier_order_fee_info_icons {
    float: left;
}

.left {
    float:left !important;
}

.right {
    text-align:right;
}

#grower_fees {
    font-weight: bold !important;
    clear: both;
    background-color: #f3f3f3;
    padding: 0;
    margin: 5px 0;
}

#order_totals_box {
  background-color: #bbcfd6;
  padding: 10px 20px;
}

#order_totals_box h2 {
  color: #4c9466;
  float:left;
}

ul#order_totals_list {
    list-style: none;
    text-align:right;
    font-size:16px;
    color:#4c9466;
}

/********* order desctiption areas *****************/
.order_description_displays  {
    font: normal normal normal Helvetica, Arial, sans-serif;
	font-size: 16px;
    color: #646563;
    padding-left:10px;
}
    .order_description_displays .textDisplays {
	    padding: 0px;
		vertical-align: bottom;
	    background: none;
    }

    .order_description_displays .textDisplays .textLabels {
        display: inline-block;
        width: 175px;
        margin-right: 5px;
        text-align: left;
        vertical-align: top;
         color: #646563;
    }

    .order_description_displays .textDisplays .textItems {
	    display: inline-block;
         color: #646563;
   }

    .order_description_displays .text_input_displays {
	    padding: 2px 0 0 0;
		font-size: 11px;
		vertical-align: middle;
	    background: none;
    }
        .order_description_displays .text_input_displays label {
            display:inline-block;
	        width: 175px;    
	        margin-right: 5px;
            text-align: left;
	        color: #4c9466;
            font-size: 16px;
        }

        .order_description_displays .text_input_displays input[type=text] {
            display:inline-block;
   	        width: 300px;	
		    padding: 6px 4px;
	        outline: none;
		    font-size: 14px;
	        background: none;
	        border: 1px solid #4c9466;
        }

/******* ship-to table and payment method areas ***********/
#ship_to_table, #payment_method_table  {
        font: normal normal normal 11px/1.5 Helvetica, Arial, sans-serif;
		font-size: 16px;
    color: #646563;
}
#ship_to_table td, #payment_method_table td {
    background-image:url();

}
    #ship_to_table .textDisplays, #payment_method_table .textDisplays {
	    padding: 0px;
		vertical-align: bottom;
	    background: none;
    }

    #ship_to_table .textDisplays .textLabels, #payment_method_table .textDisplays .textLabels {
        display: inline-block;
        width: 175px;
        margin-right: 5px;
        text-align: left;
        color: #4c9466;
    }

    #ship_to_table .textDisplays .textItems, #payment_method_table .textDisplays .textItems {
	    display: inline-block;
         color: #646563;
   }

    /************** Supplier Orders Area *********************/

    .supplier_order_tag_ratio_display {
        float:left;
        margin:0;
        width:40%;
        padding:1px;
        text-align: left;
        border: solid 0px #000;
        font-size:14px;
        display:none;
    }
    .supplier_order_ship_method_display {
        margin:0;
        padding:1px;
        width:40%;
        text-align:left;
        border: solid 0px #000;
        font-size:14px;
    }

    .tagRatioLabelSpans, .shipMethodLabelSpans{
        color:#4c9466;
    }
    .tagRatioSelectedSpans, .shipMethodSelectedSpans{
        width: 325px;
        display:inline-block;
        color:#4c9466;
    }

    supplier_totals_count {
        background:none;
    }





/************** Line Item Grids ***************/
.line_item_grids {
  border: 3px solid #ededed;
  margin:8px;
  padding:10px; 
}

.line_item_grid_rows {
  list-style:none;
  padding: 10px 0;
  border-bottom: 1px solid #c6f2f8; 
}

/*.supplier_order_displays .line_item_grid_rows th {
    margin:0;
    padding:10px;
    color: #287d87;
    font-family: 'ProximaNovaLtSemibold', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.1;
    vertical-align: bottom;
    text-align: left;
    background: transparent url();
}

.supplier_order_displays .line_item_grid_rows td  {
    margin:0;
    padding:10px !important;
    color: #646563;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    vertical-align: baseline;
    text-align: left;
    background: transparent url();
    border-top: solid 0px #ccc;
}

.supplier_order_displays .line_item_grid_rows td.td_faint  {
    margin:0;
    padding:10px !important;
    color: #D3D3D3  !important;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    vertical-align: baseline;
    text-align: left;
    background: transparent url();
    border-top: solid 0px #ccc;
}  */

.line_item_grid_rows .extension_price_span {
    display: inline-block;
    width: 75px;
    text-align:right;
}

/**********************  Order Quanity Inputs **********************/

.line_item_grid_order_quantity_inputs, .line_item_grid_order_quantity_locked_inputs{
    width:70%;
    margin:0;
    padding: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.5;
    color: #646563;
    vertical-align: baseline;

    text-align: center;

    border: solid 1px #4c9466;
}

.line_item_grid_order_quantity_locked_inputs {
    display: inline-block;
    background:#f0f0ff;
    border: solid 0px #ccc;

}

/***************  Cancel Column  ***************************/

span.cancel_spans_class {
	display: block;
	text-align: center;
	width: 50px;
	height: 25px;
	background: url('/images/dot_clear.gif') 50% 100% no-repeat;
}

tr.cancellable_rows span.cancel_spans_class {
    background-image: url('/images/icons/delete/cancel_button_icon_red_16.png');
}


tr.cancelled_rows span.cancel_spans_class{
    background-image: url('/images/icons/delete/undo_icon_blue_16.png');
}
tr.cancelled_rows td, tr.cancelled_rows td span.extension_price_span {
    text-decoration:line-through;
}
tr.cancelled_rows td.td_6 {
    text-decoration: none;
}
tr.cancelled_rows td input[type=text], tr.cancelled_rows td img {
    display:none;
}


tr.locked_for_changes_rows span.cancel_spans_class {
    background-image: url('/images/icons/locks/icon_locked_16.png');
}
tr.locked_for_reduction_rows span.cancel_spans_class {
    background-image: url('/images/icons/locks/icon_locked_16.png');
}


tr.un_cancelled_rows span.cancel_spans_class {
    background-image: url('/images/dot_clear.gif');
}


/****************************************************************/





/********************  Supplier Order Footer Areas  ***************************/


.supplier_order_cost_label {
    display:inline-block;
    width:100%;
    color: #646563;
    text-align: right;
}

.supplier_order_fee_status_description {
    float:left;
}

.supplier_order_fee_type_description {
    float:left;
    padding-left:2px;
}

.supplier_order_fee_amount {
    float:right;
}

.supplier_order_price_totals, 
.supplier_order_cutting_costs,
.supplier_order_additional_costs,
.supplier_order_total_costs
{
    display: inline-block;
    width: 75px;
    text-align:right;
}

.footer {
    background:#cfd1d3;
    overflow:hidden;
}

li.footerCol_0 {
    float:left;
    width:28%;
    padding-right:6%;
}

li.footerCol_1a {
    float:left;
    padding-right:2%;
    width:7%;
}

li.footerCol_1b {
    float:left;
    padding-right:2%;
    width:8%;
}

li.footerCol_2a {
    float:left;
    width:24%;
    padding-right:6%;
}

li.footerCol_4a {
    float:left;
    padding-right:2%;
    text-align:right;
    padding-left:5%;
}

li.footerCol_4b {
    float:left;
    padding-right:2%;
    padding-left:6%;
}

li.footerCol_234 {
    float:left;
    padding-left:72%;
}

ul.OrderTotals {
    display:inline;
    clear:both;
}

.order_total_div {
    overflow:hidden;
    padding-right:6.5%;
}

/*******************  Order Totals Table **************/
/*.order_totals_tables {
    clear: both;
    width: 100%;
    border: solid 1px #080;
	font-size: 18px;
	color: #287D87;
}
	.order_totals_tables th {
		text-align: left;
        font-size: 18px;
        font-weight: normal;
        color: #287D87;
		border: solid 0px #f00;
	}
		.order_totals_tables th:first-child {
			padding-left: 10px;
            width:45%;
		}

		.order_totals_tables th:nth-child(2) {
			padding-left: 0px;
            width:26%;
		}
		.order_totals_tables th:nth-child(3) {
            width:29%;
		}
	.order_totals_tables td {
		text-align: left;
        font-size: 18px;
        font-weight: normal;
        color: #287D87;
		border: solid 0px #00f;
	}
		.order_totals_tables td:nth-child(3) {
			padding-left: 0px;
		}
		.order_totals_tables td:nth-child(4) {
			padding-left: 0px;
		}*/

/*************** DETAIL DISPLAY SUPPLER ORDER TOTALS STYLES  *************/

.line_item_grids .supplier_name_span {
    color: #646563;
    font-weight:bold;
}

.supplier_name_span2 {
    float:left;
}

.line_item_grids .supplier_order_fee_label_sets {
    display:inline-block;
    width: 200px;
    text-align: left;
    vertical-align:text-bottom;
}
.line_item_grids .supplier_order_fee_type_description,
.line_item_grids .supplier_order_fee_status_description,
.line_item_grids .supplier_order_fee_info_icons {
    display:inline-block;
    cursor: pointer;
    line-height: 20px;
    border: solid 0px #000;
}

.line_item_grids .supplier_order_product_cost_totals,
.line_item_grids .line_item_footer_costs,
.line_item_grids .supplier_order_total_costs
{
    display:inline-block;
    margin: 0;
    padding:0;
    width: 75px;
    text-align: right;
    border: solid 0px #000;
}
.line_item_grids .supplier_order_cost_label {
    display:inline-block;
    width: 200px;
    text-align: left;
    vertical-align:text-bottom;
}

.line_item_grids .supplier_order_quantity_totals {
    display: block; 
    width: 110px;
    text-align: center;
    border: solid 0px #000;
}

.line_item_grids tfoot tr.total_cost_rows td {
    border: none;
}

.supplier_name_span_total {
    color:#4c9466;
}

.supplier_order_total_costs {
    color:#4c9466;
    float:right;
}

/******************DETAIL DISPLAY GROWER ORDER TOTALS STYLES *********************/

#open_orders_grower_order_totals_table
, #shipped_orders_grower_order_totals_table
{
    clear: both;
    width: 100%;
    border: solid 1px #080;
    font-family:Helvetica, Arial, sans-serif;
    color:#646563;
    background:#4c9466;
    font-size:20px;
}
	#open_orders_grower_order_totals_table thead th
    , #shipped_orders_grower_order_totals_table thead th
    {
        margin:0;
        padding:0;
        font-size: 2px;
        line-height: 5px;
		border: solid 0px #f00;
	}

	#open_orders_grower_order_totals_table tbody td
    , #shipped_orders_grower_order_totals_table tbody td
    {
        margin:0;
        padding:0;

        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.5;
        color: #646563;
        vertical-align: baseline;
        border: solid 0px #00f;
	}
	#open_orders_grower_order_totals_table tfoot td
    , #shipped_orders_grower_order_totals_table tfoot td
    {
        line-height:50px;
        font-size: 18px;
        color: #4c9466;
        border: solid 0px #00f;
	}




 #cancelled_orders_grower_order_totals_table
{
    clear: both;
    width: 100%;
    border: solid 1px #080;
}
    #cancelled_orders_grower_order_totals_table thead th
    {
        margin:0;
        padding:0;
        font-size: 2px;
        line-height: 5px;
		border: solid 0px #f00;
	}

    #cancelled_orders_grower_order_totals_table tfoot td
    {
        margin:0;
        padding:0;

        font-family: Helvetica, Arial, sans-serif;
        font-size: 18px;
        line-height: 50px;
        color: #4c9466;
        vertical-align: baseline;
        border: solid 0px #00f;
	}





.order_totals_tables
{
    clear: both;
    width: 100%;
    border: solid 1px #080;
}
	.order_totals_tables thead tr th
    {
        font-size: 20px;
        line-height: 24px;
		border: solid 0px #f00;
	}
	.order_totals_tables tbody tr td
    {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 20px;
        vertical-align: baseline;
        border: solid 1px #00f;
	}
	.order_totals_tables tfoot tr td
    {
        font-size: 22px;
        color: #4c9466;
        border: solid 0px #00f;
	}





.grower_order_fee_label_sets {
    display:inline-block;
    width: 200px;
    text-align: left;
    border: solid 0px #000;
}

.grower_order_fee_spans {
    display:inline-block;
    width: 90px;
    text-align: right;
    border: solid 0px #000;
}

#grower_order_total_cuttings_span {
    border: solid 0px #000;
}
#grower_order_total_cuttings_cost_span
{
    border: solid 0px #000;
}


li {
    margin: 0 !important;
	list-style: none;
}

ul.order_summary_grid_rows {
    background-image: url("/Images/icons/ArrowRightCart.gif");
    background-repeat: no-repeat;
    margin-left: 10px;
    border-top: 3px solid #ededed;
    border-bottom: 3px solid #ededed;
    padding: 15px 0 15px 20px;
    background-position: center left;
}

ul.order_summary_grid_rows li{
    list-style: outside none none;
    float: left;
    margin-right: 20px;
}

ul#grower_order_row {
    margin: 0px;
    padding: 1%;
}

ul#grower_order_row li {
    float: none;
}

#add_new_address_button,
#add_new_card_button {
    margin: 2%;
}

input.payment_method_radio_buttons {
    margin-left: 2% !important;
    margin-right: 5px !important;
}

#credit_card_selection_0 {
    float: left;
    margin-right: 5px !important;
}

.check_box_containers {
    margin: 1%;
}


.tag_ratio_selector_labels,
.shipment_method_selector_labels {
    color: #007D9A !important;
    font-size: 13px;
    float: left;
}

li#extension_price {
    color: #007D9A !important;
    text-align: right !important;
    margin-right: 0 !important;
}

#supplier_subtotal_boxes .right {
    font-weight: bold !important;
}


#order_button {
    margin: 2% 0;
}

.check_box_containers {
   margin: 1%;
color: #007D9A;
text-transform: uppercase;
font-size: 12px !important;
}

.check_box_containers a {
    margin: 1%;
    color: #007D9A;
    text-transform: uppercase;
    font-size: 15px !important;
    text-decoration: underline;
    font-weight: bold !important;
}

/*******************DETAIL DISPLAY FOOTER STYLES **********************/


#footnote_display {
    margin:10px 0 0 0;
    padding: 0px 0px 0px 35px;
}

#footnote_display p {
    font-family: arial, tahoma, sans-serif;
    font-size: 12px;    
}


/************  Detail Display Action Buttons ****************/
#button_display {
    text-align: right;
    margin-top:2px;
}

.action_buttons, .action_buttons_disabled {
    text-align: right;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
    display: inline-block;
    margin-left:5px;
	padding:6px 22px;
	color:#4c9466;
    text-decoration: none;
	background-color:#bbcfd6;
	border:1px solid #4c9466;
    cursor: pointer;
}
	.action_buttons:hover {
		border:1px solid #bbcfd6;
		background-color:#4c9466;
		color:#bbcfd6;
	}
     /*.action_buttons:visited,.action_buttons:active,active{*/
    a:link, a:visited, a:active, a:hover { 
    /*a:visited{*/
        /*color:#4c9466;*/ 
        color:#4c9466;
    }
        


.action_buttons_disabled {
    display: none;
}

/*#cancel_order_button {
    display:none;
}*/


/************ Footer Notes ****************/
.footnote_display {
    margin:0;
    padding: 0px 0px 0px 35px;
    color:gray;
}

.footnote_display p {
    font-family: arial, tahoma, sans-serif;
    font-size: 12px;    
}


/********** Order History Display *******************/

.order_history_tables {
    width:100%;
    background: #fefeff;
}

.order_history_tables thead tr th {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: rgb(40, 125, 135);
    font-family: ProximaNovaLtSemibold, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.1;
    vertical-align: bottom;
    text-align: left;
}
.order_history_tables thead tr th:nth-child(1) {
        width:25%;
    }
.order_history_tables thead tr th:nth-child(2) {
        width:25%;
    }
.order_history_tables thead tr th:nth-child(3) {
        width:50%;
    }

.order_history_table_rows {
}

.order_history_table_rows td.td_0,
.order_history_table_rows td.td_1,
.order_history_table_rows td.td_2 {
    padding: 4px !important;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 1.5;
    vertical-align: baseline;
    text-align: left;
    color: #646563;
}
    
.order_history_date_spans {
}
.order_history_person_spans {
}
.order_history_description_spans {
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 1050px) {

.line_item_grid_rows li {
    float: left;
    padding-right: 1%;
    width: 10%
}
.line_item_grid_rows {
    list-style: outside none none;
    overflow: hidden;
}

.supplier_order_product_cost_totals {
    float: right !important;
}

}


/****************************************************/
/* Print code */
@media print {

body {
background: none !important;
color: #000;
font-size: 10pt;
}

a {
text-decoration: none;
}

#page_content {
clear: both !important;
display: block !important;
float: none !important;
max-width: 100%;
position: relative !important;
}

#headerBar,
#cartBar,
#mainBar,
#menu,
#eps_tools_search_input_display, 
#bread_crumbs_display,
#footer_content
{
         display: none;
}

}

