﻿




/*-------------------------------- New Code--------------------*/
.pageBasic h1 {
    text-align: center;
    color: black;
    display: block;
    font-family: playfair display;
    font-size: 3em;
    font-weight: bold;
}
.pageBasic h2 {
    text-align: center;
    color: black;
    display: block;
    font-family: playfair display;
    font-size: 2em;
    font-weight: bold;
}
.pageBasic table {
    margin: auto;
}
.pageBasic td{
    border: black;
    border-style: solid;
    border-width: thin;
    text-align:center;
}
.pageBasic a {
    color: black;
    font-family: playfair display;
    font-size: 1.2em;
}
.pageBasic p {
    color: black;
    font-family: playfair display;
    font-size: 1em;
}


.pageDetail table {
    margin: auto;
    text-align:center;
}
.pageDetail td {
    font-family: playfair display;
    font-size: 1em;
    text-align: left;
    border: none;
    border-style: none;
    border-width: 0px;
    text-align: center;
}