﻿


#page_content {
    min-height: 500px;
    margin: 0 0 20px 0;
    padding: 0;
    border: dashed 0px #00f;
	min-width: 320px;
}

    #page_content h1 {
        font-family: 'ProximaNovaLtSemibold';
        font-weight: normal;
        font-size: 25px;
        line-height: 1.5;
        color: #287d87;
        vertical-align: baseline;
    }

#payment_methods_display {
    display: none;
    height:110px;
    margin:0;
    padding:5px 0 0 0;
    border-bottom:solid 0px #666;
}
#credit_cards_display {
    display: none;
    min-height:165px;
    margin:0;
    padding:5px 0 0 0;
    border-bottom:solid 0px #666;
}

#line_of_credit_display {
    display: none;
    height:150px;
    margin:0;
    padding:5px 0 0 0;
    border-bottom:solid 0px #666;
}
    #payment_methods_display p,
    #credit_cards_display p,
    #line_of_credit_display p {
        margin: 0;
        padding: 0;
        font: normal normal normal 13px/1.5 Helvetica, Arial, sans-serif;

    }



    .header_bars, .header_bars_clickable {
    clear: both;
    margin: 0 0 10px 0;
    padding: 3px 0 0 20px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: #646563;
    vertical-align: baseline;
    background: #CFD1D3 url(/images/layout/cart_header_pointer.png) 0 center no-repeat;
    border: 0;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
    .header_bars_clickable {
        /*background: #CFD1D3 url(/images/layout/MyAccountArrowDown.png) 0 center no-repeat;*/
        cursor: pointer;

    }
    .header_bars_clickable:hover {
        background: #dcdcdc url(/images/layout/MyAccountArrowDown.png) 0 center no-repeat;
    }

    /************** Selectors **********************/
label,
.validation_messages {
	display: inline-block;
	border: none;
	margin: 0;
    font: normal normal normal 13px/1.5 Helvetica, Arial, sans-serif;
	line-height: 1;
}

input[type=radio] {
    width:20px;
    margin:0;
    padding:0;
    border:none;
}
.validation_messages{
    color:#c00;
    font-size: 70%;
    font-weight: bold;
    letter-spacing: .08em;
}
label {
	display: inline-block;
	padding-right: 20px;
}

.radio_group_containers {
    margin: 0;
    padding:10px 0 5px 0;
}
.radio_group_containers p {
    margin: 0;
    padding: 4px 0 4px 0;
    font: normal normal normal 13px/1.5 Helvetica, Arial, sans-serif;
}

span.radio_group_display{
    margin:0;
    padding:0;
}

#default_methods_radio_container {
    margin-top:15px;
    padding:0 ;
    border-bottom: 0px solid #9bc718;
}

#default_methods_radio_container p {
    margin: 0;
    padding: 0;
    font: normal normal normal 13px/1.5 Helvetica, Arial, sans-serif;

}

/********************* Credit Cards *************************/
#credit_card_add_form_template {
    display: none;

}
#credit_card_table_container {
        
    border: solid 0px #0f0;
	font-size: 12px;
}
#credit_card_table {
    width:  750px;
    margin: 5px 0 0 0;
    border: solid 0px #00f;
}
    #credit_card_table thead tr th {
        text-align: left;    
        border: solid 0px #f00;
    }
    #credit_card_table tbody tr td {
        text-align: left;    
        vertical-align: middle;
        border: solid 0px #0f0;
    }
        .credit_card_radio_buttons {
            margin: 0;
            padding:0 0 0 0;
            /*background: #f00;*/
        }
        .credit_card_edit_links, .credit_card_delete_links {
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
        }
        .credit_card_edit_links:hover, .redit_card_delete_links:hover {
            text-decoration: underline;
        }
.credit_card_description_inputs {
    width: 300px;
    min-width: 300px;
    outline: none;
    font-size: 12px;
    background: none;
    border: 1px solid #287d87;
}


    #add_new_card_button, #add_new_card_button_secure {
        display: block;
        float: right;
        margin: 10px 0 0 0;
    }


    #no_cards_on_file_display {
        margin:0;
        padding:2px;
        width: 700px;
        text-align: center;
    }


    #credit_card_form {
    margin:10px 0 15px 0;
    padding:10px;
    background: transparent;

    border:solid 1px #287d87 ;

    border:solid 1px #9bc718;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;

}

#credit_card_form table tbody tr td {
    text-align: left;
}

#credit_card_form table tbody tr td.td_0 {
    text-align: center;
    color: rgb(40, 125, 135);
}


#button_credit_card_create_add2, #button_credit_card_create_cancel2 {
    margin:0 0 5px 15px;
    padding: 4px 8px 4px 8px;

    color: #9bc718;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75;
    vertical-align: baseline;

    background:#f0f0f0;
    border:solid 1px #287d87 ;

    border:solid 1px #9bc718;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;

}
#button_credit_card_create_cancel2 {
    font-size: 14px;
    line-height: 1.5;
}
#button_credit_card_create_add:hover, #button_credit_card_create_cancel2:hover {
    color: rgb(40, 125, 135);
}

.credit_card_message {
    padding: 2px;
    color: #9bc718;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    vertical-align: baseline;

    background: transparent;
 
    /*border:solid 1px #9bc718;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;*/

}

    #credit_card_form #credit_card_first_name     {
        width: 110px;
    }

    #credit_card_form #credit_card_last_name     {
        width: 110px;
    }

    #credit_card_form #credit_card_number     {
        width: 185px;
    }

    #credit_card_form #credit_card_expiration     {
        width: 75px;
    }
    #credit_card_form #credit_card_code     {
        width: 50px;
    }
    #credit_card_form #credit_card_description {
        width: 350px;
    }
    #credit_card_form #credit_card_street_address_1 {
        width: 200px;
    }
/*
    #credit_card_form #credit_card_state_code {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.1;
    vertical-align: baseline;

    background: transparent;
    border:solid 1px #9bc718;

}
    */
    #credit_card_form #credit_card_city     {
        width: 135px;
    }
    #credit_card_form #credit_card_country     {
        width: 35px;
    }
    #credit_card_form #credit_card_zip_code     {
        width: 60px;
    }
    #credit_card_form #credit_card_phone_number     {
        width: 135px;
    }
    /*#credit_card_form #credit_card_fax_number     {
        width: 125px;
    }*/

#credit_card_form label {
    /*color: #9bc718;*/
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.5;
    vertical-align: baseline;

}

#credit_card_form input[type=text], #credit_card_form textarea{
    /*color: #287d87;*/
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.1;
    vertical-align: baseline;

    background: transparent;
    border: none;       /*get rid of default borders*/
    border-bottom:solid 1px #9bc718;
    -webkit-appearance: none;

    /*border:solid 1px #9bc718;
    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    -o-border-radius: 3px 3px;
    border-radius: 3px 3px;*/
}

#credit_card_form input[type=radio], #new_address_form input[type=radio] {
    background:transparent;
}







/**************** Action Buttons ******************************/    
    #button_display {
    text-align: center;
}

.action_buttons, .action_buttons_disabled {
    text-align: right;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
    display: inline-block;
    margin-left:5px;
	padding:6px 22px;
	color:#2f818e;
    text-decoration: none;
	background-color:#9bc718;
	border:1px solid #2f818e;
    cursor: pointer;
}
	.action_buttons:hover {
		border:1px solid #9bc718;
		background-color:#2f818e;
		color:#9bc718;
	}

.action_buttons_disabled {
    color:#999;
    text-decoration: none;
	background-color:#ccc;
	border:1px dotted #999;
    cursor: pointer;

}



