﻿


#page_content {
    min-height: 500px;
    margin: 0 0 20px 0;
    padding: 0;
    border: dashed 0px #00f;
}

    #page_content h1 {
        font-family: 'ProximaNovaLtSemibold';
        font-weight: normal;
        font-size: 25px;
        line-height: 1.5;
        color: #287d87;
        vertical-align: baseline;
    }

.center-div {
    margin: 0 auto;
    width: 50%;
}




.reportdata_table {
    width: 100%;
    border-bottom: solid 1px #ccc;
    font-size: 12px;
}

    .reportdata_table th {
        /*width is set programmatically and not here*/
        margin: 0;
        padding: 10px 0;
        color: #287d87;
        font-family: 'ProximaNovaLtSemibold', sans-serif;
        font-size: 12px;
        line-height: 1.1;
        vertical-align: bottom;
        text-align: left;
        background: transparent url();
    }

    .reportdata_table td {
        /*width is set programmatically and not here*/
        margin: 0;
        padding: 10px 0;
        color: black;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        line-height: 1.5;
        vertical-align: bottom;
        text-align: left;
        background: transparent url();
        border-top: solid 1px #ccc;
        cursor: pointer;
    }


.reportdata_edit_links {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: #007d9a;
}

    .reportdata_edit_links:hover {
        text-decoration: underline;
    }



#filters_display {
    /*float: left;*/
    display: inline-block;
    margin: 5px 0 0 0;
    padding: 0;
    font: normal normal normal 10px/15px arial, tahoma, sans-serif;
    text-align: left;
    border: solid 0px #ccc;
}

    #filters_display label {
        font-family: 'ProximaNovaLtSemibold';
        font-size: 12px;
        text-transform: uppercase;
        width: auto;
        display: inline;
        color: #9bc718;
    }

    #filters_display input[type=text] {
        width: 250px;
        border: 1px solid #9bc718;
        padding: 4px;
        height: 23px;
        background: white;
        -moz-box-shadow: inset 0 0 3px #aaa;
        -webkit-box-shadow: inset 0 0 3px #aaa;
        box-shadow: inset 0 0 3px #aaa;
        outline: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
