﻿    #page_content { clear:both; min-height:300px;}
    #page_content p { 
        margin:2px;
        padding: 5px;
    }

#search_result_display {

    }
#search_result_failure_message {
            color:#f00;
        }
		
#td1{
	valign: middle;
}
		
.sr_variety_subtable {
	font-family: Helvetica,sans-serif; 
	font-size: 16px;
	padding: 0px;
	border: 0;
	padding: 0; 
	width: 80%;
	}
.sr_variety_type_displays {
	padding:0px; 
	border-bottom:1px solid #737474;
	}
.sr_variety_type_images {
	width:120px; 
	height: 120px; 
	margin:5px; 
	padding:0px;
	}
.sr_variety_result_name_spans { 
	vertical-align:top; 
	color:#287d87;
	font-family:Helvetica,sans-serif; 
	font-size: 21px; 
	}
.sr_variety_header { 
	vertical-align:top; 
	font-family:Helvetica,sans-serif; 
	font-size: 14px; 
	}
.sr_variety_catalog { 
	font-family:Helvetica,sans-serif; 
	font-size: 14px; 
	}
.sr_variety_result_name_spans2 { 
	font-family:Helvetica,sans-serif; 
	font-size: 16px; color:#9bc718;
	}
.sr_variety_result_name_spans3 { 
	font-family:Helvetica,sans-serif; 
	font-size: 16px;
	}
.sr_variety2_avail_anchor1 { 
	font-family:Helvetica,sans-serif; 
	font-size: 16px; color:#9bc718;
	}
.sr_variety2_species_anchor1 { 
	font-family:Helvetica,sans-serif; 
	font-size: 16px; 
	color:#9bc718;
	}
.sr_variety2_avail_anchor2 { 
	font-family:Helvetica,sans-serif; 
	color:#9bc718; 
	font-size: 16px;
	}
.sr_variety2_species_anchor2 { 
	font-family:Helvetica,sans-serif; 
	color:#9bc718; 
	font-size: 16px;
	}
.sr_variety2_avail_anchor3 { 
	font-family:Helvetica,sans-serif; 
	color:#9bc718; 
	font-size: 16px;
	}
.sr_variety2_species_anchor3 { 
	font-family:Helvetica,sans-serif; 
	color:#9bc718; 
	font-size: 16px;
	}
.sr_variety_listingheader {
	font-weight:bold;
	font-family:Helvetica,sans-serif;
	font-size: 16px;
	}
table tr #td2 {
	valign: bottom;
	width: 100%;
}
.sr_variety_program_td1 {
	valign: middle;
	width: 30%;
}
.sr_variety_subtable tr #td3 {
	 valign: bottom; 
	 colspan: 3;
}
.sr_variety_subtable tr #td4 {
	 colspan: 3;
}

.sr_series_subtable {
	font-family:Helvetica,sans-serif; 
	font-size:16px;padding:0px;
	border:0; 
	padding:0; 
	width:80%;
}
.sr_series_type_displays {
	padding:0px; 
	border-bottom:1px solid #737474;
}
.sr_series_type_images {
	width:120px; 
	height: 120px; 
	margin:5px; 
	padding:0px;
}
.sr_series_header { 
	vertical-align:top; 
	font-family:Helvetica,sans-serif; 
	font-size: 14px; 
}
.sr_series_catalog { 
	font-family:Helvetica,sans-serif; 
	font-size: 14px; 
}
.sr_series_result_name_spans { 
	vertical-align:top;
	color:#287d87;
	font-family:Helvetica,sans-serif; 
	font-size: 21px; 
}
.sr_series_result_name_spans2 { 
	font-family:Helvetica,sans-serif; 
	font-size: 16px; 
	color:#9bc718
}
.sr_series_result_name_spans3 { 
	font-family:Helvetica,sans-serif; 
	font-size: 16px;
}
.sr_series_listingheader {
	font-weight:bold;
	font-family:Helvetica,sans-serif;
	font-size: 16px;
}
tr td .sr_series_species_anchor1 {
	font-family:Helvetica,sans-serif; 
	color:#9bc718; 
	font-size: 16px;
}
tr td .sr_series_species_anchor2 {
	font-family:Helvetica,sans-serif; 
	color:#9bc718; 
	font-size: 16px;
}
tr td .sr_series_species_anchor3 {
	font-family:Helvetica,sans-serif; 
	color:#9bc718; 
	font-size: 16px;
}

.sr_species_subtable {
	font-family:Helvetica,sans-serif; 
	font-size:16px;
	padding:0px
}
.sr_species_type_displays {
	padding:0px; 
	border-bottom:1px solid #737474;
}
.sr_species_type_images {
	width:120px; 
	height: 120px; 
	margin:5px; 
	padding:0px;
}
.sr_species_header { 
	vertical-align:top; 
	font-family:Helvetica,sans-serif; 
	font-size: 14px; 
}
.sr_species_catalog { 
	font-family:Helvetica,sans-serif; 
	font-size: 14px; 
}
.sr_species_result_name_spans { 
	vertical-align:top; 
	color:#287d87;
	font-family:Helvetica,sans-serif; 
	font-size: 21px; 
}
.sr_species_result_name_spans2 { 
	font-family:Helvetica,sans-serif; 
	font-size: 16px; 
	color:#9bc718
}
.sr_species_result_name_spans3 { 
	font-family:Helvetica,sans-serif; 
	font-size: 16px;
}
.sr_species_listingheader {
	font-weight:bold;
	font-family:Helvetica,sans-serif;
	font-size: 16px;
}

@media (max-width: 980px){
	.sr_variety_subtable {
		width: 95%;
		}
	.sr_series_subtable {
		width: 95%;
}
	.sr_species_subtable {
		width: 95%;
}
	}
	
@media (max-width: 360px){
	.sr_variety_type_images {
    	display: none;
}
	.sr_variety_program_td1 {
		width: 70%;
		}
	.sr_variety2_species_anchor1 { 
		display: none;
	}
	.sr_variety2_species_anchor2 { 
		display: none;
	}
	.sr_variety2_species_anchor3 { 
		display: none;
	}
	
	.sr_series_type_images {
		display: none;
}
	tr td .sr_series_species_anchor1 {
		display:none;
}
	tr td .sr_series_species_anchor2 {
		display:none;
}
	tr td .sr_series_species_anchor3 {
		display:none;
}
	.sr_species_type_images {
		display: none;
}
	}
