﻿
#page_content {
    min-height: 500px;
    margin: 0 0 20px 0;
    padding: 0;
    border: dashed 0px #00f;
	min-width: 320px;
}

    #page_content h1 {
        font-family: 'ProximaNovaLtSemibold';
        font-weight: normal;
        font-size: 25px;
        line-height: 1.5;
        color: #4c9466;
        vertical-align: baseline;

        /*-webkit-margin-before: 0.67em;
        -webkit-margin-after: 0.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;*/

    }

    /******Statement of Account ************/
    #statement_of_account_accordion{
        border: solid 0px #f00;

    }

    #statement_of_account_display {
        display:none;
        margin: 0 0 25px 0;
        padding: 0;
        border: solid 0px #0f0;

    }

    #statement_of_account_table {
        /*display:none;*/
        width: 100%;
    }
    #statement_of_account_table tfoot tr.tr_0 td {
        border-top: solid 1px #ccc;
    }
        #statement_of_account_table thead tr th {
            width: 14%;
            margin:0;
            padding:10px 0;
            color: #4c9466;
            font-family: 'ProximaNovaLtSemibold', sans-serif;
            font-size: 14px;
            line-height: 1.1;
            vertical-align: bottom;
            text-align: left;
            background: transparent url();

        }
        /*#statement_of_account_table thead tr th:nth-child(4),
        #statement_of_account_table thead tr th:nth-child(5),
        #statement_of_account_table thead tr th:nth-child(6) {
            text-align: center;
        }*/

        #statement_of_account_table tbody tr td {
            width: 14%;
            margin:0;
            padding:10px 0;
            /*color: #9bc718;*/
            color: #666;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 11px;
            line-height: 1.5;
            vertical-align: bottom;
            text-align: left;
            background: transparent url();
            border-top: solid 1px #ccc;
        }



.money_displays {
    display:inline-block;
    width:65%;
    text-align:right;
}
.date_displays {
    display:inline-block;
    width:90%;
    text-align:center;
}



    .header_bars, .header_bars_clickable {
    clear: both;
    margin: 0 0 10px 0;
    padding: 3px 0 0 20px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: #646563;
    vertical-align: baseline;
    background: #CFD1D3 url(/images/layout/cart_header_pointer.png) 0 center no-repeat;
    border: 0;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    cursor: pointer;
}
    .header_bars_clickable {
        /*background: #CFD1D3 url(/images/layout/MyAccountArrowDown.png) 0 center no-repeat;*/

    }
    .header_bars_clickable:hover {
        background: #dcdcdc url(/images/layout/MyAccountArrowDown.png) 0 center no-repeat;
    }


    .action_buttons {
    text-align: right;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
    display: inline-block;
    margin-left:5px;
	padding:6px 22px;
	color:#2f818e;
    text-decoration: none;
	background-color:#9bc718;
	border:1px solid #2f818e;
    cursor: pointer;
}
	.action_buttons:hover {
		border:1px solid #9bc718;
		background-color:#2f818e;
		color:#9bc718;
	}

    /********Transaction History ***************/
    #transaction_history_accordion{
        border: solid 0px #f00;

    }

    #transaction_history_display {
        display:none;
        margin: 0 0 25px 0;
        padding: 0;
        border: solid 0px #0f0;

    }

    #transaction_history_table {
        /*display:none;*/
        width: 100%;
        border-bottom: solid 1px #ccc;
    }
        #transaction_history_table thead tr th {
            width: 16.6%;
            margin:0;
            padding:10px 0;
            color: #4c9466;
            font-family: 'ProximaNovaLtSemibold', sans-serif;
            font-size: 14px;
            line-height: 1.1;
            vertical-align: bottom;
            text-align: left;
            background: transparent url();

        }

        #transaction_history_table tbody tr td {
            width: 16.6%;
            margin:0;
            padding:10px 0;
            /*color: #9bc718;*/
            color: #666;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 11px;
            line-height: 1.5;
            vertical-align: bottom;
            text-align: left;
            background: transparent url();
            border-top: solid 1px #ccc;
        }
