﻿
@{
    ViewBag.Title = "Race Connect";
  
}


<div id="page_content" class="pageBasic">
   <h1>@ViewBag.Title</h1>

    



@section scripts {
    @* Use Bundle for PRODuction*@
    @*@Scripts.Render("~/bundles/PageScripts/Catalog")*@

    @*Use files during Development*@
    <script src="~/Scripts/numeral.min.js"></script>
    <script src="~/ViewModels/RaceConnect/RaceConnect.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#HeaderDiv2").show();
            updateSignInStatus();
            //Init View Model
            viewModel.Init();
        });
    </script>

}

@section styles {
    <link href="~/Content/styles/PageBasic.css" rel="stylesheet" />
   
}
