﻿
@{
    ViewBag.Title = "About Us";
  
}


<div id="page_content" class="pageBasic">
    <h1>@ViewBag.Title</h1>
    <h2>Contact Us</h2>





    @section scripts {
        @* Use Bundle for PRODuction*@
        @*@Scripts.Render("~/bundles/PageScripts/Catalog")*@

        @*Use files during Development*@
        <script src="~/Scripts/numeral.min.js"></script>
        <script src="~/ViewModels/Partners/Partners.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#HeaderDiv2").show();
                updateSignInStatus();
                //Init View Model
               // viewModel.Init();
            });
        </script>

    }

    @section styles {
        <link href="~/Content/styles/PageBasic.css" rel="stylesheet" />

    }
