﻿@{
    ViewBag.Title = ViewBag.Title ?? "Shopping Cart";
    ViewBag.ShowTestInfo = ViewBag.ShowTestInfo ?? false;

    const string DOMAIN_PRODUCTION_SETTING = "www";

}

    <h1>@ViewBag.Title</h1>


    <form id="credit_card_add_form_template" class="cart_page_forms" action="*">

        <table>
            <tbody>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="2"><label for="credit_card_first_name">First Name<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_first_name" class="inputTextBox" type="text" maxlength="16" /></td>
                <td class="td_3" colspan="2"><label for="credit_card_last_name">Last Name<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_last_name" class="inputTextBox" type="text" maxlength="16" /></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="2"><label for="credit_card_number">Card Number<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_number" class="inputTextBox" type="text" maxlength="16" /></td>
                <td class="td_3" colspan="2"><label for="credit_card_expiration">Expires[MMYY]<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_expiration" class="inputTextBox" type="text" maxlength="4"/></td>
                <td class="td_5"><label for="credit_card_code">CVV Code<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_code" class="inputTextBox" type="text" maxlength="4" /></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="5"><label for="credit_card_description">Description<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_description" class="inputTextBox" type="text" maxlength="100" /></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="4">
                    <ul class="country_lists">
                        <li>
                            <label for="credit_card_country_usa"><span></span>USA</label>
                            <input id="credit_card_credit_card_country_usa" type="radio" name="credit_card_country" value="usa" checked="checked">
                        </li>
                        <li>
                            <label for="credit_card_country_canada"><span></span>Canada</label>
                            <input id="credit_card_country_canada" type="radio" name="credit_card_country" value="ca">
                        </li>
                    </ul>
                </td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="4"><label for="credit_card_street_address_1">Address 1<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_street_address_1" class="inputTextBox" type="text" maxlength="35" /></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="4"><label for="credit_card_street_address_2">Address 2</label><input id="credit_card_street_address_2" class="inputTextBox" type="text" maxlength="35" /></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="2"><label for="credit_card_city">City<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_city" type="text" class="inputTextBox" maxlength="20" /></td>
                
                <td class="td_2">
                    <label class="state_province_selection_label" for="credit_card_state_code">State<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label>
                    <div class="selection_containers">
                        <select id="credit_card_state_code">
                    	
                            <option value="mi" >MI</option>
                            <option value="oh" >OH</option>

                    	</select>
                    </div>

                </td>
                <td class="td_3" colspan="2"><label for="credit_card_zip_code">Postal Code<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_zip_code" class="inputTextBox" type="text" maxlength="5" /></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1"><label for="credit_card_phone_number">Phone<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_phone_number" class="inputTextBox" type="text" maxlength="14" /></td>
                <td class="td_2"></td>
                <td class="td_3"></td>
                <td class="td_4"></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0" colspan="6"><div class="credit_card_message"></div></td>
            </tr>
            <tr>
                <td class="td_0"  colspan="2" style="text-align:left;"> 
                   <script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=TTQrvHBoaCX0LGRBEIyB8lHG321SK3ySMBYcA6CcHtiWlqQnfGeq"></script>
                   <div style="text-align: right; padding-right:7px">
                        @{
                            if ((DOMAIN_PRODUCTION_SETTING == System.Configuration.ConfigurationManager.AppSettings["SubDomain"].ToLower())) { 
                                <span id="siteseal"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=MGJw1oJobd103dEAiCfxc7x7Sb7mT9uJlw23GlAEkEXeJRkj6K"></script></span>
                            } else {
                                <span id="siteseal"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=2jCCemB6pjk02rsJDQamSucJIYhkMcPhNghTiIyM49eiJJOBD9"></script></span>
                            };
                        }
                    </div>
                </td>
                <td class="td_2" colspan="4" style="text-align:right;">
                    
                    
                    <a id="button_credit_card_create_cancel" class="action_buttons" >CANCEL</a>
                    <a id="button_credit_card_create_add" class="action_buttons" >+Add</a>
                

                </td>
            </tr>
            </tbody>
        </table>

        

    </form>

    <form id="address_form_template" class="cart_page_forms" action="*">
        
        @*<input id="hidden_ship_to_address_guid" type="hidden" value="??" />*@
        
        <table>
            <tbody>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="4"><label for="ship_to_name">Name<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="ship_to_name" class="inputTextBox" type="text" /></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="4">
                    <ul class="country_lists">
                        <li>
                            <label for="ship_to_country_usa"><span></span>USA</label>
                            <input id="ship_to_country_usa" type="radio" name="ship_to_country" value="usa" checked="checked">
                        </li>
                        <li>
                            <label for="ship_to_country_canada"><span></span>Canada</label>
                            <input id="ship_to_country_canada" type="radio" name="ship_to_country" value="ca">
                        </li>
                    </ul>
                </td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="4"><label for="ship_to_street_address_1">Address 1<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="ship_to_street_address_1" class="inputTextBox" type="text" maxlength="35" /></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="4"><label for="ship_to_street_address_2">Address 2</label><input id="ship_to_street_address_2" class="inputTextBox" type="text" maxlength="35" /></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="2"><label for="ship_to_city">City<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="ship_to_city" type="text" class="inputTextBox" maxlength="20" /></td>
                
                <td class="td_2">
                    <label class="state_province_selection_label" for="ship_to_state_code">State<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label>
                    <div class="selection_containers">
                    <select id="ship_to_state_code">
                    	
                    <option value="mi" >MI</option>
                    <option value="oh" >OH</option>

                    </select>
                    </div>
                </td>


                <td class="td_3" colspan="2"><label for="ship_to_zip_code">Zip Code<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="ship_to_zip_code" class="inputTextBox" type="text" maxlength="5" /></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1"><label for="ship_to_phone_number">Phone<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="ship_to_phone_number" class="inputTextBox" type="text" /></td>
                <td class="td_2"></td>
                <td class="td_3"></td>
                <td class="td_4"></td>
                <td class="td_5"></td>
            </tr>


            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="5"><label for="ship_to_special_instructions">Instructions</label><textarea id="ship_to_special_instructions" cols="50" rows="3"></textarea></td>
            </tr>
            <tr>
                <td class="td_0" colspan="6"><div class="ship_to_message"></div></td>
            </tr>
            <tr>
               
                <td class="td_0" colspan="2" style="text-align: left;">
                    <div style="text-align: right; padding-right:7px">
                        @{
                            if ((DOMAIN_PRODUCTION_SETTING == System.Configuration.ConfigurationManager.AppSettings["SubDomain"].ToLower())) { 
                                <span id="siteseal"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=MGJw1oJobd103dEAiCfxc7x7Sb7mT9uJlw23GlAEkEXeJRkj6K"></script></span>
                            } else {
                                <span id="siteseal"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=2jCCemB6pjk02rsJDQamSucJIYhkMcPhNghTiIyM49eiJJOBD9"></script></span>
                            };
                        }
                    </div>
                </td>
                <td class="td_2" colspan="4" style="text-align: right;">
                    <a id="ship_to_button_delete" class="action_buttons" >DELETE</a>
                    <a id="ship_to_button_cancel" class="action_buttons" >CANCEL</a>
                    <a id="ship_to_button_save" class="action_buttons" >SAVE</a>
                </td>
            </tr>
            </tbody>
        </table>
        
    </form>

    <div id="order_detail_display" style="display:none;">
        <h2 class="header_bars">Order Description</h2>
        <div id="order_description_display">
            <div class="text_input_displays">
                <p>CUSTOMER PO# <input type="text" id="purchase_order_input" maxlength="100" size="35"></p>   
                <p>ORDER DESCRIPTION <input type="text" id="order_description_input" maxlength="50"></p>
                <p id="promo">PROMOTIONAL CODE <input type="text" id="promotional_code_input" maxlength="20">  <span id="promotional_description_label"></span></p>
            </div> <!--#text_input_displays-->
        </div> <!--#order_description_display-->
        
        <h2 class="header_bars">Ship To Location</h2>
            <div id="ship_to_table">
                <div id="address">
                    <input type="radio" id="ship_to_company_0" name="ship_to_radio_buttons_name" class="ship_to_radio_buttons" value="Company # 1">&nbsp;Company1
                        
                    <ul id="address_list">
                        <li>Name 0</li>
                        <li>Address 0</li>
                        <li>City Anywhere, CO 80000</li>
                    </ul>
                        
                       
                    <a class="ship_to_edit_links">EDIT</a>
                 </div><!-- End #address-->
             
                <div id="address">                           
                <input type="radio" id="ship_to_company_1" name="ship_to_radio_buttons_name" class="ship_to_radio_buttons" value="Company # 2">&nbsp;Company2           
                <ul id="address_list">
                    <li>Name 1</li>
                    <li>Address 1</li>
                    <li>City Anywhere, CO 80001</li>
                </ul>
                <a class="ship_to_edit_links">EDIT</a>
            </div><!-- End #address-->
           
            <div id="address">             
                <input type="radio" id="ship_to_company_2" name="ship_to_radio_buttons_name" class="ship_to_radio_buttons" value="Company # 3">&nbsp;Company3
                       
                <ul style="list-style:none;">
                    <li>Name 2</li>
                    <li>Address 2</li>
                    <li>City Anywhere, CO 80002</li>
                </ul>      
                <a class="ship_to_edit_links">EDIT</a>
            </div><!-- End #address-->
        </div><!-- End #ship_to_table-->    

        <a id="add_new_address_button" class="action_buttons" >ADD NEW ADDRESS</a>
           

        <h2 class="header_bars">Payment Information</h2>
        <div id="payment_information_container">
            <div id="payment_method_selection_display">
                <h4>Choose your payment method:</h4>
                <input type="radio" name="payment_method_radio_buttons_name" class="payment_method_radio_buttons" value="Credit">Credit Card
                <input type="radio" name="payment_method_radio_buttons_name" class ="payment_method_radio_buttons" value="Invoice">Invoice
            </div><!--#payment_method_selection_display-->
            <div id="credit_card_display">
                <div  id="no_cards_on_file_display">
                    <span>No cards on file!</span>
                </div><!-- #no_cards_on_file_display -->
                <div id="credit_card_table">                    <!--"credit_card_options"-->
                    <h4>Card on file:</h4>
                    <div id="cc_option">
                        <input type="radio" id="credit_card_selection_0" name="credit_card_radio_buttons_name" class="credit_card_radio_buttons" value="Credit Card # 1">
                        Test Card
                        <ul id="credit_card_list">
                            <li>VISA</li>
                            <li>XXXX XXXX XXXX 7877</li>
                        </ul>
                        <a class="credit_card_edit_links">EDIT</a>
                        <a class="credit_card_delete_links">DELETE</a>

                    </div><!-- #cc_option -->

                    <div id="cc_option">
                        <input type="radio" id="credit_card_selection_1" name="credit_card_radio_buttons_name" class="credit_card_radio_buttons" value="Credit Card # 2"> Test Card 2
                        <ul id="credit_card_list">
                            <li>AMEX</li>
                            <li>XXXX XXXX XXXX 3556</li>
                        </ul>
                        <a class="credit_card_edit_links">EDIT</a>
                        <a class="credit_card_delete_links">DELETE</a>
                    </div><!-- #cc_option -->
                </div><!-- #credit_card_table -->             

                            
            </div> <!--#credit_card_display-->

@*          <a id="add_new_card_button_secure" class="action_buttons" >+ SECURE ADD CREDIT CARD</a>*@
            <a id="add_new_card_button" class="action_buttons" >ADD CREDIT CARD</a>
      
            <div class="check_box_containers">
                <input type="checkbox" id="agree_to_terms_checkbox">
                <label style="display:inline-block; padding-bottom:6px; " for="agree_to_terms_checkbox">
                    <span></span> I agree to payment terms:</label>
               <p>30 days. Past due invoices are subject to 2% finance fee.</p>
            
            </div><!--#check_box_containers-->

        </div>  <!--#payment_information_container-->

        <h2 class="header_bars">Order Detail        </h2>
        <div id="supplier_orders_container">

            <div id="supplier_orders_template" class="supplier_order_displays">
                <div id="supplier_title">
                    <span class="supplier_label_span">Supplier: </span>
                    <span class="supplier_name_span">Lucas</span>
                </div><!-- END #supplier_title-->
            
            
                <div class="supplier_order_dropdown_containers">
                    <div class="supplier_order_selector_display_upper">
                        <label class="tag_ratio_selector_labels">Tag Options:</label><img src="/Images/icons/registration_icon_required_16.png" width="16" height="16" class="tag_ratio_selector_labels_image" />
                        <select class="tag_ratio_selectors">
                            <option>Tag Ratio Option One</option>
                            <option>Tag Ratio Option Two</option>
                            <option>Tag Ratio Option Three</option>
                            <option>Tag Ratio Option Four</option>
                        </select>
                    </div> <!--END #supplier_order_selector_display_upper -->
                    
                    <div class="supplier_order_selector_display_lower">
                        <label class="shipment_method_selector_labels">Delivery Method:</label> <img class="shipment_method_selector_labels_image" src="/Images/icons/registration_icon_required_16.png" />
                        <select class="shipment_method_selectors">
                            <option>Shipment Option One</option>
                            <option>Shipment Option Two</option>
                            <option>Shipment Option Three</option>
                            <option>Shipment Option Four</option>
                        </select>
                   
                    </div><!--END #supplier_order_selector_display_lower -->     
               </div> <!-- END #supplier_order_dropdown_containers -->
                <div class="line_item_grids">
                    <div id="cart_line_item">
                        <a class="order_delete_links">DELETE</a>
                        <ul id="line_item_rows">
                            <li>Species: [species]</li>
                            <li>Product: [product]</li>
                            <li>Form: [form]</li>
                            <li>Trays: [number_trays]</li>
                            <li>Unit Price: [unit_price]</li>
                            <li>Qty: <input type="text" class="line_item_grid_order_quantity_inputs"> <span class="icon_image_spans"><img src="/images/layout/timer.png" alt="" /></span></li>
                            <li id="extension_price">Subtotal: $$$ </li>
                        </ul>
                    </div>  <!--END #cart_line_item-->
                </div> <!--END #line_item_grids-->
                <div id="supplier_totals_count">
                    <ul id="supplier_totals_count_list">
                        <li>Total Trays: <span class="supplier_order_tray_totals">??</span></li>
                        <li>Total Qty: <span class="supplier_order_quantity_totals">??</span></li> 
                    </ul>
                </div> <!--END #supplier_totals_count-->

                <div id="supplier_subtotals">
                    <ul id="supplier_product_subtotal" class="supplier_subtotal_boxes" >
                        <li class="left"><span class="supplier_name_span">??</span> Subtotal</li>  <!--supplier_name_span"-->
                        <li class="right"><span class="supplier_order_product_cost_totals">??</span></li>
                     <!--   <li><a @*href='JAVASCRIPT:alert("TBD");'*@ class="supplier_order_update_links">update</a></li>-->
                    </ul><!-- END#supplier_subtotals-->

                  
                    <div id="supplier_fees">
                        <ul id="supplier_fee" class="supplier_subtotal_boxes">
                            <li class="left">
                                <span class="supplier_order_fee_info_icons">&nbsp;<img style="display:inline-block; vertical-align:text-bottom; width:20px; height:20px; margin: 0; padding:0;" src="~/Images/icons/icon_information_circle_green_24.png" alt="" />&nbsp;</span>
                            </li>
                            <li class="left">
                                <span class="supplier_order_fee_status_description">dynamic status label</span>
                            </li>
                            <li class="left">
                                <span class="supplier_order_fee_type_description">dynamic type label</span>
                            </li>
                            <li class="right">
                                <span class="supplier_order_fee_amount">dynamic amount label</span>
                            </li>
                        </ul><!-- END#supplier_fee-->
                    </div> <!-- END#supplier_fees-->


                    <ul id="supplier_total" class="supplier_subtotal_boxes">
                        <li class="left"><span class="supplier_name_span">??</span> Total</li> 
                        <li class="right"><span class="supplier_order_total_costs">??</span></li>
                    </ul><!-- END#supplier_subtotal_boxes-->

                    </div><!-- END#supplier_subtotals-->
            </div>  <!--END #supplier_orders_template-->        

        </div> <!--END #supplier_orders_Container-->   

        <div id="grower_fees">
            <ul id="grower_fee" class="grower_subtotal_boxes">
                <li class="right">
                    <span class="grower_order_fee_info_icons">&nbsp;<img style="display:inline-block; vertical-align:text-bottom; width:20px; height:20px; margin: 0; padding:0;" src="/Images/icons/icon_information_circle_green_24.png" alt="" />&nbsp;</span>
                </li>
                <li class="right">
                    <span class="grower_order_fee_status_description">dynamic status label</span>
                </li>
                <li class="right">
                    <span class="grower_order_fee_type_description">dynamic type label</span>
                </li>
                <li class="right">
                    <span class="grower_order_fee_amount">dynamic amount label</span>
                </li>
            </ul><!-- END#Grower_fee-->
        </div> <!-- END#Grower_fees-->
        

        <div id="order_totals_box" > <!--order_totals_table-->
            <h2 id="zz1">ORDER TOTALS</h2>
            <ul id="order_totals_list">
                <li>Total Trays: <span class="grower_order_total_trays_span">hi</span></li>  
                <li>Total Quantity: <span class="grower_order_total_cuttings_span">??</span></li>  
                <li class="bolded">Total Price: <span class="grower_order_total_cuttings_cost_span">??</span></li>  
            </ul>
        </div><!-- END #order_totals_box-->
            
        <div id="button_display">
            <a id="order_button" class="action_buttons" >Place Order</a>
            <a id="continue_shopping_button" class="action_buttons" >Continue Shopping</a>
            <a id="delete_order_button" class="action_buttons" >Delete</a>
        </div>

    </div> <!--#order_detail_display-->
 

    <div id="page_content">
        <h2 class ="header_bar">Items in Cart</h2>
        <h3><a href="/MyAccount">My Account</a></h3>
        <div id="cart_orders_display"></div>
    </div>

@if(1==0){

//if(ViewBag.ShowTestInfo){

<div id="test_area" style="display:block; height:300px; border:dotted 4px #ccc;">
    <div id="test_area_left_div">
        <p>Dev Stuff:</p>
        <span style="margin-top:10px;" id="test_show_order_data">Order data</span>
        <span style="margin-top:10px;" id="test_show_detail_data">Detail data</span>
        <span style="margin-top:10px;" id="test_summary_api">Summary api</span>
        <span style="margin-top:10px;" id="test_detail_api">Detail api</span>
        <span style="margin-top:10px;" id="test_supplier_order_fees_api">Supplier Order Fees api</span>
        <span style="margin-top:10px;" id="test_grower_order_fees_api">Grower Order Fees api</span>
        <span style="margin-top:10px;" id="test_model_fee_data">Show Fee Data</span>
        <span style="margin-top:10px;" id="test_supplier_order_refresh_totals">Refresh Supplier Orders Totals</span>
        <span style="margin-top:10px;" id="test_grower_order_refresh_totals">Refresh Grower Order Totals</span>

    </div>
    <div id="test_area_right_div">
        <div style="border: dotted 1px #ccc;">
            <img id="test_time_interval_data_working_image" style="display:none;" src="~/Images/icons/Loading_Availability.gif" />
            <span id="test_time_interval_data">??</span>
            <span id="test_row_count">??</span>
            <span id="test_time_interval_display">??</span>
        </div>
        <div id="test_area_results_display" style="clear:both;"></div>
    </div>
</div>

}
@section scripts {
@*
    //Use Bundle for PRODuction
        @Scripts.Render("~/bundles/PageScripts/Cart") 

    Use files during Development    
 *@   
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/numeral.min.js"></script>
    <script src="~/ViewModels/Cart2.js"></script>

    
    <script type="text/javascript">
        $(document).ready(function () {
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "Shopping Cart", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);


           

        });
       // alert("call");
        viewModel.Init();

        


    </script>
}

@section styles {
    <link href="~/Content/styles/Cart.css" rel="stylesheet" />
    <style type="text/css">
        #page_content {
            margin: 0 0 20px 0;
            padding: 0;
        }
    </style>

    <style type="text/css">
        /********************** Test Area CSS ********************/
        #test_area_left_div
        {
            float: left;
            height: 250px;
            max-height: 250px;
            width: 275px;
            font-size: 12px;
            border-right: solid 10px #f0f0f0;
        }

        #test_area_left_div p {
            margin:0;
            padding:0;
            font-size:12px;
        }

        #test_area_right_div {
            float:left;
            width:950px;
            height:300px;
            max-height:300px;
            font-size:12px;
            border: dotted 1px #008;
        }
        #test_area_results_display
        {
            max-height:250px;
            overflow-y:scroll;
            /*border-top: dotted 1px #999;*/
        }
    </style>
}
