﻿@model ePS.Models.CatalogueSearch_2PageModel

@{
    ViewBag.Title = ViewBag.Title ?? "Catalogue";
}

@section styles {
    <link href="~/Content/styles/CatalogueSearch2.css" rel="stylesheet" />
    <style type="text/css">
    </style>
}

<div id="page_content">
    
@*<div id="test_stuff" style="display:none; background:#f0f0f0;" >
    <p id="ajax_status" style="display:none;">??</p>
    <p >Working Here: Page:[@ViewBag.Title] CategoryKey:[@Model.SelectedCategory.Key] ProductFormKey:[@Model.SelectedProductForm.Code]</p>
    <table>
        <tr>
            <td><input id="test0" type="button" value="clear supplier list" onclick="viewModel.clearSupplierList();"/></td>
            <td><input id="test1" type="button" value="delete supplier data" onclick="viewModel.deleteSupplierData();"/></td>
            <td><input id="test2" type="button" value="retrieve suppliers data" onclick="viewModel.retrieveSupplierData();"/></td>
            <td><input id="test3" type="button" value="display suppliers" onclick="viewModel.displaySupplierList();"/></td>
            <td><input id="test4" type="button" value="clear, delete, retrieve & display" onclick="viewModel.clearSupplierList([viewModel.deleteSupplierData,viewModel.retrieveSupplierData,viewModel.displaySupplierList]);"/></td>
        </tr>
        <tr>
            <td><input id="test10" type="button" value="clear species table" onclick="viewModel.clearSpeciesList();"/></td>
            <td><input id="test11" type="button" value="delete species data" onclick="viewModel.deleteSpeciesData();"/></td>
            <td><input id="test12" type="button" value="retrieve species data" onclick="viewModel.retrieveSpeciesData();"/></td>
            <td><input id="test13" type="button" value="display species" onclick="viewModel.displaySpeciesList();"/></td>
            <td><input id="test14" type="button" value="clear, delete, retrieve & display" onclick="viewModel.clearSpeciesList([viewModel.deleteSpeciesData, viewModel.retrieveSpeciesData, viewModel.displaySpeciesList]);"/></td>
        </tr>
        <tr>
            <td><input id="test110" type="button" value="clear variety sets display" onclick="viewModel.clearVarietySetsDisplay();"/></td>
            <td><input id="test111" type="button" value="delete variety sets data" onclick="viewModel.deleteVarietySetsData();"/></td>
            <td><input id="test112" type="button" value="retrieve variety sets data" onclick="viewModel.retrieveVarietySetsData();"/></td>
            <td><input id="test113" type="button" value="display variety sets" onclick="viewModel.displayVarietySets();"/></td>
            <td><input id="test114" type="button" value="clear, delete, retrieve & display" onclick="viewModel.clearVarietySetsDisplay([viewModel.deleteVarietySetsData, viewModel.retrieveVarietySetsData, viewModel.displayVarietySets]);"/></td>
        </tr>

    </table>
</div>*@

    <div id="left_region_container">
    
        <div id="supplier_selection_container">
            <p>
                <span class="selection_title">Suppliers:</span>
                <span class="selection_select_all">[all]</span>
                &nbsp;&nbsp;&nbsp;
                <span class="selection_clear_all">[clear]</span>
            </p>
            <img id="suppliers_loading_icon" class="loadingIcons" src="~/Images/icons/icon_loading_bar_green.gif" alt="Suppliers are loading."/>
        <div id="supplier_selection_display">
            <ul id="supplier_selection_list"></ul>
        </div>

        </div>
        <div id="species_selection_container">
            <p>
                <span class="selection_title">Species:</span>
                <span class="selection_select_all">[all]</span>
                &nbsp;&nbsp;&nbsp;
                <span class="selection_clear_all">[clear]</span>
            </p>
            <img id="species_loading_icon" class="loadingIcons" src="~/Images/icons/icon_loading_bar_green.gif" alt="Species are loading."/>
            <div id="species_selection_display">
            <ul id="species_selection_list">  </ul>
        </div>
        </div>
    </div>

    <div id="right_region_container">
        <p>
            <span class="selection_title">Varieties By Species:</span>
            <span>[ Page: <span id="variety_sets_page">??</span> of <span id="variety_sets_page_count">??</span> ] [ <span id="variety_sets_count">??</span> species ] [ <span id="varieties_count">??</span> varieties ]</span>
        </p>
        <img class="loadingIcons" src="~/Images/icons/icon_loading_bar_green.gif" alt="Varieties are loading." />
        <div id="variety_sets_display">
            <!-- This will be filled with Variety Sets at run time -->
            no data loaded!
        </div>
    </div>

</div>



@section scripts {
    <script src="~/Scripts/pageScripts/CatalogueSearch2.js"></script>
    <script type="text/javascript">

        var SelectionScope = new Object;
        SelectionScope.CategoryKey = "@Model.SelectedCategory.Key";
        SelectionScope.CategoryName = "@Model.SelectedCategory.Name";
        SelectionScope.ProductFormName = "@Model.SelectedProductFormCategory.Name";
        SelectionScope.ProductFormCode = "@Model.SelectedProductFormCategory.Code";

        viewModel.config(SelectionScope.CategoryKey, SelectionScope.ProductFormCode)

        $(document).ready(function () {
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Catalogue", Href: "/home/Catalogue/", Title: "Catalogue Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: SelectionScope.CategoryName, Href: "/home/catalogue/" + SelectionScope.CategoryKey, Title: "Plant category selection", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: SelectionScope.ProductFormName, Href: "/home/catalogue/" + SelectionScope.CategoryKey + "?productForm=" + SelectionScope.ProductFormCode, Title: "Product form selection", State: "Active" });

            breadCrumbs.push({ Id: "bread_crumb_5", Type: "span", Text: "Catalogue 2", Href: "", Title: "You are here.", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);

            

            viewModel.loadAll();

            $("#main_navigation_link_catalogue").removeClass().addClass("main_navigation_links_selected");

            

        });

      


    </script>
}

