﻿@{
    ViewBag.Title = "Early IE Warning!";
}



@section styles {
    <style type="text/css">
        #page_content {
            height:425px;
        }
        #google_chrome_link, #mozilla_firefox_link {
            /*color:#ffd800;*/
            color: #9bc718;
        }
        #google_chrome_link:hover, #mozilla_firefox_link:hover {
            /*color:#fff;*/
            color: #287d87;
        }

    </style>
}


<div id="page_content">

<h2>Warning: Early Internet Explorer Version</h2>

</div>



@section scripts {
    <script type="text/javascript">
    

        $(document).ready(function () {
            //if (!eps_EarlyIeBrowser) {
            //    //alert(eps_EarlyIeBrowser);
            //    alert('It appears you are using an older version of Internet Explorer.\n\nIf so, some features of this page will not work or might perform very slowly.\n\nIf you have Google Chrome or Mozilla Firefox, , we recommend using one of these free browsers or updating to Internet Explorer 10 for the best site experience.');
            eps_tools.OkDialog({ 'title': '<span>Alert!</span>', 'content': '<p>"It appears you are using an older version of Internet Explorer.</p><p>If so, some features of this page will not work or might perform very slowly.</p><p>If you have Google <a id="google_chrome_link" href="http://www.google.com/chrome" target="_blank">Chrome</a> or Mozilla <a id="mozilla_firefox_link" href="http://www.mozilla.org/en-US/firefox">Firefox</a>, we recommend using one of these free browsers or updating to Internet Explorer 10 for the best site experience.', 'modal': true });
                //window.location.href = "/";
            //};

   
            //Set Breadcrumbs:
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Availability", Href: "/availability", Title: "Availability", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "Search", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);



        });


    </script>
    

}

