﻿@{



    ViewBag.Title =  "Unsponsored Rider Online Portal";

    //ViewBag.ContentType.Html = ViewBag.ContentType.Html ?? string.Empty;
    //ViewBag.ContentType.CssPage = ViewBag.ContentType.CssPage ?? string.Empty;
    //ViewBag.ContentType.Css = ViewBag.ContentType.Css ?? string.Empty;



}


  @section styles {
<style type="text/css">
    .home_title {
       
        height:800px;
    }
  
    h1.home_title {
        color: black;
        font-family: "playfair display";
        font-size: 28px;
    }
    .home_center {
        background-color:black;
        color: white;
        font-family: "playfair display";
        font-size: 24px;
        text-align: center;
    }
    .home_apparel {
        background-color: black;
        color: white;
    }
    .home_partners {
        background-color: white;
        color: black;
    }
    ul.home_list {
        list-style =none;
        /* width: 1000px;*/
    }
    li.home_listitem {
        border: 1px solid #bbcfd6;
        width: 400px;
        padding: 20px;
        background-color: white;
        color: black;
        margin: 10px;
        display: inline-block;
        text-align: center;
        font-family: "playfair display";
        font-size:24px;
        height: 60px;
    }

        li.home_listitem a {
            color: black;
            font-family: "playfair display";
            font-size: 24px;
        }

    li a {
        text-decoration: none;
        color: #bbcfd6;
    }
    p.home_paragraph {
        font-family: "playfair display";
        font-size: 24px;
        color: white;
    }
    .mainTable {
        height: 100%;
        width: 100%;
        background-color: white;
    }
    .homeStyle {
        width: 100%;
        height: 85%;
        background-image: url('../../Images/catalogue/Men Signature Short Sleeve Jersey (Pro Fit).jpg');
        background-repeat: no-repeat;
        background-size: contain;
       
    }
    .homeStyleLeft {
        background-color: gray;
        text-align:left;
        vertical-align:top;
        width:400px;
    }
    .homeStyleRight {
        background-color: white;
        text-align: left;
        vertical-align: top;
        
    }
        .homeStyleRight a {
            font-family: Rockwell;
            font-weight: 900;
            font-size: x-large;
            color: black;
            text-decoration: underline;
            margin: 100px 30px;
        }
    .homeStyleRight span {
        font-family: Rockwell;
        font-weight: bold;
        font-size: larger;
        color: black;
        text-decoration: none;
        margin: 30px;
    }
    .homeStyleLeft a {
        font-family: Rockwell;
        font-weight: 900;
        font-size: x-large;
        color: black;
        text-decoration: underline;
        margin:100px 30px;
    }
        .homeStyleLeft span {
            font-family: Rockwell;
            font-weight: bold;
            font-size: larger;
            color: black;
            text-decoration: none;
            margin: 30px;
        }
    .homeStyleParagraph {
        color: black;
        width:300px;
        text-align:center;
    }
    .homeStyleBottom {
        width: 70%;
    }
</style>
}


<div id="page_content" class="home_title">
  
    <table class="mainTable">
        <tr>
            <td class="homeStyleLeft">
                <table>
                    <tr>
                        <td>
                            <a href="/ApparelOrder/Apparel">APPAREL</a>
                            <br />
                            <span>PRODUCTS/ORDERS</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/Partners/Partners">PARTNER</a>
                            <br />
                            <span>VENDORS</span>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/Athletes/Athletes">ATHLETE</a>
                            <br />
                            <span>PROFILES</span>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/RideConnect/RideConnect">RIDE CONNECT</a>
                            <br />
                            <span>LOCAL RIDES/EVENTS</span>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/RaceConnect/RaceConnect">RACE CONNECT</a>
                            <br />
                            <span>RACE SUPPORT/CHAT ROOMS</span>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="homeStyleRight">
                <table class="homeStyle">
                    <tr style="vertical-align:top;height:400px">
                        <td style="width:500px"></td>
                        <td>
                            <a href="/Account/Login">SIGN IN</a>
                            <br />
                            <span>NOT A MEMEBER? SIGN UP</span>
                        </td>
                       
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a href="/Home/About">ABOUT US</a>
                            <br />
                            <span>CONTACT US</span>
                        </td>

                    </tr>
                  <tr>
                </table>
                <table class="homeStyleBottom">
                    <tr>  
                      <td class="homeStyleParagraph">
                          <p >
                              THE UNSPONSORED RIDER is a web based “team” of individual minded athletes who strive to BE THEIR OWN HERO.
                              Our mission is to provide support, discounts, and gear for our members and TO create a sense of community using an athlete focused social networking platform.
                              This platform will be designed for athletes who, for whatever reason,
                              do not align with the local bike shop team but would still like to identify with something bigger than themselves
                          </p>
                      </td>
                    </tr>
                </table>
                
            </td>
            
        </tr>
        
          
    </table>
  

</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
        //    var breadCrumbs = [];
        //   // breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
        //    breadCrumbModel.ClearDisplay();
        //    breadCrumbModel.Display(breadCrumbs);
            updateSignInStatus();
            $("#HeaderDiv2").hide();
        });

       
    </script>
    


}

