﻿@model ePS.Models.ProductDetailViewModel
@{
    ViewBag.Title = "Availability";
}

@section styles {
    <link href="~/Content/styles/ProductDetailPage.css" rel="stylesheet" />

    <style type="text/css">
        #content_display_description
        {
            height:300px;
            min-height:300px;
            overflow:hidden;
            border:dotted 0px #aaa;
        }
        #content_display_description p
        {
            font-size:14px;
        }


    </style>
}

<div id="page_content">

<div id="top_display">
    @*some test info:*@
    @*<p id="info_test_selection_state"></p> *@
    <div id="pointer_back_to_selections">
            Back to Selections
    </div>
   
</div>

<div id="middle_display">
    

    <div id="middle_left_display" style=" border: dotted 0px #f00;" >    
        <div id="species_display">
            <img src="@Model.VarietyImageUrl" title="@Model.VarietyImageUrl" alt=""/>
            <p>@Model.SpeciesName</p>
            <p>@Model.VarietyName</p>
            <p>Breeder: @Model.BreederName</p>
            <p></p>
            <p style="color:#aaa;">Color: @Model.ColorDescription</p>
            <p style="color:#aaa;">Habit: @Model.Habit</p>
            <p style="color:#aaa;">Vigor: @Model.Vigor</p>
            

        </div>
    </div>
    
   
    <div id="middle_right_display" style=" border: dotted 0px #f00;" >    
        <div id="content_display_description">
            @*
            <p style="color:#333;">DescriptionHtmlGuid = [@Model.DescriptionHtmlGuid]</p>
                      
            <p>Under Construction:</p>  
            <p>This area will display the HTML and embedded CSS stored in the content table in the row identiefied by the DescriptionHtmlGuid above.</p>
            <p>That Guid comes from the DescriptionHTMLGUID column in the Variety Table in the Data Database and is live now.</p>
            *@
            <p>Note: Choose variety with description in content table and the description will appear here!</p>
        </div>
        <span id="ship_week_label">Ship Week:</span>
        <br />
        <select id="ship_week_select_list"></select>
        <br />
        <img id="ship_weeks_loading_icon" class="loadingIcons" src="~/Images/icons/icon_loading_bar_green.gif" alt="Species are loading."/>

    </div>

</div>
<div id="grid_display">

    <table id="outer_grid" cellspacing="0">
        <thead>
            <tr>
                <th class="head1_1" colspan="3"></th>
                <th class="head1_2" colspan="6">
                    <img id="arrow_prior_ship_week" src="~/Images/icons/icon_left_arrow_green_24.png" alt="choose prior ship week" title=" prior ship week "/>
                    <span>Plant Availabilty</span>
                    @*ToDo: set javascript to change title when at the end to read at the end rather than next ship week, same for prior one above*@ 
                    <img id="arrow_next_ship_week" src="~/Images/icons/icon_right_arrow_green_24.png" alt="choose next ship week" title=" next ship week "/>

                </th>
            </tr>
            <tr>
                <th class="heading_supplier_name">Supplier</th>
                <th class="heading_plant_variety"><span id="sort_by_product" onclick="model.sortDataRows();">Product</span></th>
                <th class="heading_product_form">Form</th>
                <th class="heading_order_quantity">Order<br />Quantity</th>
                <th class ="heading_week_minus_1">[-1]</th>
                <th class ="heading_ship_week">Ship<br />Week</th>
                <th class ="heading_week_plus_1">[+1]</th>
                <th class ="heading_week_plus_2">[+2]</th>
                <th class ="heading_week_plus_3">[+3]</th>
                <th class ="heading_8">&nbsp;</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td colspan="9">
                    <div id="inner_grid_display">
                        <table id="inner_grid"  cellspacing="0">
                            <tbody></tbody>
                        </table>
                    </div>

                </td>
            </tr>
            

        </tbody>
        <tfoot>
            <tr>
                <td>&nbsp;</td>
                <td id="total_order_label">Total</td>
                <td id="total_order_quantity"></td>
                <td colspan="2"><div id="add_to_cart"><img src="~/Images/icons/shoppingCart/icon_cart_032.png" /> Add to Cart </div></td>
                <td colspan="3"><div id="grid_status"></div></td>
            </tr>
        </tfoot>
    </table>
  
    <div style="display:none;">
        
        <input id="button_ajax_load" type="button" value="ajax load" onclick="ajaxGet();" />
        <span id="elapsed_time"></span>

    </div>

    <input id="Button1" type="button" value="RawData" onclick="alert(JSON.stringify(model.rowData));" />
</div>

</div>

<div id="testStuff" style="display:none;">
    <p>Test Stuff:</p>
    <input id="Button2" type="button" value="TestTarget" onclick="window.location.href='/home/ProductDetail/varietyDetailAvailability?plantCategoryCode=VA&ProductFormCode=RC&supplierCodes=DUW,LIN,MLM,SYN,WEL&varietyCode=Z1007&shipWeek=30|2013'; " />
    <input id="button_test_1" type="button" value="dataRows count" onclick="var d = model.rowData.length; $('#test_span').text(d);" />
    <input id="button_test_2" type="button" value="dataRows data" onclick="var d = model.rowDataToJson(); $('#test_span').text(d);" />
    <input id="button_test_3" type="button" value="sort dataRows" onclick="model.sortDataRows(); $('#test_span').text(model.rowDataToJson());" />
    <input id="button_test_4" type="button" value="ajaxGet request" onclick="ajaxGet();" />
    <input id="button_test_5" type="button" value="data api" onclick="alert(composeDataApi());" />

    <span id="test_span"></span>
    <span id="json_response"></span>

</div>


@section scripts {
    <script src="~/Scripts/numeral.min.js"></script>
    <script src="~/Scripts/pageScripts/ProductDetail.js"></script>
    <script type="text/javascript">

        //alert("@Model.PlantCategoryCode");

        var SelectionScope = new Object;
        SelectionScope.ProductCategoryCode = "@Model.PlantCategoryCode";
        SelectionScope.ProductCategoryName = "@Model.PlantCategoryName";
        SelectionScope.ProductFormName = "@Model.ProductFormName";
        SelectionScope.ProductFormCode = "@Model.ProductFormCode";
        SelectionScope.SupplierCodes = "@Model.SupplierCodes";
        SelectionScope.VarietyCode = "@Model.VarietyCode";
        SelectionScope.ShipWeekString = "@Model.ShipWeekString";
        SelectionScope.DataApi = "/api/ProductDetail/";
        
@*        var s = "Current Selections: Title:[@ViewBag.Title] Category:[" + SelectionScope.ProductCategoryCode + "] ProductForm:[" + SelectionScope.ProductFormCode + "]";
        $("#info_test_selection_state").text(s);*@
        
        

        $(document).ready(function () {

            var breadCrumbs = [];
            breadCrumbs.push({ Id: "bread_crumb_0", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "bread_crumb_1", Type: "anchor", Text: "Catalogue", Href: "/home/ProductDetail/annuals?ProductForm=rooted", Title: "Catalogue Page", State: "Active" });
            breadCrumbs.push({ Id: "bread_crumb_2", Type: "anchor", Text: SelectionScope.ProductCategoryCode, Href: "/home/catalogue/" + SelectionScope.ProductCategoryCode, Title: "Change Category", State: "Active" });
            breadCrumbs.push({ Id: "bread_crumb_3", Type: "anchor", Text: SelectionScope.ProductFormCode, Href: "/home/catalogue/" + SelectionScope.ProductCategoryCode, Title: "Change Product Form", State: "Active" });
            //ToDo: fix this breadcrumb
            breadCrumbs.push({ Id: "bread_crumb_4", Type: "anchor", Text: SelectionScope.VarietyCode, Href: "/home/catalogue/" + SelectionScope.ProductCategoryCode + "?productForm=" + SelectionScope.ProductFormCode, Title: "Variety Code", State: "Active" });
            breadCrumbs.push({ Id: "bread_crumb_5", Type: "span", Text: "Single Variety", Href: "", Title: "Availability", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);
            

            //enable pointer back to selections
            $("#pointer_back_to_selections").on("click", function () {
                window.location.href = "/home/catalogue/" + SelectionScope.ProductCategoryCode + "?productForm=" + SelectionScope.ProductFormCode;
            });


            $("#arrow_prior_ship_week").on("click", function () {
                //alert("Prior ship week.");
                var selectBox = $('#ship_week_select_list');
                var selectedIndex = selectBox[0].selectedIndex;
                var selectOptions = selectBox.children("option");
                if (selectedIndex > 0) {
                    selectOptions.selected = false;  //deselect all
                    selectOptions[selectedIndex - 1].selected = true;
                selectBox.change();
                } else {
                    alert("You are at first available ship week.");
                };

            });
            $("#arrow_next_ship_week").on("click", function () {

                var selectBox = $('#ship_week_select_list');
                var selectedIndex = selectBox[0].selectedIndex;
                var selectOptions = selectBox.children("option");
                if (selectedIndex < (selectOptions.length - 1)) {
                    selectOptions.selected = false;  //deselect all
                    selectOptions[selectedIndex + 1].selected = true;
                    selectBox.change();
                } else {
                    alert("You are at last available ship week.");
                };
            });


            model.AjaxGetShipWeeks();  //Note this loads data when complete;
           // alert("setting description");
            viewModel.DisplayDescriptionHtml('@Model.DescriptionHtmlGuid');


        });
















        model.AjaxAddToCart = function () {
            alert("Placing: " + model.TotalOrderQuantity() + " products in your cart.");
            //Compile array of quantities and product codes
            var orderedItems = [];

            for (var i = 0; i < model.rowData.length; i++) {
                if (model.rowData[i].OrderQuantity > 0) {
                    //alert(model.rowData[i].OrderQuantity);
                    //alert(model.rowData[i].Guid);
                    var item = { "ProductGuid": model.rowData[i].Guid, "OrderQuantity": model.rowData[i].OrderQuantity };
                    orderedItems.push(item);
                };
            }


            alert(SelectionScope.ProductCategoryCode);


            var targetEt = $("#elapsed_time");
            var start = new Date();
            $.ajax({
                type: "post",
                url: "/api/productorder/",
                data: {
                    ProgramCategoryCode: SelectionScope.ProductCategoryCode,
                    ProductFormCode: SelectionScope.ProductFormCode,
                    ShipWeekString: SelectionScope.ShipWeekString,
                    OrderedItems: orderedItems
                },
                dataType: "json",
                context: document.body,
                beforeSend: function (xhr) {
                    //xhr.overrideMimeType("text/plain; charset=x-user-defined");
                    model.workingState(true);
                    //alert(this.data.ProgramCategoryCode);
                },
                success: function (response) {
                    // successful request; do something with the data
                    if (response.Outcome.Success) {
                        //Clear order quantities

                        for (var i = 0; i < model.rowData.length; i++) {
                            model.rowData[i].OrderQuantity = 0;
                        }
                        $(".order_quantity_inputs").val(0);
                        model.displayOrderQuantityTotal($("#total_order_quantity"));

                        alert("Success: true");
                    } else {

                        alert("Success: false\nNotAuthenticated: " + response.Outcome.NotAuthenticated);
                    }
                },
                complete: function () {
                    var end = new Date();
                    targetEt.html("Milliseconds: " + (end - start));
                    model.workingState(false);
                    return false;
                }
                //error: function (jqXHR, textStatus) {
                //    alert("Request failed: " + textStatus);
                //}

            });





        };

    </script>

}
