﻿@{
    ViewBag.Title = ViewBag.Title ?? "Test Page";
}



<p id="test_font" style="
    font-family: 'GothamRnd', sans-serif;
    font-weight: 400;
    font-size: 22px;
">
    This is to test font  333.
</p>

@*During Page Construction, this should be populated with value from cookie or database*@


    
@{var stateGuid = Guid.NewGuid();}

<input id="state_guid" type="hidden" value="@stateGuid" />


<div id="page_content">

    <h2>@ViewBag.Title</h2>

    <h5>@ViewBag.Message</h5>
    <h6>Session Variable (Cookie):</h6>
    <p>Session.IsNewSession: @ViewBag.IsNewSession</p>
    <p>Session.SessionId: @ViewBag.SessionId</p>
    <p>Session.ToString(): @ViewBag.ToString</p>

    <h6>Hidden Field:</h6>
    <p>state_hidden_field_guid (As read on client): <span id="show_state_guid"></span> </p>
    <p>state_hidden_field_guid(As read on server): <span>@ViewBag.StateGuid</span></p>

    <h6>State Cookie:</h6>
    <p>state_cookie_guid: <span id="show_state_cookie_guid"></span> </p>



    <p>CookieDescriptionsArray: 
        @foreach (string description in ViewBag.CookieDescriptionsArray){
            <br /><span class="requestCookieDescriptions">@description</span> 
        }
    </p>

    


</div>






@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            var breadCrumbs = []
            breadCrumbs.push({ Id: "bread_crumb_0", Type: "anchor", Text: "Home", Href: "/Home/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "bread_crumb_2", Type: "span", Text: "Test Page", Href: "", Title: "You are here.", State: "Active" });


            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);

            

        });
        $("#show_state_guid").text($("#state_guid").val());
    </script>

}
