﻿@{
    ViewBag.Title = ViewBag.Title ?? "Green-Fuse | Search";
    ViewBag.SearchTerm = ViewBag.SearchTerm ?? string.Empty;
    ViewBag.ShowTestInfo = ViewBag.ShowTestInfo ?? false;   //default to false
}

<div id="page_content">
    <h2>Searching: <span id="search_term_display">@ViewBag.SearchTerm</span></h2>
  <!--  <h1>Callie® Bright Red Callie&#174; Bright Red</h1>-->

    <div id="search_result_display">
        <span id="search_result_failure_message"></span>
        <span id="search_result_count_message" style="display:block;background-color: #ddd;padding:5px;"></span>
    </div>
    

</div>

@if(ViewBag.ShowTestInfo){

    <div id="test_area_container">
        <div id="test_area_response_display">
        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/numeral.min.js"></script>
    <script src="~/Scripts/pageScripts/Search.js"></script>
    <script type="text/javascript">

        viewModel.state.searchTerm = '@ViewBag.SearchTerm';

        //alert(viewModel.state.searchTerm);

        $(document).ready(function () {
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "Search Page", Href: "", Title: "You are here.", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);
            //Init View Model
            viewModel.init();
        });

    </script>
    

}



@section styles {
    <link href="~/Content/styles/Search.css" rel="stylesheet" />
    <style type="text/css">

        #test_area_container {
            display: block;
        }

        #test_area_response_display {
            height:225px;
            background:#f0f0f0;
            overflow-x:hidden;
            overflow-y:scroll;
        }

    </style>
}
