﻿
@{
    ViewBag.Title = "Apparel";
  
}


<div id="page_content" class="pageBasic">
   <h1>@ViewBag.Title</h1>

    <table>
        <tr>
            <td>
                <a href="/ApparelOrder/ApparelDetail?ProductID=1">
                    <img src="~/Images/catalogue/Men Endurance Max Short Sleeve Jersey (Pro Fit).jpg" />
                </a>
                <br />
                <a href="/ApparelOrder/ApparelDetail?ProductID=1">Men Endurance Max Short Sleeve Jersey (Pro Fit)</a>
                <p>Non-Member Price: $132.00</p>
                <p>Member Price: $102.00</p>
            <td>
                <a href="/ApparelOrder/ApparelDetail?ProductID=2">
                    <img src="~/Images/catalogue/Women Endurance Max Short Sleeve Jersey (Pro Fit).jpg" />
                </a>
                <br />
                <a href="/ApparelOrder/ApparelDetail?ProductID=2">Women Endurance Max Short Sleeve Jersey (Pro Fit)</a>
                <p>Non-Member Price: $132.00</p>
                <p>Member Price: $102.00</p>
            </td>
            <td>
                <a href="/ApparelOrder/ApparelDetail?ProductID=3">
                    <img src="~/Images/catalogue/Men Signature Bib Short.jpg" />
                </a>
                <br />
                <a href="/ApparelOrder/ApparelDetail?ProductID=3">Men Signature Bib Short</a>
                <p>Non-Member Price: $147.30</p>
                <p>Member Price: $117.30</p>
            </td>
            <td>
                <a href="/ApparelOrder/ApparelDetail?ProductID=4">
                    <img src="~/Images/catalogue/Women Signature Bib Short.jpg" />
                </a>
                <br />
                <a href="/ApparelOrder/ApparelDetail?ProductID=4">Women Signature Bib Short</a>
                <p>Non-Member Price: $147.30</p>
                <p>Member Price: $117.30</p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/ApparelOrder/ApparelDetail?ProductID=5">
                    <img src="~/Images/catalogue/Men Endurance Max Short Sleeve Jersey (Pro Fit).jpg" />
                </a>
                <br />
                <a href="/ApparelOrder/ApparelDetail?ProductID=5">Men Endurance Max Short Sleeve Jersey (Pro Fit)</a>
                <p>Non-Member Price: $126.90</p>
                <p>Member Price: $96.90</p>
            </td>
            <td>
                <a href="/ApparelOrder/ApparelDetail?ProductID=6">
                    <img src="~/Images/catalogue/Women Endurance Max Short Sleeve Jersey (Pro Fit).jpg" />
                </a>
                <br />
                <a href="/ApparelOrder/ApparelDetail?ProductID=6">Women Endurance Max Short Sleeve Jersey (Pro Fit)</a>
                <p>Non-Member Price: $126.90</p>
                <p>Member Price: $96.90</p>
            </td>

            <td>
               
                <a href="/ApparelOrder/ApparelDetail?ProductID=7">
                    <img src="~/Images/catalogue/Men Element Pocket Shell.jpg" />
                </a>
                <br />
                <a href="/ApparelOrder/ApparelDetail?ProductID=7">Men Element Pocket Shell</a>
                <p>Non-Member Price: $152.40</p>
                <p>Member Price: $122.40</p>
            </td>
            <td>

            </td>

        </tr>
    </table>
</div>



@section scripts {
    @* Use Bundle for PRODuction*@
    @*@Scripts.Render("~/bundles/PageScripts/Catalog")*@

    @*Use files during Development*@
    <script src="~/Scripts/numeral.min.js"></script>
    <script src="~/ViewModels/ApparelOrder/Apparel.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#HeaderDiv2").show();
            updateSignInStatus();
            //Init View Model
            viewModel.Init();
        });
    </script>

}

@section styles {
    <link href="~/Content/styles/PageBasic.css" rel="stylesheet" />
   
}
