﻿
@{
    ViewBag.Title = "Apparel Detail";
  
}


<div id="page_content" class="pageBasic">
    <span id="sProductID" name="sProductID" style="display:none"></span>
    <h1>@ViewBag.Title</h1>
    <h2> <span id="sProductName" name="sProductName"></span></h2>
    <div id="productDetail" class="pageDetail">
        <table>
            <tr>
                <td> <img id="imgProduct" name="imgProduct" src="" /></td>
                <td>
                    <table>
                        <tr>
                            <td>Non-Member Price</td>
                            <td><span id="sNonMemberPrice" name="sNonMemberPrice"></span></td>
                        </tr>
                        <tr>
                            <td>Member Price</td>
                            <td><span id="sMemberPrice" name="sMemberPrice"></span></td>
                        </tr>
                        <tr>
                            <td>
                                Size
                            </td>
                            <td>
                                <select name="cboSize" id="cboSize" style="width:100px">
                                    <option value="">Select Size</option>
                                    <option value="XXS">XXS</option>
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="2XL">2XL</option>
                                    <option value="3XL">3XL</option>
                                    <option value="4XL"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Quantity
                            </td>
                            <td>
                                <input style="width:100px" type="number" name="txtQuantity" id="txtQuantity" value="1" />
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                <a id="button_AddToCart" class="action_buttons" style="margin-bottom:10px">Add To Cart</a>
                            </td>
                        </tr>
                    </table>


                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="~/Images/HincapieSizeChart.png" style="height:400px" />
                </td>
            </tr>
        </table>
    </div>


    



</div>



@section scripts {
    @* Use Bundle for PRODuction*@
    @*@Scripts.Render("~/bundles/PageScripts/Catalog")*@

    @*Use files during Development*@
    <script src="~/Scripts/numeral.min.js"></script>
    <script src="~/ViewModels/ApparelOrder/ApparelDetail.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#HeaderDiv2").show();
            //Init View Model
            viewModel.Init();
        });
    </script>

}

@section styles {
    <link href="~/Content/styles/PageBasic.css" rel="stylesheet" />
   
}
