﻿@{
    ViewBag.Title = ViewBag.Title ?? "Availability Search";
    ViewBag.ShowTestInfo = ViewBag.ShowTestInfo ?? false;
}
    <script type="text/javascript"> var showTestInfo = true;
      
    </script>


@if (ViewBag.ShowTestInfo)
{
}
@*

<div id="test_order_quantities_display">
    <span>Test Order Quantities:</span>

    <span class="test_order_quantities_links" onclick=" model.orderQuantityTotalsGet(function (data){  alert(traverseObj(data,false)); }); " >GET</span>

</div>



<div id="test_scroll_to_display">
    <span>Test Scroll-to:</span>

    <span class="test_scroll_to_links" onclick=" alert(traverseObj(model.rowData[0],false)); " >data</span>
    <span class="test_scroll_to_links" onclick=" alert(traverseObj(model.rowDataIndex,false)); " >index</span>
    <span class="test_scroll_to_links" onclick=" viewModel.codesDisplay(viewModel.varietyCodesArray());" >VarietyCodes</span>
    <span class="test_scroll_to_links" onclick=" viewModel.codesDisplay(viewModel.productCodesArray()); " >ProductCodes</span>
    <span class="test_scroll_to_links" onclick=" alert(traverseObj(viewModel.scrollBar, false));" >Scroll Bar</span>
    
    
    <span class="test_scroll_to_links" onclick="var handle = $('#new_paging_scrollbar_handle'); handle.css({'top':100});" >test</span>

    <br />
    <span>Scroll-to VarietyCode:</span>
    <input class="test_scroll_to_inputs" id="test_scroll_to_variety_index"type="text" onchange=" viewModel.scrollBarScrollToVarietyCode($(this).val());" />
    <span>Scroll-to ProductCode:</span>
    <input class="test_scroll_to_inputs" id="test_scroll_to_product_index"type="text" onchange=" viewModel.scrollBarScrollToProductCode($(this).val());" />
        

</div>
*@

@*
    <div id="test_history_display">
        <span>Selection:</span>
        <span class="state_test_links" onclick=" console.log(viewModel.state.selections.getSelectedCategoryCode()); " >category</span>
        <span class="state_test_links" onclick=" console.log(viewModel.state.selections.getSelectedFormCode()); " >form</span>
        <span class="state_test_links" onclick=" console.log(viewModel.state.selections.getSelectedShipWeekString()); " >shipweek</span>
        <span class="state_test_links" onclick=" console.log(viewModel.state.selections.getSelectedSuppliersList()); " >suppliers</span>
        <span class="state_test_links" onclick=" console.log(viewModel.state.selections.getSelectedSpeciesList()); " >species</span>
        <span class="state_test_links" onclick=" console.log(viewModel.state.selections.getFilterImmediateAvailability()); " >Filter</span>
        <span class="state_test_links" onclick="testInitSearchInterface();" >Init</span>

        <span>History Obj:</span>
        <span class="state_test_links" onclick=" console.log(window.history.state); " >state</span>
        <span class="state_test_links" onclick=" testHistoryView(); " >view</span>
        <span class="state_test_links" onclick=" console.log(window.history.length); " >length</span>
        <span class="state_test_links" onclick=" history.back(); " >back</span>
        <span class="state_test_links" onclick=" history.forward(); " >foreward</span>
        <span class="state_test_links" onclick=" testHistoryGo(); " >go</span>
        <span class="state_test_links" onclick=" history.popstate; " >pop</span>
        <span class="state_test_links" onclick=' testHistoryPush(); ' >push</span>
        <span class="state_test_links" onclick=' testHistoryReplace(); ' >replace</span>
        <span class="state_test_links" onclick=' testHistoryPopped(); ' >popped</span>
        <hr />
        <span>Cookie:</span>
        <span class="state_test_links" onclick='viewModel.stateCookieIsValid();' >valid</span>
        <span>Data:</span>
        <span class="state_test_links" onclick=" console.log('model.supplierData: ', model.supplierData); " >suppliers</span>

        <span>Scott:</span>
        <span class="state_test_links" onclick=' testGrowerVolumeLevels(); ' >levels</span>


    </div>
*@

<div id="rotatemessage"> This page best viewed in landscape mode</div>


<div id="ship_week_list_container">
    <div id="ship_week_list_display">??</div>
    <div id="ship_week_list_footer">
        <img src="~/Images/layout/dd_menu_pointer.png" />
    </div>
</div>

<div id="refine_search_tab"><img src="/Images/availability/refine_search.png"  /></div>
<div id="refine_search_dialog">
    <div id="refine_search_dialog_header">
        <p id="refine_search_go">Go</p>
        <p id="refine_search_close">X</p>
    </div>
    <div id="filter_availability_display">
        <span id="filter_availability_check_box" class="selection_selected" >Only view available products</span>
    </div>
    <div id="filter_organic_display">
        <span id="filter_organic_check_box" class="selection_selected">Only view organic products</span>
    </div>
    <h3>Supplier</h3>
    <div id="supplier_list_container">
        <div id="supplier_list_display"></div>
    </div>
    <h3>Species</h3>
    <div id="species_list_container">
        <div id="species_list_display"></div>
    </div>
</div>


<div id="results_selection_display">
    <span id="total_results_span">&nbsp;</span>
</div>

<div id="availability_heading_section">
    <div id="heading_label">
        Availability
    </div>
    
    @*<div id="beta_link_div" >
        <span class="beta_volume_link" onclick='launchBeta();'>Beta Version</span>
    </div>*@
        <div id="ship_week_selection_display">
            <img id="image_ship_week_prior" src="~/Images/availability/greenarrow_l.png" alt="" />
            <span id="ship_week_selector">
                Select a Week
                <img src="~/Images/availability/dd_menu_pointer.png" alt="" style="width:12px; height:8px; margin:0 5px 0 5px;" />
            </span>
            <img id="image_ship_week_next" src="~/Images/availability/greenarrow_r.png" alt="" />
        </div>
    </div>

<div id="availability_grid_container">
    <div id="new_paging_scrollbar_container">
        <div id= "new_scrollbar_up_button" class= "new_scrollbar_up_button_enabled" title=" up one " ><img src='/images/image_transparent__25x25.gif' alt=''/></div>  @*stop click through*@
            <div id="new_paging_scrollbar">
                <div id="new_paging_scrollbar_handle"></div>
            </div>
        <div id= "new_scrollbar_down_button" class= "new_scrollbar_down_button_enabled" title=" down one " ><img src='/images/image_transparent__25x25.gif' alt=''/></div>  @*stop click through*@
    </div>

</div>


<script>
    var testCookieNum = 0;

    function testHistory() {
        history.replaceState({ foo: "bar" }, "", "/Availability/Search?Category=GER&Form=RC");


      

        return false;
    };
    function testQueryString() {
        model.config.init();
        var s = "Category: " + model.config.queryString.category;
        s += "\nForm: " + model.config.queryString.form;

        alert(s);
    };

    function testInitSearchInterface() {
        viewModel.initSearchInterface();
    };
    function setLocation(queryString) {
        //adds url with new querystring to history obect and goes there
        window.location = '/Availability/Search' + queryString;
    }
    function replaceLocation(queryString) {
        //replaces current url to history obect with new querystring and goes there
        window.location.replace(queryString);
    }
    function composeQueryString() {
        $("#test_left_div").hide();
        $("#test_right_div").hide();
        $("#test_result_display").empty();
        //viewModel.composeSpeciesList();

        //model.getSpeciesData([viewModel.composeSpeciesList, viewModel.selectSpecies]);

        //viewModel.composeSupplierList();





        //viewModel.state.shipWeekListComposed;
        //viewModel.state.supplierListComposed;
        //viewModel.state.speciesListComposed;
        //viewModel.state.filterImmediateAvailability;

        //viewModel.state.selections.selectedSuppliersCount();
        //viewModel.state.selections.selectedSpeciesCount();
        //viewModel.state.selections.getSelectedCategoryCode();
        //viewModel.state.selections.getSelectedFormCode();
        //viewModel.state.selections.getSelectedShipWeekString();
        //viewModel.state.selections.getSelectedSuppliersList();
        //viewModel.state.selections.getSelectedSpeciesList();

        //queryString += model.state.queryString.category();


        var queryString = "?Category=";
        queryString += eps_GetQueryStringValue("Category");
        queryString += "&Form=";
        queryString += eps_GetQueryStringValue("Form");
        queryString += "&ShipWeek=";
        queryString += viewModel.state.shipWeekSelected.ShipWeekString;
        queryString += "&Filter=";
        queryString += viewModel.state.filterImmediateAvailability;
        queryString += "&Suppliers=";
        queryString += viewModel.state.selections.getSelectedSuppliersList();
        queryString += "&Species=";
        queryString += viewModel.state.selections.getSelectedSpeciesList();

        var s = "<br /><br />State";

        s += "<br />";
        s += viewModel.state.shipWeekSelected.ShipWeekString;

        s += "<br />";
        s += viewModel.state.selections.getSelectedSuppliersList().length;

        s += "<br />";
        s += viewModel.state.selections.getSelectedSpeciesList().length;

        s += "<br />";
        s += viewModel.state.filterImmediateAvailability;

        s += "<br />QueryString Length="+queryString.length;

        $("#test_result_display").html("<p>" + s + "</s>");
        $("#test_result_display").append("<div style='border:solid 1px #f00; overflow-x: scroll'>" + queryString + "</div>");

        //$.History.go('/Availability/Search' + queryString);
        return queryString;
    };
</script>

@*<script type="text/javascript"> var showTestInfo = false;</script>*@




@if (ViewBag.ShowTestInfo)
{
    @*<script type="text/javascript"> var showTestInfo = true;</script>*@

<div id="test_container">
<div id="test_top_div">
    <img src="~/Images/icons/testIcons/test_paper_icon_48.png" />
    <input id="Button1" type="button" value="history" onclick="testHistory();"/>
    <input id="Button2" type="button" value="ReInit Search" onclick="testInitSearchInterface();"/>
    <input id="Button3" type="button" value="Write State" onclick="testCookieNum++;viewModel.stateCookieWrite();"/>
    <input id="Button4" type="button" value="Read State" onclick="alert(traverseObj(viewModel.stateCookieRead(),false));"/>
    <input id="Button5" type="button" value="Remove State" onclick="viewModel.stateCookieRemove();"/>
    <input id="Button7" type="button" value="Restore Selections" onclick="viewModel.updateSelections();"/>

@**@
    <input id="test_get_rows_with_availability" type="button" value="row count" onclick="alert('Filter: ' + viewModel.state.filterImmediateAvailability + '\nFiltered Rows: ' + model.countRowsWithAvailability() + '\nIndexed Rows: ' + model.refreshRowDataIndex());" />
    <input id="test_show_ship_week_selected" type="button" value="Ship Week" onclick="alert('Ship Week: ' + viewModel.state.shipWeekSelected.Guid);" />

    <input id="test_compose_query_string" type="button" value="compose state" onclick="composeQueryString();" />
    <input id="test_set_location" type="button" value="set location" onclick="setLocation(composeQueryString());" />
    

    

</div>
    <div id="test_result_display" >

    <div id="test_left_div">
        <span id="test_span"></span> 
        @*
        <input id="Button1" type="button" value="pdt in spc in sup" onclick="model.sortDataBySupplier();" />
        <input id="Button1" type="button" value="test clear icons" onclick="viewModel.clearAllOrderIcons();" />
        <input id="Button2" type="button" value="test reset icons" onclick="viewModel.resetAllOrderIcons();" />
        *@
        <p>Selection State = <span id="selected_category"></span><span>&nbsp;&amp;&nbsp;</span><span id="selected_form"></span></p>
    @*    <img src="~/Images/icons/constructionIcons/icon_construction_96.png" />*@
    </div>

    <div id="test_right_div">
        <div style="width:750px; border: dotted 1px #ccc;">
            @*<input id="test_display_rows" style="float:right;" type="button" value="display Rows" onclick="viewModel.drawInnerGrid();" />*@
            <input id="get_ship_week_data" type="button" value="api ShipWeek" onclick="model.getShipWeekData();" />
            <input id="get_supplier_data" type="button" value="api Suppliers" onclick="model.getSupplierData();" />
            <input id="get_species_data" type="button" value="api Species" onclick="model.getSpeciesData();" />
            @*        <input id="get_row_data" type="button" value="api Availability" onclick="viewModel.getDataDisplayGrid();" />*@
            <input id="test_run_availability_api" type="button" value="api Availability" onclick="model.getRowData();" />

        


            <img id="test_time_interval_data_working_image" style="display:none;" src="~/Images/icons/Loading_Availability.gif" />
            <span id="test_time_interval_data">??</span>
            <span id="test_row_count">??</span>
            <span id="test_time_interval_display">??</span>
        </div>
    
        <div id="test_request_url" style="clear:both;"></div>
    
        <div id="test_response_data" ></div>
    </div>
        
    </div>
</div>

}
@*<input style="margin-left:300px;" type='button' value="OK" onclick="testOk();" />*@

@section scripts {
    @* Use Bundle for PRODuction*@
     @Scripts.Render("~/bundles/PageScripts/Availability") 

    @*Use files during Development*@
@*    <script src="~/Scripts/numeral.min.js"></script>
    <script src="~/Scripts/pageScripts/AvailabilitySearch.js"></script>*@

    <script type="text/javascript">
        //function testOk() {
        //    //alert("testOk");
        //    //viewModel.updateSelections();
        //    //$("#" + viewModel.config.searchDialog.refineSearchTabId).effect('slide', viewModel.config.searchDialog.hideoptions, 500, function () { });
        //    //$("#" + viewModel.config.searchDialog.refineSearchDialogId).effect('slide', viewModel.config.searchDialog.showoptions, 500, function () { });

        //    eps_tools.OkDialog({ 'title': '<span>Testing:</span>', 'content': '<br /><span>Test Content</span>', 'modal': true, 'onClose': function() { alert('bingo'); } });
        //    //viewModel.searchDisplay();
        //};
       
        $(document).ready(function () {
           
            //Set Main Menu Selection
            $("#main_navigation_link_availability").removeClass().addClass("main_navigation_links_selected");

            Modernizr.load({
                test: Modernizr.history,
                //yep: function () { console.log("history is supported."); },
                nope: "../Scripts/history.min.js",
                complete: function () {
                    // Run this after everything in this group has downloaded
                    // and executed, as well everything in all previous groups
                    model.config.init();
                    viewModel.init();
                    //console.log('Modernizr complete.');

                }
            });


            //Set the test stuff
            $("#selected_category").text(model.state.queryString.category);
            $("#selected_form").text(model.state.queryString.form);
        
            //Breadcrumbs
            $.ajax({
                type: "get",
                timeout: "75000",
                data: {
                    "CategoryCode": model.state.queryString.category,
                    "FormCode": model.state.queryString.form,
                },
                url: "/api/Availability/GetCategoryAndFormNames",
                datatype: "json",
                beforeSend: function (jqXHR, settings) {
                },
                success: function (response, textStatus, jqXHR) {

                    //Set Breadcrumbs:
                    var breadCrumbs = [];
                    breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
                    breadCrumbs.push({ Id: "", Type: "anchor", Text: "Availability", Href: "/availability", Title: "Availability", State: "Active" });
                    breadCrumbs.push({ Id: "", Type: "span", Text: response.CategoryName + ' ' + response.FormName, Href: "", Title: "You are here!", State: "Active" });
                    breadCrumbModel.ClearDisplay();
                    breadCrumbModel.Display(breadCrumbs);
                },
                // error: function (jqXHR, textStatus, errorThrown) {
                //     alert("url: " + decodeURI(this.url) + "\ntextStatus: " + textStatus + "\nerrorThrown " + errorThrown);
                // },
                complete: function (jqXHR, textStatus) {
                }
            });
            
        });


    </script>
    

}

@section styles {
    <link href="~/Content/styles/AvailabilitySearch.css" rel="stylesheet" />
    <style type="text/css">

        #test_container {
             display:block;
             height:365px;
             border:dotted 4px #ccc;
       
        }

        #test_top_div {
            vertical-align: top;
            border: 0px solid #ccc;
            font-size:10px;
        }

        #test_top_div img {
            float:left;
            display:inline-block;
            margin:0;
            padding:0;
        }

        #test_left_div
        {
            float: left;
            width: 200px;
            height: 250px;
            border: dotted 0px #008;
        }
        #test_left_div p {
            font-size: 12px;
            font-weight: bold;
            color: #666;
        }

        #test_right_div {
            float:left;
            width:1000px;
            height:280px;
            max-height:280px;
            font-size:12px;
            border: dotted 1px #008;
        }
        #test_request_url
        {
            height:58px;
            max-height:58px;
            overflow-y:scroll;
            border-top: dotted 1px #999;
        }
        #test_response_data
        {
            height:175px;
            max-height:175px;
            overflow-y:scroll;
            border-top: dotted 1px #999;
        }

    </style>
}

