﻿@{
    ViewBag.PageMode = ViewBag.PageMode ?? "all";
    ViewBag.Title = ViewBag.Title ?? "Account Settings";

    ViewBag.RunningInDevMode = ViewBag.RunningInDevMode ?? false;   //default to false
}


<div id="page_content">

    <h1>Account Settings</h1>

    <div id="account_settings_container" class="accordions_collapsed">
        <h2 class ="accordion_header_bars">Update Account Settings</h2>
        <div class="accordion_disabled_displays">??</div>
        <div class="accordion_displays"></div>
    </div>
        
    <div id="email_preferences_container" class="accordions_collapsed">
        <h2 class ="accordion_header_bars">Email Preferences</h2>
        <div class="accordion_disabled_displays">??</div>
        <div class="accordion_displays">
            <ul id="account_options_list">
                <li style="margin-left: 5px;">
                    <input type="checkbox" id="SubscribeToNewsLetter" checked="checked" />
                    <label for="SubscribeToNewsLetter" >
                        <span></span>
                        Yes, please send me valuable resources and updates from Green Fuse Botanicals via email (you can unsubscribe at any time).
                    </label>
                <li style="margin-left: 5px;">
                    <input type="checkbox" id="SubscribeToPromotions"  checked="checked" />
                    <label for="SubscribeToPromotions">
                        <span></span>
                        Send me discounts and promotions from suppliers via email.
                    </label>
                </li>
                <li style="margin-left: 5px;">
                    <input type="checkbox" id="ClearOtherChoices" />
                    <label for="ClearOtherChoices">
                        <span></span>
                        No, I don't want to receive email communications and promotions from 
                        Green Fuse Botanicals (I understand that essential emails relative to orders placed will continue.)
                    </label>
                </li>
            </ul>
        </div>
    </div>
    
    
</div>


@if(1==2){

<div id="test_area" style="display:block; height:340px; border:dotted 4px #ccc;">
    <div id="test_area_left_div">
        
        <span style="margin-top:6px;" id="test_data_show_all">Display client-side data</span><br />
        
        <span style="margin-top:6px;" id="test_api_user_is_account_administrator">IsAccountAdministrator API</span><br />
        <span style="margin-top:6px;" id="test_api_current_account_settings">Current Account Settings api</span><br />

        <span style="margin-top:6px;" id="test_api_account_settings">Specific Account Settings api</span><br />
@*        <span style="margin-top:6px;" id="test_data_account_settings">Settings Data</span><br />*@

        <span style="margin-top:6px;" id="test_api_put_account_settings">PUT Account Settings api</span><br />
        <span style="margin-top:6px;" id="test_api_post_account_settings">POST Account Settings api</span><br />
        <span style="margin-top:6px;" id="test_api_delete_account_settings">DELETE Account Settings api</span><br />



        <span style="margin-top:6px;" id="test_api_email_preferences">Email Preferences api</span><br />
        <span style="margin-top:6px;" id="test_api_put_email_preferences">PUT Email Preference api</span><br />
        <span style="margin-top:6px;" id="test_api_post_email_preferences">POST Email Preference api</span><br />
        <span style="margin-top:6px;" id="test_api_delete_email_preferences">DELETE Email Preference api</span><br />

@*        <span style="margin-top:6px;" id="test_data_email_preferences">Emails Data</span><br />*@
    </div>
    <div id="test_area_right_div">
        <div id="test_area_results_display" style="clear:both;">???</div>
    </div>
</div>

}





@section scripts {
    @*Use Bundle for PRODuction*@

@*
    @Scripts.Render("~/bundles/PageScripts/AccountSettings")  
*@


    @*Use files during Development*@    
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/numeral.min.js"></script>
    <script src="~/Scripts/eps_expanse.js"></script>
    <script src="~/Scripts/PageScripts/AccountSettings.js"></script>
    




    <script type="text/javascript">

        $(document).ready(function () {
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "My Account", Href: "/myaccount", Title: "My Account Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "Account Settings / @ViewBag.PageMode", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);

            viewModel.config.pageMode = "@ViewBag.PageMode";

            viewModel.init();

        });


    </script>
}


@section styles {
    <link href="~/Content/styles/AccountSettings.css" rel="stylesheet" />

    <style type="text/css">
        /********************** Test Area CSS ********************/

        .ui-button-text {
            font-size: 10px;
        }
        #test_area_left_div {
            float: left;
            height: 340px;
            max-height: 340px;
            width: 275px;
            font-size: 12px;
            border-right: solid 10px #f0f0f0;
        }

        #test_area_left_div p {
            margin:0;
            padding:0;
            font-size:12px;
        }

        #test_area_right_div {
            float:left;
            width:975px;
            height:340px;
            max-height:340px;
            font-size:12px;
            border: dotted 0px #008;
        }
        #test_area_results_display {
            max-height:335px;
            overflow-y:scroll;
        }
    </style>
}
