﻿@{
    ViewBag.PageMode = ViewBag.PageMode ?? "all";
    ViewBag.Title = ViewBag.Title ?? "Manage Addresses";
    ViewBag.RunningInDevMode = ViewBag.RunningInDevMode ?? false;   //default to false

    const string DOMAIN_PRODUCTION_SETTING = "www";

}

    
    <div id="page_content">
        <h1>Ship To Locations</h1>


        <form id="address_form_template" class="cart_page_forms" action="*">
        
        @*<input id="hidden_ship_to_address_guid" type="hidden" value="??" />*@
        
        <table>
            <tbody>

            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="4"><label for="ship_to_name">Name<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="ship_to_name" class="inputTextBox" type="text" /></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="4">
                    <ul class="country_lists">
                        <li>
                            <label for="ship_to_country_usa"><span></span>USA</label>
                            <input id="ship_to_country_usa" type="radio" name="ship_to_country" value="usa" checked="checked">
                        </li>
                        <li>
                            <label for="ship_to_country_canada"><span></span>Canada</label>
                            <input id="ship_to_country_canada" type="radio" name="ship_to_country" value="ca">
                        </li>
                    </ul>
                </td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="4"><label for="ship_to_street_address_1">Address 1<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="ship_to_street_address_1" class="inputTextBox" type="text" maxlength="35" /></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="4"><label for="ship_to_street_address_2">Address 2</label><input id="ship_to_street_address_2" class="inputTextBox" type="text" maxlength="35" /></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="2"><label for="ship_to_city">City<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="ship_to_city" type="text" class="inputTextBox" maxlength="20" /></td>
                
                <td class="td_2">
                    <label class="state_province_selection_label" for="ship_to_state_code">State<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label>
                    <div class="selection_containers">
                    <select id="ship_to_state_code">
                    	
                    <option value="mi" >MI</option>
                    <option value="oh" >OH</option>

                    </select>
                    </div>
                </td>


                <td class="td_3" colspan="2"><label for="ship_to_zip_code">Zip Code<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="ship_to_zip_code" class="inputTextBox" type="text" maxlength="5" /></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1"><label for="ship_to_phone_number">Phone<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="ship_to_phone_number" class="inputTextBox" type="text" /></td>
                <td class="td_2"></td>
                <td class="td_3"></td>
                <td class="td_4"></td>
                <td class="td_5"></td>
            </tr>


            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="5"><label for="ship_to_special_instructions">Instructions</label><textarea id="ship_to_special_instructions" cols="50" rows="3"></textarea></td>
            </tr>
            <tr>
                <td class="td_0" colspan="6"><div class="ship_to_message"></div></td>
            </tr>
            <tr>
               
                <td class="td_0" colspan="2" style="text-align: left;">
                    <div style="text-align: right; padding-right:7px">
                        @{
                            if ((DOMAIN_PRODUCTION_SETTING == System.Configuration.ConfigurationManager.AppSettings["SubDomain"].ToLower())) { 
                                <span id="siteseal"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=MGJw1oJobd103dEAiCfxc7x7Sb7mT9uJlw23GlAEkEXeJRkj6K"></script></span>
                            } else {
                                <span id="siteseal"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=2jCCemB6pjk02rsJDQamSucJIYhkMcPhNghTiIyM49eiJJOBD9"></script></span>
                            };
                        }
                    </div>
                </td>
                <td class="td_2" colspan="4" style="text-align: right;">
                    <a id="ship_to_button_delete" class="action_buttons" >DELETE</a>
                    <a id="ship_to_button_cancel" class="action_buttons" >CANCEL</a>
                    <a id="ship_to_button_save" class="action_buttons" >SAVE</a>
                </td>
            </tr>
            </tbody>
        </table>
        
    </form>

    <div id="address_container"></div>
       
     <div>
        <table width="100%">
            <tr>
                <td style="width:50%">
                    <table id="ship_to_table" border="0">
                    <tbody>
                        <tr>
                            <th style="width:40%;vertical-align:top">Default:</th>
                            <th style="width:50%;">Address:</th>
                            <th style="width:10%;">Action:</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" id="ship_to_company_0" name="ship_to_radio_buttons_name" class="ship_to_radio_buttons" value="Company # 1">&nbsp;Company1

                            </td>
                            <td>
                                <ul style="list-style:none;">
                                    <li>Name 0</li>
                                    <li>Address 0</li>
                                    <li>City Anywhere, CO 80000</li>
                                </ul>
                            </td>
                            <td>
                                <img src="/Images/layout/pg_pointer.png" alt="">
                                <a class="ship_to_edit_links">EDIT</a>

                            </td>

                        </tr>
                           
                           

                    </tbody>

                </table>
                </td>
                <td style ="text-align:left;vertical-align:top;width:50%">
                     <a id="add_new_address_button" class="action_buttons" >ADD NEW ADDRESS</a>
                </td>
            </tr>
        </table>
        
       
                    
       
    </div>
    



@section scripts {
    @if (ViewBag.RunningInDevMode){
        @*Use files during Development*@
        <script src="~/Scripts/numeral.min.js"></script>
        <script src="~/Scripts/eps_expanse.js"></script>
        <script src="~/Scripts/PageScripts/ManageAddresses.js"></script>
    }
    else
    {
        @*Use Bundle for PRODuction*@
        @Scripts.Render("~/bundles/PageScripts/ManageAddresses");
    };



    <script type="text/javascript">
       // alert("here");
        viewModel.state.pageMode = "@ViewBag.PageMode";
       
        $(document).ready(function () {
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "My Account", Href: "/myaccount", Title: "My Account Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "Manage Addresses", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);

           
            viewModel.init();
            

        });


    </script>
}

    @section styles {
        <link href="~/Content/styles/ManageAddresses.css" rel="stylesheet" />
        <style type="text/css">
            #page_content             {
            }
        </style>

        

    }



