﻿@{
    ViewBag.Title = ViewBag.Title ?? "My Account";
    ViewBag.RunningInDevMode = ViewBag.RunningInDevMode ?? false;   //default to false
}

<h1>My Account</h1>
 <div id="myAccount_section">
   <h2 class="header_bars">Order and Account Activity</h2>
   <div id="myAccount_subsection">
      <h3>Order Summary</h3> 
      @Html.ActionLink("Open Orders", "Orders", "MyAccount", new {id="open"}, null)
      <br>
      @Html.ActionLink("Shipped Orders", "Orders", "MyAccount", new {id="shipped"}, null)
      <br>
      @Html.ActionLink("Cancelled Orders", "Orders", "MyAccount", new{id="cancelled"}, null)
   </div> <!--#my_Account_subsection-->
   <div id="myAccount_subsection">
      <h3>Claims</h3> 
      @Html.ActionLink("Track claims", "Claims", "MyAccount", null, null)
      <br>
      @Html.ActionLink("Submit new claim", "Claims", "MyAccount", null, null)
   </div> <!--#my_Account_subsection-->
   <div id="myAccount_subsection">
      <h3>Transaction Summary</h3>  
      @Html.ActionLink("Statement of Account", "TransactionSummary", "MyAccount", new {id="Statement" }, null)
      <br>
      @Html.ActionLink("Account Transaction History", "TransactionSummary", "MyAccount", new {id="History" }, null)
  </div> <!--#myAccount_subsection-->           
 </div> <!--#my_Account_section-->
 
 <div id="myAccount_section">
   <h2 class="header_bars">Company Preferences</h2>
   <!-- Hide Payment Options<div id="myAccount_subsection">
      <h3>Payment Options</h3> 
      @Html.ActionLink("Manage Payment Methods", "PaymentOptions", "MyAccount", new {id="paymentmethods"}, null)
      <br>
      @Html.ActionLink("Manage Credit Cards", "PaymentOptions", "MyAccount", new {id="creditcards"}, null)
      <br>
      @Html.ActionLink("Manage Line of Credit", "PaymentOptions", "MyAccount", new {id="lineofcredit"}, null)
   </div> #my_Account_subsection-->
   <div id="myAccount_subsection">
      <h3>Ship To Locations</h3> 
      @Html.ActionLink("Manage Ship To Locations", "ManageAddresses", "MyAccount", new {id="manageaddresses"}, null)
   </div> <!--#my_Account_subsection-->
   <div id="myAccount_subsection">
      <h3>Order Preferences</h3>  
      @Html.ActionLink("Substitutions", "OrderPreferences", "MyAccount", new {id="substitutions"}, null)
  </div> <!--#myAccount_subsection-->           
 </div> <!--#my_Account_section-->
 
 <div id="myAccount_section">
   <h2 class="header_bars">User Preferences</h2>
   @*<div id="myAccount_subsection">
      <h3>Account Settings</h3> 
      @Html.ActionLink("Update Account Settings", "AccountSettings", "MyAccount", new {id="settings"}, null)
   </div>*@
     <!--#my_Account_subsection-->
   <div id="myAccount_subsection">
      <h3>Users</h3> 
      @Html.ActionLink("Add users", "Users", "MyAccount", new {id = "add" }, null)
	  <br>
      @Html.ActionLink("Manage users", "Users", "MyAccount", new {id = "manage" }, null)
   </div> <!--#my_Account_subsection-->       
 </div> <!--#my_Account_section-->
 

<!--scripts from original -->
@section scripts {

@*Use Bundle for PRODuction*@
    @*@Scripts.Render("~/bundles/PageScripts/MyAccount")*@ 
    
@*Use files during Development   *@ 
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/numeral.min.js"></script>
    <script src="~/Scripts/eps_expanse.js"></script>
    <script src="~/Scripts/pageScripts/MyAccount.js"></script>

    <script type="text/javascript">


        $(document).ready(function () {

            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            //breadCrumbs.push({ Id: "", Type: "anchor", Text: "My Account", Href: "/MyAccount", Title: "My Account Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "MyAccount", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);

            //Init function

            viewModel.init();


        });



    </script>
}
        

@section styles {
    <link href="~/Content/styles/MyAccount.css" rel="stylesheet" />
    <link href="~/Content/styles/eps_expanse.css" rel="stylesheet" />

    <style type="text/css">

    </style>
}
  
