﻿@{
    ViewBag.Title = ViewBag.Title ?? "Orders";
    ViewBag.PageMode = ViewBag.PageMode ?? "";
    ViewBag.ShowTestInfo = ViewBag.ShowTestInfo ?? false;   //default to false

}
@************************* TEMPLATE: OPEN ORDERS DETAIL DISPLAY  **********  ***********************************@
<div id="open_orders_detail_display_template">
    <h2 class="order_detail_header_bars" id="open_order_detail_header_bar">Vegetative Annuals - URC - Week 04/13</h2>
    <div class="order_description_displays">

        <div class="textDisplays">
            <span class="textLabels">Status: </span><span class="textItems" id="open_order_status_span">Confirmed</span>
        </div>
        <div class="textDisplays">
            <span class="textLabels">Order #:</span><span class="textItems" id="open_order_number_span">67893456</span>
        </div>
        <div class="text_input_displays">
            <label for="open_order_purchase_order_input">Customer PO #:</label><input type="text" id="open_order_purchase_order_input" maxlength="100" value="??">
        </div>

        <div class="text_input_displays">
            <label for="open_order_description_input">Order Description:</label><input type="text" id="open_order_description_input" maxlength="50" value="??" />
        </div>

        @*<span class="seperator_span">&nbsp;|&nbsp;</span> *@
        @*<label for="open_order_purchase_order_span">Customer PO #:</label><input type="text" id="open_order_purchase_order_span" maxlength="20" value="??">*@

        <table id="ship_to_table">
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">Ship To:</span><span class="textItems" id="ship_to_span_0" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">&nbsp;</span><span class="textItems" id="ship_to_span_1" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">&nbsp;</span><span class="textItems" id="ship_to_span_2" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">&nbsp;</span><span class="textItems" id="ship_to_span_3" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">&nbsp;</span><span class="textItems" id="ship_to_span_4" />
                    </div>
                </td>
            </tr>
        </table>
        <table id="payment_method_table">
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">Payment Method:</span><span class="textItems" id="payment_method_span_0" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">&nbsp;</span><span class="textItems" id="payment_method_span_1" />
                    </div>
                </td>
            </tr>
        </table>

    </div>


    <h2 class="order_detail_header_bars">Order Detail</h2>
    <div id="open_order_supplier_orders_container">
        <div id="open_orders_supplier_orders_template" class="supplier_order_displays">
            <div id="supplier_title">
                <span class="supplier_label_span">Supplier: </span>
                <span class="supplier_name_span">Lucas</span>
            </div> <!-- end supplier title div -->
            <br>
            <div class="supplier_order_dropdown_containers">
                <div class="supplier_order_tag_ratio_display">
                    <span class="tagRatioLabelSpans">Tag Ratio:</span>&nbsp;<span class="tagRatioSelectedSpans"></span>
                </div>
                <div class="supplier_order_ship_method_display">
                    <span class="shipMethodLabelSpans">Ship Method:</span>&nbsp;<span class="shipMethodSelectedSpans"></span>
                </div>
            </div>
            <div id="Order_Detail_Line_Area" class="line_item_grids">
                <div id="cart_line_item">
                    <a class="order_delete_links">DELETE</a>
                    <ul id="line_item_rows">
                        <li>Species: [species]</li>
                        <li>Product: [product]</li>
                        <li>Form: [form]</li>
                        <li>Trays: [number_trays]</li>
                        <li>Unit Price: [unit_price]</li>
                        <li>Qty: <input type="text" class="line_item_grid_order_quantity_inputs"> <span class="icon_image_spans"><img src="/images/layout/timer.png" alt="" /></span></li>
                        <li>Avail: [avail]</li>
                        <li id="extension_price">Ext: $$$ </li>
                        <li>Status: [status]</li>
                    </ul>
                </div>  <!--END #cart_line_item-->
            </div> <!--END #line_item_grids-->
            <div id="supplier_totals_count">
                <ul id="supplier_totals_count_list">
                    <li>Total Trays: <span class="supplier_order_tray_totals">??</span></li>
                    <li>Total Qty: <span class="supplier_order_quantity_totals">??</span></li> 
                </ul>
            </div> <!--END #supplier_totals_count-->
            <div id="supplier_subtotals">
                <ul id="supplier_product_subtotal" class="supplier_subtotal_boxes" >
                    <li class="left"><span class="supplier_name_span2">??</span> Subtotal</li>  <!--supplier_name_span"-->
                    <li class="right"><span class="supplier_order_product_cost_totals">??</span></li>
                    <!--   <li><a @*href='JAVASCRIPT:alert("TBD");'*@ class="supplier_order_update_links">update</a></li>-->
                </ul><!-- END#supplier_subtotals-->
                <div id="supplier_fees">
                    <ul id="supplier_fee" class="supplier_subtotal_boxes">
                        <li class="left">
                            <span class="supplier_order_fee_info_icons">&nbsp;<img style="display:inline-block; vertical-align:text-bottom; width:20px; height:20px; margin: 0; padding:0;" src="~/Images/icons/icon_information_circle_green_24.png" alt="" />&nbsp;</span>
                        </li>
                        <li class="left">
                            <span class="supplier_order_fee_status_description">dynamic status label</span>
                        </li>
                        <li class="left">
                            <span class="supplier_order_fee_type_description">dynamic type label</span>
                        </li>
                        <li class="right">
                            <span class="supplier_order_fee_amount">dynamic amount label</span>
                        </li>
                    </ul><!-- END#supplier_fee-->
                </div> <!-- END#supplier_fees-->
                <div id="supplier_totals">
                    <ul id="supplier_total" class="supplier_subtotal_boxes">
                        <li class="left"><span class="supplier_name_span2">??</span> Total</li>
                        <li class="right"><span class="supplier_order_total_costs">??</span></li>
                    </ul><!-- END#supplier_subtotal_boxes-->
                </div> <!-- END#supplier_totals-->
            </div><!-- END#supplier_subtotals-->
        </div>  <!--END #supplier_orders_template-->     
    </div> <!--END #supplier_orders_Container-->    

    <div id="grower_fees">
        <ul id="grower_fee" class="grower_subtotal_boxes">
            <li class="right">
                <span class="grower_order_fee_info_icons">&nbsp;<img style="display:inline-block; vertical-align:text-bottom; width:20px; height:20px; margin: 0; padding:0;" src="/Images/icons/icon_information_circle_green_24.png" alt="" />&nbsp;</span>
            </li>
            <li class="right">
                <span class="grower_order_fee_status_description">dynamic status label</span>
            </li>
            <li class="right">
                <span class="grower_order_fee_type_description">dynamic type label</span>
            </li>
            <li class="right">
                <span class="grower_order_fee_amount">dynamic amount label</span>
            </li>
        </ul><!-- END#Grower_fee-->
    </div> <!-- END#Grower_fees-->

    <div id="order_totals_box" > <!--order_totals_table-->
        <h2 id="zz1">ORDER TOTALS</h2>
        <ul id="order_totals_list">
            <li>Total Trays: <span id="grower_order_total_trays_span" class="grower_order_total_trays_span">hi</span></li>  
            <li>Total Quantity: <span id="grower_order_total_cuttings_span" class="grower_order_total_cuttings_span">??</span></li>  
            <li class="bolded">Total Price: <span id="grower_order_total_cuttings_cost_span" class="grower_order_total_cuttings_cost_span">??</span></li>  
        </ul>
    </div><!-- END #order_totals_box-->

    <div id="button_display">
        <span id="get_confirmation_span" style="display:none;color:red">Your confirmation for this order is not yet available.<BR />PDF confirmations are not stored until we have received final supplier confirmation on the order. <BR />Once you receive an email with confirmation of the order we will have this stored in your account and it will be available to download<BR /></span>
        <a id="get_confirmation_button" class="action_buttons" href="" target="_blank" download="Confirmation">Download Confirmation</a>
        <a id="continue_shopping_button" class="action_buttons">Continue Shopping</a>
        <a id="cancel_order_button" class="action_buttons" style="display:none">Cancel All</a>
        <!-- <a href="javascript:demoFromHTML()" class="action_buttons">Download PDF</a> -->
    </div>
    <div class="footnote_display">
        <p>*All listed prices are estimates and are pending supplier confirmation.  Final prices will be included in emailed order confirmations.</p>
    </div>
    <div id="open_orders_history_container"></div>


</div>


@************************* TEMPLATE: SHIPPED ORDERS DETAIL DISPLAY  **********  ***********************************@
<div id="shipped_orders_detail_display_template">
    <h2 class="shipped_detail_header_bars" id="shipped_order_detail_header_bar">Vegetative Annuals - URC - Week 04/13</h2>
    <div class="order_description_displays">

        <div class="textDisplays">
            <span class="textLabels">Status: </span><span class="textItems" id="shipped_order_status_span">??</span>
        </div>
        <div class="textDisplays">
            <span class="textLabels">Order #:</span><span class="textItems" id="shipped_order_number_span">??</span>
        </div>
        <div class="textDisplays">
            <span class="textLabels">Customer PO #:</span><span class="textItems" id="shipped_order_purchase_order_span">??</span>
        </div>
        <div class="textDisplays">
            <span class="textLabels">Order Description:</span><span class="textItems" id="shipped_order_description_span">??</span>
        </div>
   

        @*<span class="seperator_span">&nbsp;|&nbsp;</span> *@
        @*<label for="open_order_purchase_order_span">Customer PO #:</label><input type="text" id="open_order_purchase_order_span" maxlength="20" value="??">*@
        
        <table id="ship_to_table">
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">Ship To:</span><span class="textItems" id="ship_to_span_0" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">&nbsp;</span><span class="textItems" id="ship_to_span_1" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">&nbsp;</span><span class="textItems" id="ship_to_span_2" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">&nbsp;</span><span class="textItems" id="ship_to_span_3" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">&nbsp;</span><span class="textItems" id="ship_to_span_4" />
                    </div>
                </td>
            </tr>
        </table>
        <table id="payment_method_table">
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">Payment Method:</span><span class="textItems" id="payment_method_span_0" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">&nbsp;</span><span class="textItems" id="payment_method_span_1" />
                    </div>
                </td>
            </tr>
        </table>

    </div>


    <h2 class="order_detail_header_bars">Order Detail</h2>
    <div id="shipped_order_supplier_orders_container">
        <div id="shipped_orders_supplier_orders_template" class="supplier_order_displays">
            <div id="supplier_title">
                <span class="supplier_label_span">Supplier: </span>
                <span class="supplier_name_span">Lucas</span>
            </div> <!-- end supplier title div -->
            <br>
            <div class="supplier_order_dropdown_containers">
                <div class="supplier_order_tag_ratio_display">
                    <span class="tagRatioLabelSpans">Tag Ratio:</span>&nbsp;<span class="tagRatioSelectedSpans"></span>
                </div>
                <div class="supplier_order_ship_method_display">
                    <span class="shipMethodLabelSpans">Ship Method:</span>&nbsp;<span class="shipMethodSelectedSpans"></span>
                </div>
            </div>
            <div id="Order_Detail_Line_Area" class="line_item_grids">
                <div id="cart_line_item">
                    <a class="order_delete_links">DELETE</a>
                    <ul id="line_item_rows">
                        <li>Species: [species]</li>
                        <li>Product: [product]</li>
                        <li>Form: [form]</li>
                        <li>Trays: [number_trays]</li>
                        <li>Unit Price: [unit_price]</li>
                        <li>Qty: <input type="text" class="line_item_grid_order_quantity_inputs"> <span class="icon_image_spans"><img src="/images/layout/timer.png" alt="" /></span></li>
                        <li>Avail: [avail]</li>
                        <li id="extension_price">Ext: $$$ </li>
                        <li>Status: [status]</li>
                    </ul>
                </div>  <!--END #cart_line_item-->
            </div> <!--END #line_item_grids-->
            <div id="supplier_totals_count">
                <ul id="supplier_totals_count_list">
                    <li>Total Trays: <span class="supplier_order_tray_totals">??</span></li>
                    <li>Total Qty: <span class="supplier_order_quantity_totals">??</span></li>
                </ul>
            </div> <!--END #supplier_totals_count-->
            <div id="supplier_subtotals">
                <ul id="supplier_product_subtotal" class="supplier_subtotal_boxes">
                    <li class="left"><span class="supplier_name_span2">??</span> Subtotal</li>  <!--supplier_name_span"-->
                    <li class="right"><span class="supplier_order_product_cost_totals">??</span></li>
                    <!--   <li><a @*href='JAVASCRIPT:alert("TBD");'*@ class="supplier_order_update_links">update</a></li>-->
                </ul><!-- END#supplier_subtotals-->
                <div id="supplier_fees">
                    <ul id="supplier_fee" class="supplier_subtotal_boxes">
                        <li class="left">
                            <span class="supplier_order_fee_info_icons">&nbsp;<img style="display:inline-block; vertical-align:text-bottom; width:20px; height:20px; margin: 0; padding:0;" src="~/Images/icons/icon_information_circle_green_24.png" alt="" />&nbsp;</span>
                        </li>
                        <li class="left">
                            <span class="supplier_order_fee_status_description">dynamic status label</span>
                        </li>
                        <li class="left">
                            <span class="supplier_order_fee_type_description">dynamic type label</span>
                        </li>
                        <li class="right">
                            <span class="supplier_order_fee_amount">dynamic amount label</span>
                        </li>
                    </ul><!-- END#supplier_fee-->
                </div> <!-- END#supplier_fees-->
                <div id="supplier_totals">
                    <ul id="supplier_total" class="supplier_subtotal_boxes">
                        <li class="left"><span class="supplier_name_span2">??</span> Total</li>
                        <li class="right"><span class="supplier_order_total_costs">??</span></li>
                    </ul><!-- END#supplier_subtotal_boxes-->
                </div> <!-- END#supplier_totals-->
            </div><!-- END#supplier_subtotals-->
        </div>  <!--END #supplier_orders_template-->
    </div> <!--END #supplier_orders_Container-->

    <div id="grower_fees">
        <ul id="grower_fee" class="grower_subtotal_boxes">
            <li class="right">
                <span class="grower_order_fee_info_icons">&nbsp;<img style="display:inline-block; vertical-align:text-bottom; width:20px; height:20px; margin: 0; padding:0;" src="/Images/icons/icon_information_circle_green_24.png" alt="" />&nbsp;</span>
            </li>
            <li class="right">
                <span class="grower_order_fee_status_description">dynamic status label</span>
            </li>
            <li class="right">
                <span class="grower_order_fee_type_description">dynamic type label</span>
            </li>
            <li class="right">
                <span class="grower_order_fee_amount">dynamic amount label</span>
            </li>
        </ul><!-- END#Grower_fee-->
    </div> <!-- END#Grower_fees-->

    <div id="order_totals_box">
        <!--order_totals_table-->
        <h2 id="zz1">ORDER TOTALS</h2>
        <ul id="order_totals_list">
            <li>Total Trays: <span id="grower_order_total_trays_span" class="grower_order_total_trays_span">hi</span></li>
            <li>Total Quantity: <span id="grower_order_total_cuttings_span" class="grower_order_total_cuttings_span">??</span></li>
            <li class="bolded">Total Price: <span id="grower_order_total_cuttings_cost_span" class="grower_order_total_cuttings_cost_span">??</span></li>
        </ul>
    </div><!-- END #order_totals_box-->

   
    <div class="footnote_display">
        <p>*All listed prices are estimates and are pending supplier confirmation.  Final prices will be included in emailed order confirmations.</p>
    </div>
    <div id="shipped_orders_history_container"></div>


</div>

@************************* TEMPLATE: CANCELLED ORDERS DETAIL DISPLAY  ****************************************@
<div id="cancelled_orders_detail_display_template">
    <h2 class="cancelled_detail_header_bars" id="cancelled_order_detail_header_bar">Vegetative Annuals - URC - Week 04/13</h2>
    <div class="order_description_displays">

        <div class="textDisplays">
            <span class="textLabels">Status: </span><span class="textItems" id="cancelled_order_status_span">??</span>
        </div>
        <div class="textDisplays">
            <span class="textLabels">Order #:</span><span class="textItems" id="cancelled_order_number_span">??</span>
        </div>
        <div class="textDisplays">
            <span class="textLabels">Customer PO #:</span><span class="textItems" id="cancelled_order_purchase_order_span">??</span>
        </div>
        <div class="textDisplays">
            <span class="textLabels">Order Description:</span><span class="textItems" id="cancelled_order_description_span">??</span>
        </div>

        <table id="ship_to_table">
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">Ship To:</span><span class="textItems" id="ship_to_span_0" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">&nbsp;</span><span class="textItems" id="ship_to_span_1" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">&nbsp;</span><span class="textItems" id="ship_to_span_2" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">&nbsp;</span><span class="textItems" id="ship_to_span_3" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">&nbsp;</span><span class="textItems" id="ship_to_span_4" />
                    </div>
                </td>
            </tr>
        </table>
        <table id="payment_method_table">
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">Payment Method:</span><span class="textItems" id="payment_method_span_0" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="textDisplays">
                        <span class="textLabels">&nbsp;</span><span class="textItems" id="payment_method_span_1" />
                    </div>
                </td>
            </tr>
        </table>

    </div>


    <h2 class="order_detail_header_bars">Order Detail</h2>
    <div id="cancelled_order_supplier_orders_container">
        <div id="cancelled_orders_supplier_orders_template" class="supplier_order_displays">
            <div id="supplier_title">
                <span class="supplier_label_span">Supplier: </span>
                <span class="supplier_name_span">Lucas</span>
            </div> <!-- end supplier title div -->
            <br>
            <div class="supplier_order_dropdown_containers">
                <div class="supplier_order_tag_ratio_display">
                    <span class="tagRatioLabelSpans">Tag Ratio:</span>&nbsp;<span class="tagRatioSelectedSpans"></span>
                </div>
                <div class="supplier_order_ship_method_display">
                    <span class="shipMethodLabelSpans">Ship Method:</span>&nbsp;<span class="shipMethodSelectedSpans"></span>
                </div>
            </div>
            <div id="Order_Detail_Line_Area" class="line_item_grids">
                <div id="cart_line_item">
                    <a class="order_delete_links">DELETE</a>
                    <ul id="line_item_rows">
                        <li>Species: [species]</li>
                        <li>Product: [product]</li>
                        <li>Form: [form]</li>
                        <li>Trays: [number_trays]</li>
                        <li>Unit Price: [unit_price]</li>
                        <li>Qty: <input type="text" class="line_item_grid_order_quantity_inputs"> <span class="icon_image_spans"><img src="/images/layout/timer.png" alt="" /></span></li>
                        <li>Avail: [avail]</li>
                        <li id="extension_price">Ext: $$$ </li>
                        <li>Status: [status]</li>
                    </ul>
                </div>  <!--END #cart_line_item-->
            </div> <!--END #line_item_grids-->
            <div id="supplier_totals_count">
                <ul id="supplier_totals_count_list">
                    <li>Total Trays: <span class="supplier_order_tray_totals">??</span></li>
                    <li>Total Qty: <span class="supplier_order_quantity_totals">??</span></li>
                </ul>
            </div> <!--END #supplier_totals_count-->
            <div id="supplier_subtotals">
                <ul id="supplier_product_subtotal" class="supplier_subtotal_boxes">
                    <li class="left"><span class="supplier_name_span2">??</span> Subtotal</li>  <!--supplier_name_span"-->
                    <li class="right"><span class="supplier_order_product_cost_totals">??</span></li>
                    <!--   <li><a @*href='JAVASCRIPT:alert("TBD");'*@ class="supplier_order_update_links">update</a></li>-->
                </ul><!-- END#supplier_subtotals-->
                <div id="supplier_fees">
                    <ul id="supplier_fee" class="supplier_subtotal_boxes">
                        <li class="left">
                            <span class="supplier_order_fee_info_icons">&nbsp;<img style="display:inline-block; vertical-align:text-bottom; width:20px; height:20px; margin: 0; padding:0;" src="~/Images/icons/icon_information_circle_green_24.png" alt="" />&nbsp;</span>
                        </li>
                        <li class="left">
                            <span class="supplier_order_fee_status_description">dynamic status label</span>
                        </li>
                        <li class="left">
                            <span class="supplier_order_fee_type_description">dynamic type label</span>
                        </li>
                        <li class="right">
                            <span class="supplier_order_fee_amount">dynamic amount label</span>
                        </li>
                    </ul><!-- END#supplier_fee-->
                </div> <!-- END#supplier_fees-->
                <div id="supplier_totals">
                    <ul id="supplier_total" class="supplier_subtotal_boxes">
                        <li class="left"><span class="supplier_name_span2">??</span> Total</li>
                        <li class="right"><span class="supplier_order_total_costs">??</span></li>
                    </ul><!-- END#supplier_subtotal_boxes-->
                </div> <!-- END#supplier_totals-->
            </div><!-- END#supplier_subtotals-->
        </div>  <!--END #supplier_orders_template-->
    </div> <!--END #supplier_orders_Container-->

    <div id="grower_fees">
        <ul id="grower_fee" class="grower_subtotal_boxes">
            <li class="right">
                <span class="grower_order_fee_info_icons">&nbsp;<img style="display:inline-block; vertical-align:text-bottom; width:20px; height:20px; margin: 0; padding:0;" src="/Images/icons/icon_information_circle_green_24.png" alt="" />&nbsp;</span>
            </li>
            <li class="right">
                <span class="grower_order_fee_status_description">dynamic status label</span>
            </li>
            <li class="right">
                <span class="grower_order_fee_type_description">dynamic type label</span>
            </li>
            <li class="right">
                <span class="grower_order_fee_amount">dynamic amount label</span>
            </li>
        </ul><!-- END#Grower_fee-->
    </div> <!-- END#Grower_fees-->

    <div id="order_totals_box">
        <!--order_totals_table-->
        <h2 id="zz1">ORDER TOTALS</h2>
        <ul id="order_totals_list">
            <li>Total Trays: <span id="grower_order_total_trays_span" class="grower_order_total_trays_span">hi</span></li>
            <li>Total Quantity: <span id="grower_order_total_cuttings_span" class="grower_order_total_cuttings_span">??</span></li>
            <li class="bolded">Total Price: <span id="grower_order_total_cuttings_cost_span" class="grower_order_total_cuttings_cost_span">??</span></li>
        </ul>
    </div><!-- END #order_totals_box-->

   
    <div class="footnote_display">
        <p>*All listed prices are estimates and are pending supplier confirmation.  Final prices will be included in emailed order confirmations.</p>
    </div>
    <div id="cancelled_orders_history_container"></div>


</div>

@******************************** TEMPLATE: SUMMARY GRID  *****************************************************@
<table id="orders_summary_grid_template" class="summary_grids" border='0' cellpadding='0' cellspacing='0'>
    <thead>
        <tr>
            <th></th>
            <th>Order #</th>
            <th>Program</th>
            <th>Week</th>
            <th>Customer PO#</th>
            <th>Description</th>
            <th>Total Units</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
@************************* TEMPLATE: ORDER HISTORY TABLES  ***************************************************@
<table id="order_history_table_template" class="order_history_tables">
    <thead>
        <tr>
            <th>Date</th>
            <th>Person</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr id="order_history_row_template" class="order_history_table_rows">
            <td class="td_0"><span class="order_history_date_spans">??</span></td>
            <td class="td_1"><span class="order_history_person_spans">??</span></td>
            <td class="td_2"><span class="order_history_description_spans">??</span></td>
        </tr>
    </tbody>
</table>

@************************* PAGE CONTENT *****************************************@
<div id="page_content">
    <h1>Orders</h1>
    <div id="open_orders_summary_container"></div>
    <div id="shipped_orders_summary_container"></div>
    <div id="cancelled_orders_summary_container"></div>
</div>


@if (ViewBag.ShowTestInfo)
{

   

    @************************* PRINT PAGE ICON  ******************************************@

    <style type="text/css" media="print">
        .printbutton {
            visibility: hidden;
            display: none;
        }
    </style>
    <script>
        document.write("<input type='button' " +
        "onClick='window.print()' " +
        "class='printbutton' " +
        "value='Print This Page'/>");
    </script>

}

@section scripts {
    @* Use Bundle for PRODuction*@
    @* @Scripts.Render("~/bundles/PageScripts/Orders") *@

    @*Use files during Development*@
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/numeral.min.js"></script>
    <script src="~/Scripts/eps_expanse.js"></script>
    <script src="~/ViewModels/Orders5.js"></script>
    <script src="~/ViewModels/OrdersOpen4.js"></script>
    <script src="~/ViewModels/OrdersShipped4.js"></script>
    <script src="~/ViewModels/OrdersCancelled4.js"></script>
    @*<script src="~/Scripts/jspdf/jspdf.debug.js"></script>*@
    <script type="text/javascript">

        vModel.config.PageMode = "@ViewBag.PageMode";

        $(document).ready(function () {

            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "My Account", Href: "/MyAccount", Title: "My Account Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: vModel.config.PageMode + " orders", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);

            vModel.init();

        });



    </script>
}
@section styles {
    <link href="~/Content/styles/eps_expanse.css" rel="stylesheet" />
    <link href="~/Content/styles/Orders3.css" rel="stylesheet" />
    <style type="text/css">
        #page_content {
            margin: 0 0 20px 0;
            padding: 0;
        }
    </style>
    
}


