﻿@{
    ViewBag.PageMode = ViewBag.PageMode ?? "all";
    ViewBag.Title = ViewBag.Title ?? "Payment Options";
    ViewBag.RunningInDevMode = ViewBag.RunningInDevMode ?? false;   //default to false

    const string DOMAIN_PRODUCTION_SETTING = "www";

}

    
    <div id="page_content">
        <h1>Payment Options</h1>


        <form id="credit_card_add_form_template" class="payment_options_page_forms" action="*">

        <table>
            <tbody>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="2"><label for="credit_card_first_name">First Name<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_first_name" class="inputTextBox" type="text" maxlength="16" /></td>
                <td class="td_3" colspan="2"><label for="credit_card_last_name">Last Name<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_last_name" class="inputTextBox" type="text" maxlength="16" /></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="2"><label for="credit_card_number">Card Number<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_number" class="inputTextBox" type="text" maxlength="16" /></td>
                <td class="td_3" colspan="2"><label for="credit_card_expiration">Expires[MMYY]<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_expiration" class="inputTextBox" type="text" maxlength="4"/></td>
                <td class="td_5"><label for="credit_card_code">CVV Code<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_code" class="inputTextBox" type="text" maxlength="4" /></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="5"><label for="credit_card_description">Description<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_description" class="inputTextBox" type="text" maxlength="100" /></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="4">
                    <ul class="country_lists">
                        <li>
                            <label for="credit_card_country_usa"><span></span>USA</label>
                            <input id="credit_card_credit_card_country_usa" type="radio" name="credit_card_country" value="usa" checked="checked">
                        </li>
                        <li>
                            <label for="credit_card_country_canada"><span></span>Canada</label>
                            <input id="credit_card_country_canada" type="radio" name="credit_card_country" value="ca">
                        </li>
                    </ul>
                </td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="4"><label for="credit_card_street_address_1">Address 1<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_street_address_1" class="inputTextBox" type="text" maxlength="35" /></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="4"><label for="credit_card_street_address_2">Address 2</label><input id="credit_card_street_address_2" class="inputTextBox" type="text" maxlength="35" /></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1" colspan="2"><label for="credit_card_city">City<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_city" type="text" class="inputTextBox" maxlength="20" /></td>
                
                <td class="td_2">
                    <label class="state_province_selection_label" for="credit_card_state_code">State<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label>
                    <div class="selection_containers">
                        <select id="credit_card_state_code">
                    	
                            <option value="mi" >MI</option>
                            <option value="oh" >OH</option>

                    	</select>
                    </div>

                </td>
                <td class="td_3" colspan="2"><label for="credit_card_zip_code">Postal Code<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_zip_code" class="inputTextBox" type="text" maxlength="5" /></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0"></td>
                <td class="td_1"><label for="credit_card_phone_number">Phone<img src="~/Images/icons/icon_asterisk_orange_10.png" /></label><input id="credit_card_phone_number" class="inputTextBox" type="text" maxlength="14" /></td>
                <td class="td_2"></td>
                <td class="td_3"></td>
                <td class="td_4"></td>
                <td class="td_5"></td>
            </tr>
            <tr>
                <td class="td_0" colspan="6"><div class="credit_card_message"></div></td>
            </tr>
            <tr>
                <td class="td_0"  colspan="2" style="text-align:left;"> 
                   <script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=TTQrvHBoaCX0LGRBEIyB8lHG321SK3ySMBYcA6CcHtiWlqQnfGeq"></script>
                   <div style="text-align: right; padding-right:7px">
                        @{
                            if ((DOMAIN_PRODUCTION_SETTING == System.Configuration.ConfigurationManager.AppSettings["SubDomain"].ToLower())) { 
                                <span id="siteseal"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=MGJw1oJobd103dEAiCfxc7x7Sb7mT9uJlw23GlAEkEXeJRkj6K"></script></span>
                            } else {
                                <span id="siteseal"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=2jCCemB6pjk02rsJDQamSucJIYhkMcPhNghTiIyM49eiJJOBD9"></script></span>
                            };
                        }
                    </div>
                </td>
                <td class="td_2" colspan="4" style="text-align:right;">
                    
                    
                    <a id="button_credit_card_create_cancel" class="action_buttons" >CANCEL</a>
                    <a id="button_credit_card_create_add" class="action_buttons" >+Add</a>
                

                </td>
            </tr>
            </tbody>
        </table>

        

    </form>











        <div id="payment_methods_container"></div>
        <div id="credit_cards_container"></div>
        <div id="line_of_credit_container"></div>


        <div id="payment_methods_display">
            <div id="default_methods_radio_container" class="radio_group_containers">
                <p>Default payment method for my orders:</p>
                <span class="radio_group_display" >
                    <input type="radio" name="payment_methods" value="Owner" id="payment_method_invoice"/><label for="payment_method_invoice">Invoice</label>
                    <br /> 
                    <input type="radio" name="payment_methods" value="Grower" id="payment_method_credit_card" /><label for="payment_method_credit_card">Credit Card</label>
                </span>
                <br />
                <span class="validation_messages">&nbsp;</span>
            </div>  
        </div>

        <div id="credit_cards_display">
            <p>Read complete credit card payment terms <a href="" target="_blank">here</a>.</p>
            <p>Credit cards on file:</p>
            <div id="credit_card_table_container" style="display: block;">
                
                <a id="add_new_card_button" class="action_buttons">ADD CREDIT CARD</a>
                   
                <div id="no_cards_on_file_display" "="" style="display: none;">
                    <span>No cards on file!</span>
                </div>
                <table id="credit_card_table" border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th >Default:</th>
                            <th>Card on file:</th>
                            <th>Description:</th>
                            <th>&nbsp;</th>  

                        </tr>
                    </thead>
                    <tbody>
                        <tr id="credit_card_row_template">
                            <td><input type="radio" id="credit_card_selection_" name="credit_card_radio_buttons_name" class="credit_card_radio_buttons"></td>
                            <td>Card: XXXX<span class="credit_card_last_four_digits">????</span></td>
                            <td><input class="credit_card_description_inputs" type="text" maxlength="35"></td>
                            <td> 
                                <img src="/Images/layout/pg_pointer.png" alt="">&nbsp;<a class="credit_card_delete_links">DELETE</a>
                            </td>
                        </tr>
@*                        <tr><td><input type="radio" id="credit_card_selection_1" name="credit_card_radio_buttons_name" class="credit_card_radio_buttons" value="3a87e45b-1f9c-4b31-a51e-52873160fa93"></td><td><span>Card: XXXX4484</span></td><td><input type="text" maxlength="35" class="credit_card_description_inputs"></td><td><img src="/Images/layout/pg_pointer.png" alt="">&nbsp;<a class="credit_card_delete_links">DELETE</a></td></tr><tr><td><input type="radio" id="credit_card_selection_2" name="credit_card_radio_buttons_name" class="credit_card_radio_buttons" value="c07ccc0b-b0ad-4301-9449-cd845abbe922"></td><td><span>Card: XXXX6666</span></td><td><input type="text" maxlength="35" class="credit_card_description_inputs"></td><td><img src="/Images/layout/pg_pointer.png" alt="">&nbsp;<a class="credit_card_delete_links">DELETE</a></td></tr>*@

                    </tbody>
                </table>
                <span class="validation_messages">&nbsp;</span>
            </div>
        </div>
        
        <div id="line_of_credit_display">
            <p>Read complete payment terms <a href="" target="_blank">here</a>.</p>
            <p>Current Line of Credit for <span class="account_name_displays">Bob's Greenhouse</span>: <span id="line_of_credit_amount_span">$52,000</span>&nbsp;&nbsp;&nbsp;&nbsp;Requested Line of Credit $<input id="line_of_credit_request_input" type="text" /></p>
            <p>Line of credit applications will be processed whithin 2 business days.  Inventory for any orders placed during that processing time will be held until approved.</p>
            <br />
            <div id="button_display">
                <a id="request_line_of_credit_button" class="action_buttons" >Request Line of Credit</a>
            </div>
        </div>

    </div>


@if (ViewBag.RunningInDevMode)
{

    <div id="test_area">
        <div id="test_area_left_div">
            <p>Dev Stuff:</p>
            <p style="margin-top:10px;" id="test_line_of_credit_info">Line of Credit Info</p>
            <p style="margin-top:10px;" id="test_request_line_of_credit">Request Line of Credit</p>
            <p style="margin-top:10px;" id="test_credit_card_info">Credit Card Info</p>
        </div>
        <div id="test_area_right_div">
            <div id="test_area_results_display"></div>
        </div>

    </div>

}



@section scripts {
    @if (ViewBag.RunningInDevMode){
        @*Use files during Development*@
        <script src="~/Scripts/numeral.min.js"></script>
        <script src="~/Scripts/eps_expanse.js"></script>
        <script src="~/Scripts/PageScripts/PaymentOptions.js"></script>
    }
    else
    {
        @*Use Bundle for PRODuction*@
        @Scripts.Render("~/bundles/PageScripts/PaymentOptions");
    };



    <script type="text/javascript">

        viewModel.state.pageMode = "@ViewBag.PageMode";

        $(document).ready(function () {
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "My Account", Href: "/myaccount", Title: "My Account Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "Payment Methods", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);

            
            viewModel.init();

        });


    </script>
}

    @section styles {
        <link href="~/Content/styles/eps_expanse.css" rel="stylesheet" />
        <link href="~/Content/styles/PaymentOptions.css" rel="stylesheet" />
        <style type="text/css">
            #page_content             {
            }
        </style>

        <style type="text/css">
        /********************** Test Area CSS ********************/
            #test_area {
                display:block; 
                height:350px; 
                max-height: 350px;
                border:dotted 4px #ccc;
            }
        #test_area_left_div
        {
            float: left;
            width: 225px;
            font-size: 12px;
            border-right: solid 10px #fff;
        }
        #test_area_left_div p {
            margin:0;
            padding:0;
            font-size:12px;
        }

        #test_area_right_div {
            float:left;
            height:100%;
            width:1000px;
            font-size:12px;
            border-left: dotted 1px #008;
        }
        #test_area_results_display
        {
            height:100%;
            overflow-y:scroll;
        }
    </style>

    }



