﻿@{
    ViewBag.Title = ViewBag.Title ?? "Reset My Account Password";
    ViewBag.PasswordResetToken = ViewBag.PasswordResetToken ?? string.Empty;
}


@section styles {
    <style type="text/css">

        #page_content {
            height: 200px;
            margin:75px 0 50px 0;
            padding:50px;

        }
       .message_display {
            display:none;
            font-family: Helvetica;
            font-size: 14px;
            color: #c00;
            letter-spacing: .08em;
        }

        #result_display {
            display:none;
        }
        .result_message {
            font-family: Helvetica;
            font-size: 14px;
            color: #287d87;
            letter-spacing: .08em;
        }

    </style>
}


<div id="page_content">

@if (ViewBag.PasswordResetToken == string.Empty) {
    <div class="message_display">
        <p>Password Reset Token is missing.  Unable to reset passord.</p>
    </div>
} else {

    <form id="password_reset_form">

        @Html.AntiForgeryToken()

        <fieldset>
            <legend>Reset Password:</legend>
            <label for="new_password_input">New Password:</label>
            <input id="new_password_input" name="password" type="password" tabindex="0" maxlength="12" />         
            <div class="message_display"></div>
            
            <input type="submit" value="Reset" />
        </fieldset>
    </form>
}
    <div id="result_display">
        <span class="result_message"></span>
        @*<input type="button" value="ok" onclick="JAVASCRIPT:" />*@
    </div>


</div>


@section scripts {
    <script type="text/javascript">
   
        $(document).ready(function () {
            $("#new_password_input").focus();
        });

        $('#password_reset_form').submit(function (evt) {
            //alert('submit called.');
            evt.preventDefault();
            var form = $(this);
            var sendData = {
                "Token": '@ViewBag.PasswordResetToken',
                //"Password": form.children("fieldset input[name='password']").val(),
                "Password": this.password.value,
                "__RequestVerificationToken": this.__RequestVerificationToken.value
        };

        //alert(traverseObj(sendData, false));

        //define ajax request
        var ajaxOptions = {
            url: '/api/ResetPasswordToken',
            type: 'put',
            dataType: 'json',
            beforeSend: function () {
                //alert(traverseObj(sendData, false));
                this.url += "?" + $.param(sendData);
                $("#password_reset_form").hide();
            }
        };

        //// Initiate ajax request!
        $.ajax(ajaxOptions)
            .fail(function (requestObject, error, errorThrown) {
                alert("error: " + error + "\nerrorThrown: " + errorThrown);
            })
            .done(function (response) {
                //alert("complete");
                //alert(traverseObj(response, false));
                if (response.Success) {
                    //alert("success");
                    $("#result_display").show();
                    $(".result_message").html("<p>Password has been reset.</p><p>Log in now at <a href='http://orders.green-fuse.com'>orders.Green-Fuse.com</a>.</p>");
                } else {
                    //alert("failure");
                    $("#password_reset_form").show();
                    $(".message_display").show().html(response.Message);
                };

            }).always(function () {
                //alert("after all");
            });

        return false;

        });

    </script>
    

}

