﻿@{
    ViewBag.Title = ViewBag.Title ?? "Submit Claim";

    ViewBag.RunningInDevMode = ViewBag.RunningInDevMode ?? false;   //default to false
}


<div id="page_content">

    <h2>Submit Claim:</h2>

    <p>To submit a claim, please contact customer service at confirmations@green-fuse.com.</p>
    <p>Most suppliers require claims related to shipping and quality to be submitted within 3-5 days of receipt of shipment. Many require photos of the damage.</p>

</div>



@if(ViewBag.RunningInDevMode){

<div id="test_area" style="display:block; height:300px; border:dotted 4px #ccc;">
    <div id="test_area_left_div">
        <p>Test Stuff:</p>
        <span style="margin-top:10px;" id="test_api_one">Claims API</span>
    </div>
    <div id="test_area_right_div">
        <div id="test_area_results_display_0" style="border-bottom: dashed 1px #ccc;">??</div>
        <div id="test_area_results_display_1" style="clear:both;">???</div>
    </div>
</div>

}


@section scripts {
@*
    //Use Bundle for PRODuction
        @Scripts.Render("~/bundles/PageScripts/SubmitClaim")  //ToDo: Create this 

    Use files during Development    
 *@   
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/numeral.min.js"></script>
    <script src="~/Scripts/PageScripts/SubmitClaim.js"></script>

    
    <script type="text/javascript">
        $(document).ready(function () {
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "My Account", Href: "/myaccount", Title: "My Account Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "Submit Claim", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);

            

        });

        viewModel.init();

    </script>
}


@section styles {
    <link href="~/Content/styles/SubmitClaim.css" rel="stylesheet" />

    <style type="text/css">
        /********************** Test Area CSS ********************/
        #test_area_left_div
        {
            float: left;
            height: 350px;
            max-height: 250px;
            width: 275px;
            font-size: 12px;
            border-right: solid 10px #f0f0f0;
        }

        #test_area_left_div p {
            margin:0;
            padding:0;
            font-size:12px;
        }

        #test_area_right_div {
            float:left;
            width:950px;
            height:350px;
            max-height:350px;
            font-size:12px;
            border: dotted 1px #008;
        }
        #test_area_results_display_0
        {
            max-height:75px;
            overflow-y:scroll;
        }
        #test_area_results_display_1
        {
            max-height:250px;
            overflow-y:scroll;
        }
    </style>
}



