﻿@{
    ViewBag.Title = ViewBag.Title ?? "orders.green-fuse.com|Terms and Conditions";
}

@section styles {
    <style type="text/css">


        #page_content {
            height:725px;
        }
        #terms_and_conditions_container {
            margin:5px auto 0 auto;
            padding:0;
            width: 100%;
            height: 675px;
            border: 1px dashed #ccc;
        }

    </style>
}


<div id="page_content">

    <iframe id="terms_and_conditions_container" src="">

    </iframe>

@*    <p>Download orders.green-fuse.com <a href="" target="_blank">Terms and Condition</a>.</p>

     <form><input type="button" value="Download Now" onClick="window.location.href = ''"></form> *@

</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "Terms and Conditions", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);

        });

    </script>

}




