﻿@{
    ViewBag.PageMode = ViewBag.PageMode ?? "all";
    ViewBag.Title = ViewBag.Title ?? "Users";

    ViewBag.RunningInDevMode = ViewBag.RunningInDevMode ?? false;   //default to false
}

<div id="manage_users_grid_template">
    <table id="manage_users_grid"  class="summary_grids" border='0' cellpadding='0' cellspacing='0'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Site Permisions</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr id="manage_users_grid_data_row_template" class="manage_users_grid_rows">
                <td class="user_names">&nbsp;</td>
                <td class="site_preferences_radio_group_display">
                            <input type="radio" name="??" value="CustomerAdministrator" /><label>Admin</label> 
                            <input type="radio" name="??" value="CustomerOrderer"  /><label>Place Orders</label>
                            <input type="radio" name="??" value="CustomerReadOnly"  /><label>Read Only</label>
                </td>
             <!--   <td class="delete_user_buttons">
                    <img src="/images/icons/delete/cancel_button_icon_red_16.png" alt="" title="Remove this user." onclick="var guid = $(this).closest('tr').prop('id'); viewModel.manageUsersDeleteUser(guid);"/>
                </td>
                 -->
                <td class="delete_user_links">
                    <img src="/Images/layout/pg_pointer.png" alt="">&nbsp;<a class="manage_user_delete_links">DELETE</a>
                </td>

                
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>


<div id="user_input_container_template">
    <div id="user_input_container">
        <div class="item_display">
            <label for="FirstName" class="required_fields">First Name</label>
            <div class="input_displays">
                <input id="FirstName" type="text" maxlength="16">
                <span class="validation_messages"></span>
            </div>
        </div>

        <div class="item_display">
            <label for="LastName" class="required_fields">Last Name</label>
            <div class="input_displays">
                <input id="LastName" type="text" maxlength="16">
                <span class="validation_messages"></span>
            </div>
        </div>

        <div class="item_display">
            <label for="EmailAddress" class="required_fields">Email Address</label>
            <div class="input_displays">
                <input id="EmailAddress" type="text" maxlength="70">
                <span class="validation_messages"></span>
            </div>
        </div>
                   
        <div class="item_display">
            <label for="PhoneNumber" class="required_fields">Phone Number</label>
            <div class="input_displays">
                <input id="PhoneNumber" type="text">
                <span class="validation_messages"></span>
            </div>
        </div>
        <div class="item_display">
            <label for="Password" class="required_fields">Password</label>
            <div class="input_displays">
                <input id="Password" type="password">
                <span class="validation_messages"></span>
            </div>
        </div>
        <div class="item_display">
            <label for="ConfirmPassword" class="required_fields">Confirm Password</label>
            <div class="input_displays">
                <input id="ConfirmPassword" type="password">
                <span class="validation_messages"></span>
            </div>
        </div>

        <div id="company_role_radio_container" class="radio_group_containers">
            <p>Company Role</p>
            <span class="radio_group_display" >
                <input type="radio" name="company_role" value="Owner" id="company_role_input_owner" checked="checked"/><label for="company_role_input_company" >Owner</label> 
                <input type="radio" name="company_role" value="Grower" id="company_role_input_grower" /><label for="company_role_input_grower">Grower</label>
                <input type="radio" name="company_role" value="Agent" id="company_role_input_purchasing_agent" /><label for="company_role_input_purchasing_agent">Purchasing Agent</label>
                <input type="radio" name="company_role" value="Other" id="company_role_input_other" /><label for="company_role_input_other">Other</label>
            </span>
            <span class="validation_messages"></span>
        </div>  
        <div id="site_permissions_radio_container" class="radio_group_containers">
            <p>Site Permission</p>
            <span class="radio_group_display" >
                <input type="radio" name="site_permission" value="CustomerAdministrator" id="company_role_input_admin" checked="checked"/><label for="company_role_input_admin">Admin</label> 
                <input type="radio" name="site_permission" value="CustomerOrderer" id="company_role_input_place_orders" /><label for="company_role_input_place_orders">Place Orders</label>
                <input type="radio" name="site_permission" value="CustomerReadOnly" id="company_role_input_read_only" /><label for="company_role_input_read_only">Read Only</label>
            </span>
            <span class="validation_messages"></span>
        </div>  

@*        <div id="company_role_selection_container" class="selection_group_container">
            <p>Company Role</p>
            <span class="selection_group_singular_displays">
                <span id="company_role_owner" class="unselected" data-value="Owner">Owner</span>
                <span id="company_role_grower" class="unselected" data-value="Grower">Grower</span>
                <span id="company_role_purchasing_agent" class="unselected" data-value="PurchasingAgent">Purchasing Agent</span>
                <span id="company_role_other" class="unselected" data-value="Other">Other</span>
            </span>
            <span class="validation_messages">Message Here</span>
        </div>*@

@*        <div id="site_permissions_selection_container" class="selection_group_container">
            <p>Site Permissions</p>
            <span class="selection_group_singular_displays">
                <span id="site_permissions_admin" class="unselected" data-value="Administrator">Admin</span>
                <span id="site_permissions_place_orders" class="unselected" data-value="PlaceOrders">Place Orders</span>
                <span id="site_permissions_read_only" class="unselected" data-value="ReadOnly">Read Only</span>
            </span>
            <span class="validation_messages">Message Here</span>
        </div>*@
    </div>
        <div id="button_display">
            <a id="add_user_button" class="action_buttons" >Add User</a>
        </div>

</div>

<div id="page_content">
    
    <h1>Users</h1>

    <div id="add_users_container"></div>


   
    <div id="manage_users_container">
        
    </div>



</div>



@if(1==2){

<div id="test_area" style="display:block; height:300px; border:dotted 4px #ccc;">
    <div id="test_area_left_div">
        <p>Test Stuff:</p>
        <span style="margin-top:10px;" id="test_api_users">GET users api</span><br />
        <span style="margin-top:10px;" id="test_data_users">Show users data</span><br />
        <span style="margin-top:10px;" id="test_data_post">POST Test Data</span><br />
    </div>
    <div id="test_area_right_div">
        <div id="test_area_results_display" style="clear:both;">???</div>
    </div>
</div>

}





@section scripts {
    @*Use Bundle for PRODuction*@
@*
    @Scripts.Render("~/bundles/PageScripts/Users")  
*@


    @*Use files during Development*@    
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/numeral.min.js"></script>
    <script src="~/Scripts/eps_expanse.js"></script>
    <script src="~/Scripts/PageScripts/Users.js"></script>
    




    <script type="text/javascript">

        $(document).ready(function () {
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "My Account", Href: "/myaccount", Title: "My Account Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "Users / @ViewBag.PageMode", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);

            viewModel.config.pageMode = "@ViewBag.PageMode";

            viewModel.init();

        });


    </script>
}


@section styles {
    <link href="~/Content/styles/eps_expanse.css" rel="stylesheet" />
    <link href="~/Content/styles/Users.css" rel="stylesheet" />

    <style type="text/css">
        /********************** Test Area CSS ********************/
        #test_area_left_div {
            float: left;
            height: 295px;
            max-height: 295px;
            width: 275px;
            font-size: 12px;
            border-right: solid 10px #f0f0f0;
        }

        #test_area_left_div p {
            margin:0;
            padding:0;
            font-size:12px;
        }

        #test_area_right_div {
            float:left;
            width:975px;
            height:295px;
            max-height:295px;
            font-size:12px;
            border: dotted 0px #008;
        }
        #test_area_results_display {
            max-height:290px;
            overflow-y:scroll;
        }
    </style>
}
