﻿@{
    ViewBag.Title = "LoginPopUp";
}

@section styles {
@*    <link href="~/Content/styles/PopUpLogIn.css" rel="stylesheet" />*@
    <style type="text/css">
        #page_content {
            height:600px;
        }
        #login_container {
            /*background:#808080;*/
            /*border: 10px solid #aaa  ;*/
        }

        #test_display {
            clear: both;
            margin:135px 0 0 0;
            padding:5px;
            background:#f0fff0;
            border: dashed 4px #8a8;
        }
    </style>
}

<div id="page_content">
    &nbsp;
</div>



@section Scripts {

    @*<script src="~/Scripts/SimpleMembership.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            
            staticLogIn();
        });

    </script>

}
