﻿@{
    ViewBag.Title = "AuthorizeNet";
}


<div id="page_content">

    <h2>AuthorizeNet</h2>
    <div id="left_display">
        <hr />
        <p>Create Profile:</p>
        <form id="form1" action="#">
            <table>
            <tr>
                <td><label for="EmailAddress" >Email Address: </label></td>
                <td><input id="EmailAddress" type="text" /></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="ProfileDescription" >Profile Description: </label></td>
                <td><input id="ProfileDescription" type="text" /></td>
                <td><input id="submit_profile" type="submit" value="submit" /></td>
            </tr>
            </table>

        </form>
        <hr />
        <p>Delete Profile:</p>
        <form id="form2" action="#">
            <table>
            <tr>
                <td><label for="ProfileId" >Profile Id: </label></td>
                <td><input id="ProfileId" type="text" /></td>
                <td><input id="submit_delete" type="submit" value="submit" /></td>
            </tr>
            </table>

        </form>
        <hr />

    </div>

    <div id="right_display">
        <span>Profile Ids: </span>
        <select id="customer_profile_ids_select">
            <option>??</option>
        </select>
         <input type="button" value="Clear" onclick="clearProfiles();"/>
         <input type="button" value="Refresh" onclick="displayProfiles();"/>
        <br />
        <div id="customer_profiles_display">

        </div>
   </div>

</div>




@section scripts {

    <script type="text/javascript">
        var clearProfiles = function () {
            var list = $("#customer_profile_ids_select");
            list.empty();
            var display = $("#customer_profiles_display");
            display.empty();

        };

        var displayProfiles = function () {
            //alert('displayProfiles');

            $.ajax({
                type: "get",
                url: "/api/CardOnFile/",
                datatype: "json",
                beforeSend: function (jqXHR, settings) {
                    //alert("SENDING:\nurl: " + this.url);
                },
                success: function (response, textStatus, jqXHR) {

                    var list = $("#customer_profile_ids_select");
                    list.empty();
                    $.each(response.ProfileIds, function (i, profileId) {
                        var li = $('<option />');
                        //alert(profileId);
                        li.text(profileId);
                        list.append(li);
                    });

                    var display = $("#customer_profiles_display");
                    display.empty();

                    display.append(traverseObj(response.Profiles, true));

                    //alert("RESPONSE:\n" + traverseObj(response, false));


                },
                //error: function (jqXHR, textStatus, errorThrown) {
                //    alert("url: " + this.url + "\ntextStatus: " + textStatus + "\nerrorThrown " + errorThrown);
                //},
                complete: function (jqXHR, textStatus) {
                }
            });

        };
        

        $('#form1').submit(function () {
            var data = {
                "EmailAddress": ($("#EmailAddress").val() || ""),
                "Description": $("#ProfileDescription").val() || ""
            };

            $.ajax({
                type: "put",
                url: "/api/CardOnFile/",
                data: data,
                datatype: "json",
                beforeSend: function (jqXHR, settings) {
                    alert("SENDING:\nurl: " + this.url + "\nDATA:\n " + traverseObj(data, false));
                },
                success: function (response, textStatus, jqXHR) {
                    alert("RESPONSE:\n" + traverseObj(response, false));
                },
                //error: function (jqXHR, textStatus, errorThrown) {
                //    alert("url: " + this.url + "\ntextStatus: " + textStatus + "\nerrorThrown " + errorThrown);
                //},
                complete: function (jqXHR, textStatus) {
                }
            });
            return false;
        });

        $('#form2').submit(function () {
            var profileId = $("#ProfileId").val().trim();
            var url = "/api/CardOnFile/" + profileId;
            $.ajax({
                type: "delete",
                url: url,

                datatype: "json",
                beforeSend: function (jqXHR, settings) {
                    alert("SENDING:\nverb: " + this.type + "\nurl" + this.url);
                },
                success: function (response, textStatus, jqXHR) {
                    alert("RESPONSE:\n" + response);
                },
                //error: function (jqXHR, textStatus, errorThrown) {
                //    alert("url: " + this.url + "\ntextStatus: " + textStatus + "\nerrorThrown " + errorThrown);
                //},
                complete: function (jqXHR, textStatus) {
                }
            });
            return false;
        });


        $(document).ready(function () {
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Test", Href: "/test", Title: "Test Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "AuthorizeNet", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);
         
            displayProfiles();
        });


    </script>
}

@section styles {
    <style type="text/css">
        #page_content {
            height: 650px;
            margin: 0 0 20px 0;
            padding: 0;
        }
        #left_display {
            float:left;
            width:49%;
        }
        #right_display {
            float:right;
            width:49%;
        }
        h2 {
            margin:0;
            padding:4px;
        }

        p {
            margin:0;
            padding:0;
            font-size:12px;
        }
        td label {
            text-align: right;
            font-size:12px;
        }
        td input[type=text], input[type=submit], input[type=button] {
            font-size:12px;
        }
        #customer_profile_ids_select
        {
            width:100px;
        }
        #customer_profiles_display {
            border:dashed 1px #ccc;
        }
    </style>
}



