﻿@{
    ViewBag.Title = "Dialogs";
}


<div id="page_content">

    <h2>Dialogs</h2>

    <a href="JAVASCRIPT: eps_tools.OkDialog({'title':'<span>OK Dialog</span>', 'content':'<span>Content Line #1<br />Content Line #2<br />Content Line #3<br />Content Line #4<br /></span>', 'modal':false });">OK Dialog</a>
    <br />
    <a href="JAVASCRIPT: eps_tools.OkDialog({'title':'<span>Modal Ok Dialog</span>', 'content':'<span>Content Line #1<br />Content Line #2<br />Content Line #3<br />Content Line #4<br /></span>', 'modal':true });">Modal OK Dialog</a>
    <br />
    <a href="JAVASCRIPT: eps_tools.FloatingMessage(425, 225 , 'This is the message', 2500);">Floating Message</a>

    <br />
    <a href="JAVASCRIPT: eps_tools.Dialog.open({'title':'<span>Title</span>', 'content':'<span>Content Line #1<br />Content Line #2<br />Content Line #3<br />Content Line #4<br /></span>', 'action':'', 'modal':false});">Dialog</a>
    <br />
    <a href="JAVASCRIPT: eps_tools.Dialog.open({'title':'<span>Title</span>', 'content':'<span>Content Line #1<br />Content Line #2<br />Content Line #3<br />Content Line #4<br /></span>', 'action':'', 'modal':true});">Modal Dialog</a>
    
   

</div>


@section styles {
@*    <link href="~/Content/styles/eps-dialogs.css" rel="stylesheet" />*@
    <style type="text/css">
        #page_content {
            height: 400px;
            margin: 0 0 20px 0;
            padding: 0;
        }

    </style>
}

@section scripts {
@*    <script src="~/Scripts/eps-dialogs.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            var breadCrumbs = [];
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Home", Href: "/", Title: "Home Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "anchor", Text: "Test", Href: "/test", Title: "Test Page", State: "Active" });
            breadCrumbs.push({ Id: "", Type: "span", Text: "Dialogs", Href: "", Title: "You are here!", State: "Active" });
            breadCrumbModel.ClearDisplay();
            breadCrumbModel.Display(breadCrumbs);

            

        });


    </script>
}

