﻿@{
    ViewBag.Title = ViewBag.Title ?? "SimpleMembership";
}

@section styles {
    <link href="~/Content/styles/PopUpLogIn.css" rel="stylesheet" />
    <style type="text/css">
        #page_content {
            height:500px;
        }
        #test_display {
            clear: both;
            margin:135px 0 0 0;
            padding:5px;
            background:#f0fff0;
            border: dashed 4px #8a8;
        }
    </style>
}

@section scripts {
    
    @*<script src="~/Scripts/SimpleMembership.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            updateSignInStatus();

        });


        $("#button_log_in").button().click(function () {
            popUpLogIn();
            //logInDialog.dialog("open");
        });
        $("#button_test_authentication").button().click(function () {
            testMe();
        });
        $("#button_test_get_autentication").button().click(function () {
            var authentication = getAuthentication();
            var heading = "Get Authentication:";
            var content = "<br />LoggedIn: " + authentication.LoggedIn;
            if (authentication.LoggedIn) { content += "<br />UserName: " + authentication.UserName + "<br />Is Administrator: " + authentication.IsAdministrator; };
            popUpMessage(content, heading);

        });
        $("#button_test_log_off").button().click(function () {
            logOffPopUp();
        });

        var logOffPopUp = function () {
            $.ajax({
                type: 'post',
                url: '/test/LogOff',
                data: {},
                datatype: "json",
                beforeSend: function (jqXHR, settings) {
                    //alert("AJAX url: " + this.url);
                },
                success: function (response) {
                    //alert("Logged In: " + response.LoggedIn );
                    var heading = "Log Off:";
                    var content = "Was logged in: " + response.WasLoggedIn;
                    content += "<br /> Is logged in: " + response.IsLoggedIn;
                    popUpMessage(content, heading);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("url: " + decodeURI(this.url) + "\ntextStatus: " + textStatus + "\nerrorThrown " + errorThrown);
                },
                complete: function (jqXHR, textStatus) {

                }
            });
        };
        var testMe = function () {
            $.ajax({
                type: 'post',
                url: '/test/TestMe',
                data: {},
                datatype: "json",
                beforeSend: function (jqXHR, settings) {
                    //alert("AJAX url: " + this.url);
                },
                success: function (response) {
                    var msg = "<br />LoggedIn: " + response.LoggedIn;
                    if (response.LoggedIn) msg += "<br />UserName: " + response.UserName + "<br />Is Administrator: " + response.IsAdministrator;
                    popUpMessage(msg, "Test Authentication:");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("url: " + decodeURI(this.url) + "\ntextStatus: " + textStatus + "\nerrorThrown " + errorThrown);
                },
                complete: function (jqXHR, textStatus) {
                }
            });
        };
        var isAuthenticated = function () {
            var authenticated = false;
            $.ajax({
                type: 'post',
                async: false,        //synchronous return;
                url: '/test/TestMe',
                data: {},
                datatype: "json",
                beforeSend: function (jqXHR, settings) {
                    //alert("AJAX url: " + this.url);
                },
                success: function (response) {
                    authenticated = response.LoggedIn;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("url: " + decodeURI(this.url) + "\ntextStatus: " + textStatus + "\nerrorThrown " + errorThrown);
                },
                complete: function (jqXHR, textStatus) {
                }
            });
            return authenticated;
        };






    </script>
}

@*<div id="sign_in_dialog" title="Sign-In">
    <div id="login_container"></div>
</div>

<div id="dialog_message_ok_container">
    <div id="dialog_message_ok_content"></div>
</div>*@


<div id="page_content">
    <h2>Test: Pop-up, in-page (AJAX) Login:</h2>
    <p>The current &quot;Sign In&quot; area up in the page headers is created in C# on the client and requires page refresh.</p>
    <p>This area below will replace that and operate without a page refresh.</p>


    <div id="header_row_1">
        <div id="header_row_1_right">
            <div id="phone_display">854-674-8440</div>
            <div id="top_navigation_display" >
                <span id="mp_sign_in_display"><a href="JAVASCRIPT:popUpLogIn();">Sign In</a></span> |  @Html.ActionLink("My Account", "MyAccount", "Home") | @Html.ActionLink("Support", "Support", "Home")
            </div>
        </div>

        <div class="header_row_1_left">
            <div id="logo_display">
                <img src="~/Images/layout/gfb_logo.png" alt="Green Fuse Logo" onclick="window.location.href='/'"/>
            </div>
        </div>
</div>
    
    @*<a href="JAVASCRIPT:popUpPageLink('/home/myaccount')">My Account</a>*@



@*
    @if (Request.IsAuthenticated) {
    <text>
        [ Signed In: @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" }) ]
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a>
        }
    </text>
} else {
    @Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })





    *@
    <div id="test_display">
        <p>Test stuff:</p>
@*        @Html.Partial("_LoginPartial")*@
        <span id="button_log_in">Log In</span>
        <span id="button_test_get_autentication">Get Authentication [sync]</span>
        <span id="button_test_authentication">Test Authentication [async]</span>
        <span id="button_test_log_off">Log Off</span>
    </div>


</div>


