﻿


<div class="modal-header">
    <h3 class="modal-title"> {{varietyDetailData.VarietyName}} </h3>
</div>

<div class="modal-body">
    <img ng-show="varietyDetailData" ng-src="{{varietyDetailData.VarietyImageUrl}}" alt="" />
    <div style="display:inline-block">
        <span>{{varietyDetailData.SpeciesName}}</span>
        <br />
        <br />
        <span>{{varietyDetailData.Name}}</span>
        <br />
        <span>Breeder: {{varietyDetailData.BreederName}}</span>
        <br />
        <span>Color: {{varietyDetailData.ColorDescription}}</span>
        <br />
        <span>Habit: {{varietyDetailData.Habit}}</span>
        <br />
        <span>Vigor: {{varietyDetailData.Vigor}}</span>
    </div>
</div>
<div class="modal-footer">
    <!--<p>{{varietyDetailData}}</p>-->
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>


