﻿@using System.Web;
@using ePS.Controllers.api;
<!doctype html>
<html lang="en">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @{

        var headerCSS = "header.css";
        var cont = new GrowerController();

        


    }
    <link href="~/Content/styles/@headerCSS " id="EPSHeader" rel="stylesheet" />

    <link href="~/Content/styles/footer2.css" rel="stylesheet" />

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />

    <link href="~/Images/icons/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <title>UNSPONSORED RIDER</title>

    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/bundles/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")




    <!------- Detect Early IE ------->
    <script type="text/javascript">
        var eps_EarlyIeBrowser = false;
    </script>

    <script>document.createElement('footer');</script>




</head>
<body>
    <!-- START HEADER -->
    <!--<div class="background_gf">-->
    <div id="HeaderDiv2" name="HeaderDiv2" class="boxed-fluid" style="display:@ViewBag.HeaderDisplay">
        <header class="header">
            <!--  <div class="header-top-line"></div>
                <div class="header-top"></div>-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <div class="headerText">
                            <h1><a href="/Home/Index" style="text-decoration:none">UNSPONSORED RIDER</a></h1>
                            <span id="mp_sign_in_display" name="mp_sign_in_display"></span>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <nav class="main-nav">
                           
                            <ul>


                                <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/ApparelOrder/Apparel">Apparel<br /><span class="sub">Products</span></a></li>
                                <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/Partners/Partners">Partner<br /><span class="sub">Manufacturers</span></a></li>
                                <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">Athlete <br /><span class="sub">Profiles</span></a></li>
                                <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/RideConnect/RideConnect">Ride Connect <br /><span class="sub">Local Rides/Events</span></a></li>
                                <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/RaceConnect/RaceConnect">Race Connect <br /><span class="sub">Race Support/Chat Rooms</span></a></li>
                                <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/Home/About">About Us<br /><span class="sub">Contact Us</span></a></li>
                                <li id="menu-item-signin" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/Account/Login">Sign In<br /><span class="sub">Log In</span></a></li>
                                <li id="menu-item-signout" class="menu-item menu-item-type-post_type menu-item-object-page" style="display:none"><a href="JAVASCRIPT:logOff();">Sign Off<br /><span class="sub">Log Out</span></a></li>
                            </ul>
                        </nav>
                    </div> <!--end div col-md-8 col-xs-6 -->
                </div> <!--end div row -->
            </div> <!--end container -->
        </header>
    </div>
    <!--   </div>-->
    <!-- END HEADER -->


    @RenderBody()

    <!-- Start footer_content -->

    <div id="footer_content">
        <p>©2021 by Unsponsored Rider</p>
    </div>
    <!-- End #footer_content -->

</body>

    @*<script src="~/Scripts/pageScripts/layout.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/siteJs")
    


  

   
  

<!-----  END NEW HEADER -------------->


    @RenderSection("scripts", required: false)
</html>